[2016-02-26 10:54] zeroDivisible commented on #885
@lunaryorn brilliant, thanks for the tip! I removed my `~/.emacs.d/elpa` and redownloaded everything, it looks like Flycheck really does not enable itself in helm buffers now:

[code]

(that's roughly the same test, numbers don't match, but you get the idea).

Thanks for the quick resolution! :)

[2016-02-26 10:56] lunaryorn commented on #885
@zeroDivisible Great, it feels good to see that the work of #883 already pays off :blush: Thank you very much for your report and for your quick feedback on our changes, particularly for the detailed profile information.  That's awesome! :+1: :clap:

[2016-02-26 10:56] lunaryorn commented on #885
I am closing this issue as duplicate of #883.

[2016-02-26 10:56] #885 closed

[2016-02-27 16:57] spwhitton opened #888 "Tests for haskell-ghc and haskell-stack-ghc broken in 0.25.1"
Hello,

The tests for the haskell-ghc and haskell-stack-ghc checkers are skipped in a clean Debian Sid chroot that has both ghc and stack installed and in $PATH (Emacs 24.5.1; flycheck 0.25.1).  Why might this be?

    SKIPPED  flycheck-define-checker/haskell-ghc/complete-chain
    SKIPPED  flycheck-define-checker/haskell-ghc/literate
    SKIPPED  flycheck-define-checker/haskell-ghc/syntax-error

[2016-02-27 17:30] lunaryorn commented on #888
@spwhitton Did you run `cask install` before?

[2016-02-27 18:06] spwhitton commented on #888
Thanks for your reply.  I'm preparing a Debian package of flycheck (so users can just `apt-get install elpa-flycheck`) which means that I cannot use Cask.  I do, however, have haskell-mode, shut-up, let-alist, seq and dash all installed and available to Emacs.

[2016-02-27 18:14] lunaryorn commented on #888
@spwhitton Well, the test cases need Haskell Mode; you must have Haskell Mode's autoloads loaded, otherwise the test will be skipped because the mode is missing.

----

Our whole tooling on the Emacs Lisp side, including our test suite, builds upon Cask.  Specifically we rely upon Cask to install all Emacs Lisp dependencies of the test suite.  If you look at `test/run.el` you'll see that we explic

[2016-02-27 18:14] #888 closed

[2016-02-27 18:16] spwhitton commented on #888
I completely understand that you don't want to support Debian's package manager.  I'll see if perhaps the autoloads aren't loaded -- thanks for pointing me in that direction.

[2016-02-27 18:16] lunaryorn commented on #888
In other words, as far as we are concerned you must have Cask to run the tests.  If you can't use Cask you are on your own, and have to take a look at the source code to find out whether it's even possible to run our tests without Cask.

Should you require changes to our tooling in our to build your Debian package, we'll gladly review corresponding pull requests.  Thank you very much.

[2016-02-27 18:26] cpitclaudel commented on #888
@spwhitton Is there a reason to distribute Flycheck through Debian's package manager rather than MELPA? I'm happy to help too, of course, but I'm not sure whether `apt-get install elpa-flycheck` is simpler than `M-x package-install RET flycheck RET`, and I'm a bit afraid of the fragmentation.

[2016-02-27 18:30] spwhitton commented on #888
@cpitclaudel Here's a few reasons:

- easier to automate the installation of flycheck when setting up a new OS installation
- the Debian archive is more trustworthy than MELPA at present:
  - MELPA still contains packages pulled from the publicly editable Emacs Wiki
  - MELPA does not yet verify signatures on downloaded packages
  - Emacs does not verify https server certificates by default

[2016-02-27 18:41] cpitclaudel commented on #888
@spwhitton Thanks!

[2016-02-27 19:10] cpitclaudel commented on #860
Oops, I posted to https://github.com/melpa/melpa/issues/3480 instead of here.

Would

[code]

do?

[2016-02-27 19:58] lunaryorn commented on #860
@cpitclaudel Oh, that's a nice idea.  I think this would neatly fix this error, at a slight performance impact probably, but I don't think that this matters.

Please feel free to push this change!

[2016-02-27 20:33] lunaryorn opened #892 "Define versioning policy following 1.0"
Use semver, but loose some restrictions on backwards compatibility.  We should be able to make breaking changes to syntax checker definitions without having to bump the major version.

[2016-02-27 20:35] jacksonrayhamilton opened #893 "Default JavaScript linter"
Should JSHint remain the default JavaScript linter, or should ESLint be the default? Here is my evaluation of the two linters (with respect to their default status in Flycheck):

# JSHint

## Pros

- Was the default for a while (therefore, leaving it there prevents a breaking change)
- Has been around longer, and thus is probably used by more projects

## Cons

- More opinionated than ESLint, ther

[2016-02-27 20:52] lunaryorn commented on #893
Thank for you thorough analysis.  Do I understand correctly that you're not personally affected by the changed preferences?  In other words, currently we discuss purely on theoretical grounds?  I'm just trying to assess the urgency of this issue.

I don't see a decisive argument for either side, but I would like to point out that backwards compatibility is not our concern currently—hence the 0.x v

[2016-02-27 21:10] jacksonrayhamilton commented on #893
I was affected momentarily, but then I generalized my linter checking code to what is posted above, and then I was no longer affected.

[2016-02-27 21:13] Stebalien opened #894 "rust-cargo is insecure"
Before syntax checking, cargo compiles and *executes* `build.rs` for the current crate and all dependencies. Unfortunately, it doesn't sanbox this process. This means that opening any rust crate with rust-cargo enabled can lead to arbitrary code execution :sob:.

[2016-02-27 21:26] lunaryorn commented on #893
We do dynamically detect linters based on configuration files in some cases, but in this case that's not a viable option I think.  I think it's a legitimate use case to run `eslint` for syntax checking alone, e.g. in a throw-away node.js script.  In addition to that eslint has quite a complex algorithm for finding its configuration files which we'd have to somewhat mirror in order to accurately de

[2016-02-27 21:28] lunaryorn commented on #894
Thank you for reporting this issue.

I am aware, but as far as I'm concerned that's not an issue.  Our general policy hitherto was to allow any code that would reasonably run during normal compilation as well—which includes `build.rs`.

I'm aware that this constitutes a security risk, but I think it's a small one as it's a very narrow and very specific attack vector that's not likely to yield any

[2016-02-27 21:56] Stebalien commented on #894
How is this different from #630?

[2016-02-27 21:56] #860 closed

[2016-02-27 22:25] cpitclaudel commented on #894
@Stebalien If I understand this report correctly, `rust-cargo` doesn't run the current file; it only runs `build.rs`. Is that right? If so, then it's quite different from #630, as one can expect build.rs to contain only benign code (in a non-adversarial setting).

[2016-02-27 22:50] Stebalien commented on #894
`build.rs` is supplied by the crate being typechecked (which may not be trusted). That is, if I go to github, download a random crate, and then open `/path/to/crate/src/lib.rs` in emacs, `rust-cargo` will compile and execute `/path/to/crate/build.rs` (which I just downloaded from github).

[2016-02-27 23:18] cpitclaudel commented on #894
@Stebalien Sorry, was this an answer to me or to @lunaryorn? I think Sebastian pointed out that this was part of Flycheck's model. Would compiling that random Github project's makefile not run `build.rs`?

[2016-02-28 00:18] Stebalien commented on #894
@cpitclaudel that was for you. Rust projects generally don't use make so I'm not sure what you mean but yes, building will also execute `build.rs`. My point is that `build.rs` is just as likely to be malicious as any other file in the project. Worse, opening `build.rs` will also cause `build.rs` to be build and executed.

[2016-02-28 00:54] cpitclaudel commented on #894
@Stebalien Indeed, sorry about that mention of Makefile. I've fixed the post.

I think your point is clear :) Flycheck's current policy is that if building a project runs some code, then running that same code when doing a Flycheck check is also fine (@lunaryorn will correct me if this isn't an accurate representation of the policy, of course). Note that this problem also exists in virtually every

[2016-02-28 12:45] lunaryorn commented on #894
#630 was an issue of safety not of security.  Elixir runs the current module and not merely the build system.  However, while it's normal for a build system to run for the purpose of building and type-checking a module, it's not normal for the module itself.  I'm less concerned about security here, and more about safety:  A module could have unintended global side-effects.

[2016-02-29 13:11] lunaryorn commented on #882
@cmarqu Did my comment help you, or do you have further questions about error IDs?  Do you need specific help with Flycheck's API?

[2016-02-29 16:17] wbolster opened #896 "please add a flycheck-last-error function"
right now flycheck provides `flycheck-next-error`, `flycheck-previous-error`, `flycheck-first-error`, but no `flycheck-last-error`. i have a bunch of next/prev/first/last mappings (buffers, compilation errors, and so on), but currently there is a gap where `flycheck-last-error` fits in...

[2016-02-29 17:23] lunaryorn commented on #896
I'm sorry but we will not provide `flycheck-last-error`.   `flycheck-first-error` exists for no other reason than consistency with the built-in `first-error` but since there's no `last-error` we don't need to define a `flycheck-last-error` either.

Both are entirely redundant as you can easily use `M-< C-c ! n` or `M-> C-c ! p` respectively.  If you really need this feature as a command you can ea

[2016-02-29 17:23] #896 closed

[2016-02-29 17:49] wbolster commented on #896
hmmm yes, i can agree with that reasoning. i am a recent vim to evil convert, so bear with me. 😉

i'll define my own functions (per your suggestion) for my keymaps. thanks for the useful explanation!

[2016-02-29 19:02] lunaryorn commented on #896
@wbolster You're welcome.  Thank you for understanding and accepting our point of view :blush:

[2016-02-29 19:25] wbolster commented on #896
i'm all for minimal code bases with simple extensibility. i just don't have a good intuition yet for what is considered "bloat" for an editor ecosystem that's almost a complete os. 😉

    — wouter

--
sent from my phone. please forgive my tpyos.

On February 29, 2016 8:02:08 PM GMT+01:00, Sebastian Wiesner <notifications@github.com> wrote:

[2016-03-01 15:29] cpitclaudel commented on #833
Looks like `with-syntax-table` wasn't enough :/ The following example produces spurious warnings as well:

[code]

I'll prepare a new PR

[2016-03-02 05:43] #833 closed

[2016-03-02 10:39] kozross opened #899 "A checker for textlint?"
I recently came across [this](https://github.com/textlint/textlint), and thought it would make for a really nice Flycheck checker in a place where Flycheck hasn't really gone before (ordinary text). I don't know if this falls outside its scope, but it'd be something I'd really love to have.

[2016-03-02 10:42] lunaryorn commented on #899
@kozross It's surely within our scope, and it's a great idea.  Please feel free to open a pull request :relaxed:

[2016-03-02 11:54] cmarqu commented on #882
Sorry, things changed at work so it will be a few weeks/months (if ever) until I can try to work on this again. Feel free to close this issue or put on hold as you see fit.

[2016-03-02 11:54] lunaryorn commented on #882
@cmarqu I'm closing this issue then.

[2016-03-02 11:54] #882 closed

[2016-03-02 18:29] lunaryorn commented on #894
@Stebalien Does my comment satisfy you?  Or do you have further questions?

[2016-03-02 19:37] Stebalien commented on #894
So could a poorly written build system. Would you consider adding an option to disable insecure build systems?

There are motivations other than profit. I wouldn't put it past someone to exploit this just to show they can.

[2016-03-02 20:37] lunaryorn commented on #894
@Stebalien Even a poorly written build system wouldn't read or write any random file, but a module could—depending on the kind of project—very well do that.

I'll not address this issue myself; honestly, I simply don't care.  I'll accept a reasonable implementation as a pull request, though.

But there are a lot of implications and I imagine that it's anything else than easy.  If you'd like to giv

[2016-03-02 20:40] lunaryorn commented on #894
TL;DR:  Managing unsafe checkers is a lot of trouble.  If you're concerned about your security just don't enable Global Flycheck Mode, and instead manually enable Flycheck Mode for selected buffers after carefully disabling all unintended syntax checkers.

[2016-03-04 12:47] lunaryorn opened #901 "Drop in-emacs manual?"
I'm really fed up with Texinfo.  I'd love to go back to [Sphinx](http://www.sphinx-doc.org) and readthedocs as build service.  ReStructuredText is so much easier to write than Texinfo, and I think it's much more friendly to us as maintainers and to newcomers.

However, Sphinx' support for Texinfo is inferior.  When we used Sphinx in the past we worked around this with a lot of extensions to Sphinx

[2016-03-04 15:31] bbatsov commented on #901
I completely agree.

[2016-03-04 15:39] lunaryorn commented on #901
Sometimes I wished we had Google Analytics for Emacs… I'm dying to find out how many of my users actually ever looked at the manual in Emacs :grin:

[2016-03-04 15:56] tzz commented on #901
I'm sure many of you have seen https://lwn.net/Articles/625072/

And from me:

https://lists.gnu.org/archive/html/help-gnu-emacs/2010-05/msg00175.html

rule #1 of writing manuals:

They Won't Read It.

followed by rule #2:

They Still Won't Read It.

and then rule #3:

They'll Complain About It.

[2016-03-04 15:59] lunaryorn commented on #901
@tzz Thanks for your feedback, but… I must admit that I'm not sure what to make of it.  Do you agree with my point of view? Or not?  Or do you think that all efforts for a manual are vain?

[2016-03-04 16:08] tzz commented on #901
@lunaryorn I was trying to say that the vast majority of users don't read manuals, replying to your question about how many of your users look at your manual. Good UI is worth much more than a good manual. So I would use the documentation markup that's most comfortable for the developers with local project scope, which is probably RST.

I am especially skeptic of claims that any particular documen

[2016-03-04 16:55] lunaryorn commented on #901
I appreciate your opinion, but this is not the place for it.  If you seek to continue the discussion about Emacs' own manual format, please do so on emacs-devel.

Our own situation and our own preferences are very different from Emacs' and only little of was said in favour or against Texinfo on emacs-devel applies to us.  There's so much that's blocking and discouraging contributions to Emacs that

[2016-03-04 17:15] tzz commented on #901
@lunaryorn I **was** talking about Flycheck in particular, not about Emacs (and the link was relevant to you only as far as TexInfo itself, intending to show that even for Emacs itself it's not a beloved format). Sorry if I gave an impression otherwise.

Anyhow, my vote is to use RST or Markdown because they are much better than TeX derivatives.

[2016-03-04 17:38] lunaryorn commented on #901
@tzz Oh, I totally misunderstood your comments then 😳😔. I'm really really sorry!

Thank you very much for your feedback and your opinion! 😊. That's three (me included) in favour of Sphinx, at the expense of a Info manual for Emacs 😎

[2016-03-04 18:11] cpitclaudel commented on #901
+1 for dropping TeXinfo :) I for one am not very good at browsing documentation in Emacs anyway, but I did read the docs on Flycheck's website.

[2016-03-04 19:07] jwiegley commented on #901
As a person who has read the Emacs manual several times, I must say that I *love* it being in Info format, as it allows me to seamlessly consult it while programming, without changing environments or having to use a Web browser. For other things I have to use a Web or PDF browser to read documentation, and it's a far inferior experience.

That said, I understand the complaints against Texinfo.  Th

[2016-03-04 19:20] lunaryorn commented on #901
So do I @jwiegley, but the pain of maintaining Texinfo isn't worth the convenience of reading docs in Emacs, all the more as only few documentation is available as Info anyway.  I for my part mostly read docs in the excellent Dash app for OS X nowadays, and sometimes resort to browsing docs with EWW.

Markdown is no alternative indeed, and ReST alone neither, but ReST is an extensible markup forma

[2016-03-05 21:22] wbolster opened #902 "Checker for gettext .po file using msgfmt"
See summary. :)

[2016-03-05 21:28] lunaryorn commented on #902
@wbolster Thank you very much for this suggestion.  We welcome a pull request that adds such a checker.

[2016-03-07 21:47] choppsv1 commented on #185
I have a script called pycheckers that runs both, the person claiming this isn't useful must not have tried using both at once for any amount of time. They do overlap but also catch different problems as well. If there's an easier way than definining my own checker and running a script I sure would appreciate it. :)

[2016-03-11 14:38] spwhitton commented on #901
As the maintainer of the Debian packaging of flycheck, I'd like to request that if you switch to another format please ensure that it can be built from the git repository without making any network connections.  Then I can include it in `/usr/share/doc/elpa-flycheck`.  That's just as good as Texinfo from Debian's point of view :)

[2016-03-11 20:20] lunaryorn commented on #901
@spwhitton I'll try to keep this in mind, but I hope you'll understand that I cannot make a promise.

[2016-03-12 09:30] manuel-uberti commented on #901
I love reading manuals inside Emacs, but have no experience on writing them so I don't know about how hard it is to maintain them. The little I know of Flycheck, I know it because of the in-emacs manual.

However, as long as there is a manual, I'm happy to follow the new way. :-)

[2016-03-13 10:42] shanavas786 opened #907 "php-phpcs throws error on new file creation"
In global-flycheck-mode, when a new php file is created, it throws the following error.

[code]

Emacs version 24.4.1
Flycheck version 0.26

[2016-03-13 20:50] lunaryorn commented on #907
Would you please tell me your phpcs version?

[2016-03-14 06:02] shanavas786 commented on #907
PHP_CodeSniffer version 1.5.5 (stable) by Squiz (http://www.squiz.net)

[2016-03-14 10:57] lunaryorn commented on #907
That is a very old version of phpcs.  Please check whether the issue still exists with the latest release of phpcs.

[2016-03-14 15:15] shanavas786 commented on #907
Upgraded to PHP_CodeSniffer version 2.5.1 (stable) by Squiz (http://www.squiz.net). The issue is still remaining.
![out](https://cloud.githubusercontent.com/assets/5337197/13749004/95acf720-ea10-11e5-9646-8ca62238bdf1.gif)

[2016-03-14 15:16] shanavas786 commented on #907
accidentally closed.

[2016-03-14 18:31] kozross commented on #899
I came across something *very* similar which could be integrated [here][1]. What should I do to make this part of 'core' Flycheck, if anything?

[1]: https://github.com/amperser/proselint/blob/master/plugins/flycheck/flycheck-proselint.el

[2016-03-14 20:11] fxleblanc opened #908 "Malformed function and Wrong argument, sequencep, 1"
As explained in this issue, https://github.com/lifeisfoo/emacs-grails/issues/8, the following snippet:

[code]

in the file `.dir-locals.el` produces two errors in flycheck:
- `(groovy-mode (grails . 1))' is a malformed function
- Wrong type argument: sequencep, 1

However, the plugin still works.

[2016-03-14 21:25] cpitclaudel commented on #908
That makes sense: we're running an ELisp checker on a file that does not contain ELisp code (but instead an unquoted version of a list data structure).

[2016-03-14 21:25] cpitclaudel commented on #908
Should we just disable flycheck in .dir-locals files?

[2016-03-15 08:35] lunaryorn commented on #899
@kozross We would happily accept a pull request for this syntax checker.  Please follow our [Pull Request](https://github.com/flycheck/flycheck/blob/master/CONTRIBUTING.md#pull-requests) guide lines for further information.

We would like to ask that the pull request maintains proper authorship, though, i.e. commits should be attributed to @suchow.  And we prefer if @suchow explicitly agreed to ad

[2016-03-15 08:36] lunaryorn commented on #908
@cpitclaudel Probably.  I always enjoyed Flycheck for syntax checking there, and ignored the false positives, but I can see that these are very confusing, and strictly speaking `.dir-locals.el` is not proper Emacs Lisp code, but rather just data.

[2016-03-15 08:45] suchow commented on #899
You have my blessing to the extent that I am legally able to give it. A similar version of that code was originally posted on http://unconj.ca/blog/linting-prose-in-emacs.html, and then modified by @unhammer in https://github.com/amperser/proselint/issues/37.

[2016-03-15 09:52] unhammer commented on #899
Is textlint the same as proselint? (I don't think my .el changes were big enough to be copyrightable, but just in case I hereby allow licensing it under whatever flycheck uses.)

[2016-03-15 10:01] suchow commented on #899
@unhammer — they're different, but it seems this issue has expanded in scope a little to include proselint.

[2016-03-15 13:28] fxleblanc commented on #908
Is there a blacklist of filenames that i could set in my init.el? That could give more flexibility.

[2016-03-16 08:21] unhammer commented on #181
Is flycheck supposed to turn itself off automatically for tramp files? Because when I tried to open a tramp file now, it tried checking, and the checker of course failed (saying `IOError: [Errno 2] No such file or directory: u'/scp:divvun:/Users/unhammer/org/flycheck_rapport.org'`).

[2016-03-17 09:27] lunaryorn commented on #908
@fxleblanc There's no direct option for this, and we will not add one for what is a small edge case in a single syntax checker.  However, you can easily write your own `emacs-lisp-mode-hook` to turn of Flycheck in `.dir-locals.el`.

[2016-03-17 09:37] lunaryorn commented on #181
@unhammer Please open a new issue for this problem, and please follow our [Contribution guide](http://www.flycheck.org/contributing.html#bug-reports) on bug reports to make sure that all necessary information is included.  Thank you very much.

[2016-03-17 11:47] fxleblanc commented on #908
You're right. I'll try to figure something out.

[2016-03-17 19:56] fxleblanc opened #910 ""Command terminated with space" error"
This line in LateX:
[code]
gives me an error about a space at the end of the line. There is none. You can also check the [repository](https://github.com/MaisonLogicielLibre/git-cheatsheet) for the complete document.

[2016-03-17 19:59] cpitclaudel commented on #910
Hi Félix,

Thanks for your message! Is this an issue with FlyCheck, or with the LaTeX checker?

[2016-03-17 20:11] lunaryorn commented on #910
@fxleblanc The line break at the end of the command counts as space.  Add `{}` at the end to fix the warning.

Closing as invalid, since the question is really about chktex not Flycheck.

[2016-03-17 20:11] #910 closed

[2016-03-17 20:11] fxleblanc commented on #910
@cpitclaudel when flycheck is turned off, I don't get the errors, which is why I believe it's with Flycheck.

[2016-03-17 20:14] fxleblanc commented on #910
@lunaryorn thanks that did it. However, when I turned off flycheck, the error dissapeared.

[2016-03-18 10:04] jiegec opened #912 "When using emacsclient without emacs daemon started, the invocation executable is emacsclient instead of emacs."
The code here gets to invocation path of this emacs.
[code]

Then it invokes this emacs executable with -Q and --batch, which are not compatible in emacsclient. Maybe we should report this to gnu.

If I use emacs, the invocation-name is 'emacs'.
If I use emacsclient with a emacs daemon running, the invocation-name is 'emacs'.
If i use emacsclient without a emacs daemon running, the invocation-name

[2016-03-18 10:13] lunaryorn commented on #912
How do you use `emacsclient` without a daemon or server?

[2016-03-18 10:23] lunaryorn commented on #910
@fxleblanc Uhm, well, the whole purpose of Flycheck is to show these errors in-buffer, so naturally they go away when you turn Flycheck off… I'm sorry, but I don't understand what's the problem here.

[2016-03-18 10:28] jiegec commented on #912
Just emacs-client <some file here> and it complains:
[code]
Then it starts a new emacs instance and start editing.

[2016-03-18 10:32] lunaryorn commented on #912
@jiegec I'm sorry, but I still cannot reproduce your problem.  If I

- start `emacs -Q`,
- type `M-x server-start`,
- and run `emacsclient foo`

then I end up with `invocation-name` being `"emacs"`.

What OS are you on, and what's your Emacs version?  Could you probably compile a detailed step-by-step recipe to reproduce this issue?

[2016-03-18 10:35] jiegec commented on #912
I mean, no emacs server in the background and then start a emacsclient process. Then it find there is no emacs server, it starts a new emacs (not server) process and start editing the file in the command line. At this time, the invocation-name is emacsclient. I'm working on Mac OS X with Emacs 20.1.50.1 (almost HEAD version).

[2016-03-18 11:19] fxleblanc commented on #910
@lunaryorn the way you explain it, flycheck is the only way I can display these kinds of errors. My theory was that since it's a chktex error, I expected it to show them withtout flycheck enabled but with what you just said, it seems that flycheck leverages chktex but chktex by itself doesn't show errors.

[2016-03-18 12:28] lunaryorn commented on #910
You can also run chktex from AUCTeX, which will show its output and errors in a normal compilation buffer.  Flycheck is not mandatory to use chktex with Emacs.  The purpose of Flycheck is to show these errors directly in the buffer, and to run chktex continously (as opposed to explicitly invoking it via AUCTeX).

[2016-03-18 12:31] fxleblanc commented on #910
@lunaryorn thanks for clearing that up.

[2016-03-18 12:39] lunaryorn commented on #912
@jiegec I am sorry but I cannot reproduce this on the latest Emacs pretest.  If there's no Emacs running, `emacsclient` doesn't start anything on my system.

[code]

It does start Emacs if I `export ALTERNATE_EDITOR=emacs`, but that session has `invocation-name` Emacs, not `emacsclient`.

Please try to reproduce with Emacs 24.5 or with the current Emacs pretest.

[2016-03-18 13:25] jiegec commented on #912
Yes, my ALTERNATE_EDITOR is emacs. But that session has invocation-name to emacsclient.

I found something more interesting: If I `emacsclient -t`, and then describe-variable, It shows that the invocation-name is "-t" and invocation directory in nil. `emacsclient -t ~/.emacs.d/init.el` gets the same result.

So it seems more like a bug in Emacs it self.

[2016-03-18 14:02] lunaryorn commented on #912
@jiegec Oh, well, 2016-02-11 is pretty old for a snapshot.  You should build again.

I'll close this issue meanwhile, but if you can reproduce the issue on Emacs 24.5, Emacs 25 pretest or a recent snapshot (i.e. today's `master`) I'll reopen and investigate again.

[2016-03-18 14:02] #912 closed

[2016-03-18 14:22] jiegec commented on #912
Hmm, just built the newest git version and the error remains.

[2016-03-18 14:36] lunaryorn commented on #912
@jiegec And what about the pretest? Or Emacs 24.5?

[2016-03-18 14:42] jiegec commented on #912
@lunaryorn I am in UTC+8 so I have to sleep soon. I am using MacBook Air, which is well-known for its bad thermal dissipation, so every time I build emacs, it is too hot for me to do any work.

[2016-03-18 14:50] lunaryorn commented on #912
@jiegec Well, please understand that I leave this issue closed then.  I could not reproduce this problem on Emacs pretest, and as such I'm inclined to assume that it's either a glitch on your system or a temporary flaw in current Emacs `master`.

[2016-03-19 00:00] jiegec commented on #912
Yes i understand. I will check this again some day later.

[2016-03-20 21:07] kozross opened #914 "Contribution guidelines contain an incorrect gem instruction"
The instructions say this:

``markdownlint`` is meant to be installed by calling ``gem install mdl``.

[2016-03-20 21:10] kozross opened #915 "``rake check:fast`` fails at the Markdown step on branch"
As per the contribution guidelines, I forked Flycheck, made the changes to ``flycheck.el``, and tried to run ``rake check:fast`` locally. This gave me the following error:

    [koz@Emi flycheck]$ rake check:fast
    travis lint --exit-code --no-interactive
    valid
    mdl --style admin/markdown_style AUTHORS.md CHANGES.md CONDUCT.md CONTRIBUTING.md README.md
    README.md:1: MD041 First line in

[2016-03-22 08:56] #914 closed

[2016-03-22 08:56] #915 closed

[2016-03-22 08:57] lunaryorn commented on #915
@kozross Thank you for reporting this issue.  The latest mdl release introduced a new warning.  Fixed now.

[2016-03-22 08:57] lunaryorn commented on #914
Thank you for reporting :)  I've fixed the contributing guide.

[2016-03-22 09:17] lunaryorn commented on #907
@shanavas786 Does this also happen when the buffer has contents?

[2016-03-22 09:19] kozross opened #917 "``rake init`` fails to do anything"
Still following the contribution guidelines, I tried running ``rake init`` to set up local dependencies. I instead got this:

    [koz@Emi flycheck]$ rake init
    rake aborted!
    Don't know how to build task 'init'

    (See full trace by running task with --trace)

I installed the dependencies described in the guidelines (specifically Rake, Travis, Rubocop and MDL). Am I missing something crit

[2016-03-22 09:20] #917 closed

[2016-03-22 09:20] lunaryorn commented on #917
Oh, it's `rake init:all`, actually.  Fixed, and sorry for the hassle :disappointed:

[2016-03-22 09:22] kozross opened #918 "``rake check:fast`` fails on Flycheck head clone"
I get past the Travis, Markdown and Rubocop stages, but then I eventually hit this:

    # omitting some output
    Checking /home/koz/.emacs.d/.cask/24.5.1/bootstrap/shut-up-20150423.522...
    Compiling /home/koz/.emacs.d/.cask/24.5.1/bootstrap/shut-up-20150423.522/shut-up-autoloads.el...
    Compiling /home/koz/.emacs.d/.cask/24.5.1/bootstrap/shut-up-20150423.522/shut-up-pkg.el...
    Wrote /ho

[2016-03-22 09:24] lunaryorn commented on #918
@kozross I'd need to see your *exact* commands.  Are you sure that you're running on current `master`?  `let-alist` is built-in in upcoming Emacs 25, so this particular failure could only occur on Emacs 24.

[2016-03-22 09:31] kozross commented on #918
Sure thing. Here is exactly what I ran, along with output:

    [koz@Emi ~]$ git clone https://github.com/flycheck/flycheck
    Cloning into 'flycheck'...
    remote: Counting objects: 17604, done.
    remote: Compressing objects: 100% (15/15), done.
    remote: Total 17604 (delta 5), reused 1 (delta 1), pack-reused 17588
    Receiving objects: 100% (17604/17604), 13.63 MiB | 1.68 MiB/s, done.

[2016-03-22 09:34] lunaryorn commented on #918
Ah, sorry, I thought you were running on Emacs head.  My mistake.

Still, you're missing `rake init:all` here.  You'll need to install Cask and run `rake init:all` or `cask install` in order to have all required Emacs Lisp libraries, including `let-alist`, available.

[2016-03-22 09:36] lunaryorn commented on #918
Thinking of it, our process here is probably too complicated.  I'm currently porting our manual over to Sphinx, and as part of this process I'll try get rid of all this complexity.  You shouldn't need to go through all this, and I'll probably get rid of all this Rake stuff and replace it with some simple shell scripts.

[2016-03-22 09:39] kozross commented on #918
OK, thanks for that. I'll close this issue.

[2016-03-22 09:39] #918 closed

[2016-03-22 10:12] kozross opened #919 "Unexpected failing tests in ``rake check:fast`` against current Flycheck head"
I tried to run ``rake init:all`` followed by ``rake check:fast``. I have Cask, Rake (obviously), Travis, Rubocop and MDL available. The report showed that 49 of the tests failed; specifically, the following:

[code]

I have a full report of all the output of ``rake check:fast`` in a file, which I have attached
as [report.txt](https://github.com/flycheck/flycheck/files/183884/report.txt). My ``emac

[2016-03-22 10:30] lunaryorn commented on #919
@kozross I'm sorry, but I can't reproduce these, and `report.txt` suggests that the syntax checks timed out which I'd rather indicates to transient failures on your system.  Maybe it's under high load, or swapping, etc…  In any case these are likely not errors in the test suite itself, so I'm closing as invalid.

I'm sorry but I can't really help you to debug these.

[2016-03-22 10:30] #919 closed

[2016-03-22 10:31] lunaryorn commented on #919
Furthermore these tests run perfectly on Travis CI, which supports my conjecture that it's a failure specific to your system.

[2016-03-22 20:27] kozross commented on #919
How would I go about figuring out what specifically is causing these timeouts? This is happening on the machine I do most of my work on, and I obviously want to be able to check if my contributions to Flycheck pass their tests.

[2016-03-23 08:27] lunaryorn commented on #919
@kozross I don't know, honestly, for I never experienced so consistent timeouts.  I'd start with inserting some strategic `(message "DEBUG…")` calls in `flycheck-ert`.  The entry point for syntax checks in tests is `flycheck-ert-buffer-sync`, and `flycheck-ert-wait-for-syntax-checker` loops until the syntax check is finished.

I'm sorry, I really don't have a better idea, I'm really at a loss.  If

[2016-03-23 09:49] shanavas786 commented on #907
No, works fine on existing files. It is the error thrown by phpcs command when run on a non-existing file. I think flycheck has to ignore the error.

[2016-03-23 10:25] lunaryorn commented on #907
Would you mind to run the following commands and paste the entire output here?

[code]

[2016-03-24 05:48] shanavas786 commented on #907
➜ touch empty.php
➜ phpcs --report=checkstyle < empty.php
ERROR: You must supply at least one file or directory to process.

Usage: phpcs [-nwlsaepvi] [-d key[=value]] [--colors] [--no-colors]
    [--report=<report>] [--report-file=<reportFile>] [--report-<report>=<reportFile>] ...
    [--report-width=<reportWidth>] [--generator=<generator>] [--tab-width=<tabWidth>]
    [--severity=<severity>] [--

[2016-03-24 08:56] #907 closed

[2016-03-24 08:57] lunaryorn commented on #907
@shanavas786 Flycheck does not give file names to `phpcs`.  As you can see in the syntax checker definition we pass the contents of the buffer to standard input of `phpcs`.  Unfortunately, though, while phpcs seems to work fine on an empty file it appears to choke on empty standard input.

I changed Flycheck to skip phpcs if the buffer is empty to workaround this issue, but I'd argue that it's act

[2016-03-24 21:21] lunaryorn opened #920 "A Flycheck survey?"
Following https://github.com/melpa/melpa/issues/3493 I had the idea that we could probably run a survey (e.g. Typeform) which asks a couple of questions to users of Flycheck (e.g. OS, Emacs version, MELPA versus MELPA stable, how often they update, what programming languages they use Flycheck with, etc.).

We could then announce this survey on Twitter, Reddit, etc., and probably find a way to prom

[2016-03-24 21:35] cpitclaudel commented on #920
Would be nice! We already know about MELPA v. MELPA Stable though, right?
One annoying bit here is that since all the checkers are packaged together, we don't get to know how many people use each of them. But the only workaround that I can think of (one package per language) would be a pain for users.

[2016-03-24 22:04] choma opened #921 "Give original filename to phpcs"
As explained [here](https://github.com/squizlabs/PHP_CodeSniffer/issues/934#issuecomment-201022854), using file path instead of STDIN allows phpcs to infer which rules should be excluded.

[2016-03-24 22:43] lunaryorn commented on #921
Please summarise the discussion in the issue you've referenced as far as it's relevant to Flycheck and elaborate why we need to drop standard input for phpcs.  Ideally, try to produce a minimal example where phpcs behaves different as expected with Flycheck.

[2016-03-24 23:11] choma commented on #921
There are phpcs rules that *depends* on the file location.
As an example take this excerpt from CakePHP code sniffer ([taked from here](https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/ruleset.xml#L102)):
[code]
it tells to phpcs to exclude that rule when the path of the file being checked match the patterns.
So, if you are checking files under `src/` (which are almost all in a c

[2016-03-25 01:39] cpitclaudel opened #922 "Add an interactive spec to flycheck-stop"
Hey Sebastian,

Any objection to adding `(interactive)` to `flycheck-stop`? It makes it easier to bind it to a key (and that comes in handy when a rogue checker goes on a loop).

[2016-03-25 07:37] lunaryorn commented on #922
@cpitclaudel Are you aware that `flycheck-clear` interrupts checkers when given a prefix argument?  In other words, you can already press `C-u C-c ! C` to interrupt a syntax checker.

[2016-03-25 07:38] lunaryorn commented on #921
@choma Other syntax checkers (e.g. rubocop, eslint, etc.) solve this by accepting the name of the file as argument.  Is that no option for phpcs?

[2016-03-25 13:13] cpitclaudel commented on #922
I was not :)

[2016-03-25 14:05] choma commented on #921
I copy my comment on flycheck issue, so you can find it easily:

[2016-03-25 22:26] lunaryorn commented on #922
@cpitclaudel Does it solve you problem?

[2016-03-26 10:46] cpitclaudel commented on #922
It does, and it's not obvious that there are any case in which running just flycheck-stop would be better. Thanks!

[2016-03-26 10:46] #922 closed

[2016-03-26 17:28] jacksonrayhamilton commented on #920
Flycheck is essential to my development flow. I'm happy to see it continue to improve, and analytics (a survey) should bring insights on what to do better.

[2016-03-26 17:40] jacksonrayhamilton commented on #893
This issue hasn't gotten much outside attention, so I assume the change bodes well with most Flycheck JavaScripters. I am liking ESLint more and more, so I'm perfectly fine with this default.

Hm, I dunno. At least in the JavaScript community, I suspect there are plenty of people who use different linters; out of curiosity, or due to working at a company that follows the latest fads, or because th

[2016-03-27 09:16] lunaryorn commented on #893
@jacksonrayhamilton I'll close this issue then.  We'll keep the current defaults.

I do not know.  I'm the wrong person to ask.  I must admit that I loathe the language and pity the ecosystem :blush:, and all that I have on my system is the minimum viable environment I need for work, and that only includes eslint :relaxed:

[2016-03-27 09:17] #893 closed

[2016-03-27 11:04] lunaryorn commented on #920
I'll prepare a typeform when I've some spare time, with a couple of basic questions:

- Emacs version (multiple choice)
- OS (multiple choice)
- Installation method (ELPA, elget, custom, multiple choice)
- Update frequency (daily, weekly, monthly, infrequently, etc.)
- Languages used (multiple choice, multiple selection)
- Upgrade experience (seamless or breaking?)
- What feature is missed most? (

[2016-03-27 14:59] jacksonrayhamilton commented on #920
When a user places point on an erroneous line, after the linter's message, if the date is between the start of the survey and its end, append this message: "(Flycheck checked your code, but will you check our survey? `(setq flycheck-survey-2016 nil)` to hide this message.)"

[2016-03-27 22:44] kozross commented on #920
@jacksonrayhamilton I think that's an excellent idea, much like the survey.

[2016-03-28 08:19] lunaryorn commented on #920
@jacksonrayhamilton Indeed, that's a good idea :+1:

[2016-03-28 09:47] cpitclaudel commented on #920
Sounds good, though I wonder it it might be a bit too invasive/disruptive. Ideally we want to ping people at a point when they are not focused on a high-attention task.

What about a message wrapped in `eval-when-compile`? It would be displayed when updating Flycheck, which is presumably a good time.

[2016-03-28 10:11] lunaryorn commented on #920
@cpitclaudel I'm not sure.  I guess many people ignore messages during installation…

Maybe load time is better?

And then, is a message appended to an error message really that disruptive?  I'm not sure…

[2016-03-28 10:28] cpitclaudel commented on #920
Not sure either :) I was thinking of something like `pop-to-buffer` during package update, but that might be disruptive.

What about (in addition to other solutions) an info (or lower) level message in the error list?

[2016-03-28 11:10] lunaryorn commented on #901
We now have a new Sphinx-based website, see #923, and will now slowly port the Texinfo manal over to Sphinx.  For now, the old Texinfo manual i still there, but eventually we'll drop it as when the migration is complete.

[2016-03-28 11:10] #901 closed

[2016-03-28 11:11] lunaryorn opened #924 "Remove legacy Texinfo manual"
After #928 when all relevant content is in the new manual.  #616 can come afterwards.

[2016-03-28 11:12] lunaryorn opened #925 "Add installation instructions to manual"

[2016-03-28 11:12] lunaryorn opened #926 "Add Quickstart to manual"

[2016-03-28 11:12] lunaryorn opened #927 "Add usage section to manual"
## TODO

- [x] Add installation instructions
- [x] Add quickstart section
- [x] Checking buffers
- [x] Syntax checkers
- [x] Reporting results
- [x] Error navigation
- [x] Error display
- [x] Error killing
- [x] Error list
- [x] Mode line display
- [x] Configuring checkers

[2016-03-28 11:12] swsnr opened #928 "Add developer guide to documentation"
TODO:
- [ ] Document extension hooks
- [ ] Document extension functions
- [x] Document syntax checker declarations

Should include #869

[2016-03-28 15:40] ackalker opened #929 "Support for checking AWK scripts"
It would be nice for Flycheck to have support for checking AWK scripts.
I think this is quite doable, and in a safe way, too, contrary to what one might expect.
Please see [this SO answer](http://stackoverflow.com/a/7212314/588561) for details.

[2016-03-28 16:11] cpitclaudel commented on #929
Yup, good call; that SO answer looks convincing.

We don't have a very rich history of accepting checkers that massage the input too much, but in this case it seems pretty minimal. @lunaryorn will make the final call on that.

Here's an idea: can you try to write a checker definition based on that SO answer? I can help if anything from http://www.flycheck.org/en/latest/_downloads/flycheck.html#Syn

[2016-03-28 16:29] lunaryorn commented on #929
@ackalker We'll certainly accept an AWK checker if it's safe—which the SO answer seems to promise, for GNU AWK at least.

 I will not however add it myself; I don't even use awk.  My priorities are elsewhere. Please feel welcome to open a pull request that adds this syntax checker to Flycheck, though, and ask questions if you need help with defining this syntax checker for Flycheck.

Please take a

[2016-03-28 23:39] ackalker commented on #929
Thanks for the quick replies :) I'll look into it when I have some spare time.

[2016-03-29 07:40] themattchan opened #930 "Is there a nice way to try multiple checker commands?"
Hi,

I'm trying to augment the Liquid Haskell checker (https://github.com/themattchan/flycheck-liquidhs.el) to support stack, with regular ghci as fallback. Is there a way to do this in the same :command field?

Thanks in advance!

[2016-03-29 10:51] lunaryorn commented on #930
I do not know what "support stack" involves, hence I can only give common place answers:  You can evaluate arbitrary expressions in `:command` with the `eval` cell, and thus splice arbitrary arguments with arbitrary conditions into the command.  However, you cannot use `eval` at the beginning of `:command` because Flycheck expects a fixed executable name there.

Generally, though, you can always u

[2016-03-29 13:17] jaseemabid commented on #312
@lunaryorn Any chance of adding a cwd? `rebar3 dialyzer` needs to be run at the root of the project as well.

[2016-03-29 13:19] lunaryorn commented on #312
@jaseemabid We have an open PR at #813 which still needs work and testing afaik.

[2016-03-29 15:37] jaseemabid commented on #312
@lunaryorn Ah. Thank you.

[2016-03-30 22:13] lunaryorn commented on #894
I'm closing this issue.  The discussion seems to have ceased, and we'll not act on this ourselves.

Please feel free to leave further comments.  Thank you

[2016-03-30 23:51] Stebalien commented on #894
Sorry, this fell off my radar.

I'd have users turn the unsafe one's on buffer-by-buffer. Personally, I'd turn them on using projectile and a mode hook but that's just me.

Additionally, I'd add a "enable-unsafe-checkers" option for users that don't care.

I wouldn't. If I feel a project is (reasonably) trustworthy, I would enable the checker and leave it enabled.

I wouldn't.

For now, I'd just l

[2016-03-30 23:52] Stebalien commented on #894
Out of curiosity, are there any other checkers known to be insecure (how common is this issue)?

[2016-03-31 07:47] lunaryorn commented on #894
@Stebalien Thank you for responding again.

I appreciate your opinion very much, but I must admit that I do not particularly like it.  Please forgive me, but I think you take the easy way out, too easy for my taste.

Please understand that to me this whole issue is about the user interface.  Technically it's already possible to keep unsafe syntax checkers out: Just don't enable Global Flycheck Mod

[2016-03-31 07:50] swsnr opened #932 "Add "risky" keyword to syntax checkers"
Mark all syntax checkers as risky that can potentially run unsandboxed code during a check:

[code]

The opposite should also be possible to mark a syntax checker as safe (probably with a shortcut `:safe t`:

[code]

In the absence of either declaration the riskyness of a checker would be undecided.
# Open questions
- [ ] Warn about undecided riskyness when evaluating checker definitions?

[2016-03-31 07:51] swsnr opened #933 "Mark built-in syntax checkers as risky as necessary"
Depends on #932

[2016-03-31 07:52] swsnr opened #934 "Include risky state of checkers in verification"
`M-x flycheck-verify-setup` should inform whether a syntax checker is risky or not.

Depends on #932

[2016-03-31 07:52] swsnr opened #935 "Document risky state in list of languages"
Depends on #933

[2016-03-31 07:55] lunaryorn commented on #894
@Stebalien I opened a couple of issues in a [new milestone](https://github.com/flycheck/flycheck/milestones/Syntax%20checker%20security) for this problem.  These issues cover the steps which we can take without having a proper UI ready, namely

- Add the infrastructure to mark checkers as risky
- Mark all built-in checkers as risky as necessary
- Include this information in the documentation and i

[2016-03-31 07:57] lunaryorn commented on #894
@Stebalien Please feel free to give specify feedback on any of these issues.  I'd like to hear what you think of these steps.

[2016-03-31 08:17] lunaryorn commented on #921
@choma phpcs 2.6 will provide an option which allows us to set the path, see https://github.com/squizlabs/PHP_CodeSniffer/issues/934#issuecomment-203161356

When phpcs 2.6 is released will use this option to fix this issue.

[2016-03-31 14:17] lunaryorn commented on #892
Actually, given the overwhelming preference for MELPA over MELPA (200k vs. 3k) downloads, I don't think anymore that this is worth the effort.

I'd rather go for the systemd scheme now: A single increasing version number.  The next release would be 1, then 2, 3, 4, etc…

@cpitclaudel What do you think?

[2016-03-31 16:28] cpitclaudel commented on #892
I think I like your new avatar, but that's unrelated. On the subject at hand, I do think indeed that versioning is a minor issue, given that most people don't even see the version number we pick (due to MELPA). But I like it as a way to mark milestones; so maybe 1.0, 1.1, 1.2 etc? And 2.0 for the next big thing (?) :)

[2016-03-31 17:48] lunaryorn commented on #892
@cpitclaudel Thanks :blush:

Back to topic, I agree that it's unimportant, at least our current distribution channels.  I see your point about milestones, but I didn't use versions this way in the past, and I don't think that we have the resources for anything other than "continuous releases from `master`" versioning model, do we? And do we want to spent resources on something that's a minor issue

[2016-03-31 17:50] lunaryorn commented on #892
On the other hand, a continuous version would simplify so many things: We'd have no complex bumping logic for version numbers, we'd not have to consider backwards compatibility nor make promises about it (which we don't do anyway currently), we don't need complex releases processes, we don't need to make decisions about what goes into a version or not, etc.

[2016-03-31 17:58] cpitclaudel commented on #892
Oh, I see :) Then I'm all for continuous version number.

[2016-04-01 07:52] swsnr opened #936 "Add documenter's guide"
Add separate guide for writing documentation which includes
- [ ] more elaborate setup instructions for Python, virtualenv and Sphinx
- [ ] a style guide?
- [ ] a documentation of all our custom directives and roles

[2016-04-02 08:04] jaseemabid commented on #312
@lunaryorn In the specific project I'm working on, all source resides in a single src folder and all I have to do is add `cd .. && <specific linter command>` into `~/bin/foo` and set `:cmd` to `foo`.

Is there a flycheck way to avoid the external bin file and add `cd &&` into the `:cmd` somehow?

[2016-04-02 08:14] lunaryorn commented on #312
@jaseemabid Not currently, no.  We do not even have `:cwd` property currently.  I'm sorry.

[2016-04-02 08:34] bbatsov commented on #741
Well, a lot of the Emacs code actually violates some of the defaults as they are a bit moronic (e.g. mention arguments in order). And some rules simply generate a ton of false positives (like the imperative checks). Btw, won't this be automatically solved if you simply copied any `.dir-locals` files you encounter to the temp directory you use to check the code in?

[2016-04-02 14:10] cpitclaudel commented on #741
It's a bit tricky: what about unsafe variables, or variables that the user refused to apply when opening a file?

[2016-04-02 17:23] cpitclaudel commented on #741
Reopening to match #937

[2016-04-03 01:13] chris-martin opened #938 "Flycheck error opens in a new frame when neotree is open"
I'm still pretty new to emacs, so I don't know whether this is the right project for this ticket, or if I just did something wrong.

When I have neotree open, instead of just opening a new window to the right or bottom, flycheck opens a whole new frame instead.

![screenshot from 2016-04-02 18-10-44](https://cloud.githubusercontent.com/assets/399718/14230075/7f4ee5cc-f8fe-11e5-9eb6-c5c64590b3c5.pn

[2016-04-03 09:47] cpitclaudel commented on #938
Hi Chris,

This looks weird, and it's probably not Flycheck specific (Flycheck lets Emacs decide where to open new Emacs windows in most (all?) cases).
Still, can you post that sample of code? My hunch is that in only occurs with large error messages, right?

[2016-04-03 10:20] chris-martin commented on #938
You can reproduce it with any multi-line message (which is any error message in Haskell).

What does flycheck call to open the window? Maybe I can track it down from there.

[2016-04-03 11:03] cpitclaudel commented on #938
No, not really. When the message is short enough flycheck prints it in the minibuffer for me:

![screenshot from 2016-04-03 13 00 30](https://cloud.githubusercontent.com/assets/8181630/14232074/13d0df5a-f99c-11e5-8d82-68f265e9c05c.png)

Flycheck the function in `flycheck-display-errors-function`, which usually is `flycheck-display-error-messages`, which in turn calls `display-message-or-buffer`. L

[2016-04-03 11:27] lunaryorn commented on #938
@chris-martin Thank for reporting this issue.  I must admit that it looks really strange; I've never seen this before.  May we take a look at your Emacs configuration?  And could you perhaps tell us the dimensions of your Emacs frame? And probably experiment whether the issue persists of you are using a larger frame, probably on a larger screen as well, if possible?

At least please also include a

[2016-04-03 11:36] cpitclaudel commented on #938
Indeed, that info would be very useful!

My guess for now is that `display-message-or-buffer` somehow decides that it would be a good idea to reuse the neotree window, but then trying to display something in it fails (since that window is dedicated to the neotree buffer), and so a new window opens. I need to think about how to fix that; in any case it will be much easier once I have a repro :)

[2016-04-03 15:16] lunaryorn commented on #892
We'll use a continuous number them :)  What works for systemd can't be too bad for us :sunglasses:

[2016-04-03 22:28] chris-martin commented on #938
Sorry, I guess it does have to be more than a few lines.

[`display-message-or-buffer`](https://www.gnu.org/software/emacs/manual/html_node/elisp/Displaying-Messages.html) docs:

[`display-buffer`](https://www.gnu.org/software/emacs/manual/html_node/emacs/Window-Choice.html#Window-Choice) docs:

[2016-04-03 22:35] chris-martin commented on #938
My entire Emacs and NixOS configurations are published in my [home directory repo](https://github.com/chris-martin/home).

The frame size is 187 x 48.

[2016-04-03 22:55] chris-martin commented on #938
Here's a small project that you can reproduce on: https://github.com/chris-martin/haskell-sandbox/tree/flycheck-938 - The last commit introduces an error that's 13 lines long.

[2016-04-03 22:59] chris-martin commented on #938
Testing with larger frame sizes, it looks like the width of the frame is irrelevant, only the height. If the frame isn't tall enough and it decides to do a horizontal split, it pops up a new frame when neotree is present regardless of the frame width.

[2016-04-03 23:41] chris-martin commented on #938
If I eval `(switch-to-buffer-other-window "*Messages*")` with neotree open, the message buffer opens in a new frame. So it doesn't look like this has much to do with flycheck anymore - the issue is with neotree, or emacs itself?

[2016-04-04 07:28] lunaryorn commented on #938
@chris-martin I must admit that I do not know where this issue comes from.

It's surely not a specific issue with Flycheck, simply because Flycheck doesn't do any unusual things with windows.  We don't add any display rules that'd cause frames to pop up under normal circumstances.

That leaves you with three possible causes: Your Emacs configuration, neotree and Emacs itself.  I'd recommend that y

[2016-04-04 07:28] #938 closed

[2016-04-04 07:48] lunaryorn commented on #921
phpcs 2.6 is out now, I'll update the syntax checker definition soon.  Note that this will implicitly drop support for any older phpcs release.

[2016-04-04 08:11] lunaryorn commented on #881
I'm re-opening this one, because I've seen how Ensime does it and really like it:  They don't use the issue template as an actual template, but rather as some kind of a welcome message which has some general guidelines and a prominent thank you.  You're actually supposed to delete the template once you've read it.

I really like this way of greeting new and old contributors :heart_eyes: so I'll ad

[2016-04-04 08:30] cpitclaudel commented on #881
:+1:

[2016-04-05 14:16] #892 closed

[2016-04-07 07:20] lunaryorn commented on #801
@jwiegley I'm coming back to this issue because these days emacs-devel in all its glory has again reminded me why I refrain from contributing to Emacs:  I'd have to bear with ridiculous criticism and even what you might call aggressive action against my code.

I think you're making a positive difference to Emacs, but its culture of communication and respect (or the lack thereof currently) has stil

[2016-04-07 16:20] jwiegley commented on #801
OK, cultural change is the slowest kind.  Maybe in another few years. :)

[2016-04-10 22:19] #803 closed

[2016-04-10 22:52] lunaryorn commented on #803
Now we can run `make -C maint release` to make a new release :fireworks:

[2016-04-12 08:38] lunaryorn opened #943 "Add Flycheck/Flymake comparison to Sphinx manual"

[2016-04-14 06:40] sonictk opened #944 "flycheck hangs emacs in Python code when editing docstrings that are too long"
Hi:

When I am editing a Python file in emacs with flycheck-mode enabled, whenever I am editing a docstring that is over 80 characters, emacs just freezes, and I have to keep spamming C-g and try to move the marker to somewhere outside of the offending line in order to regain control of emacs. This is happening on any platform that I'm running emacs on (Win/OSX/Fedora); I'm wondering if there is s

[2016-04-14 07:34] lunaryorn commented on #944
Hello.

Thank you very much for reporting this issue.  We will try to address it as soon as possible.  However, we need additional information from you.  Please tell us

- your Emacs version, as in `M-x emacs-version`,
- your Flycheck version, as in `M-x flycheck-version`,
- and the output of `M-x flycheck-verify-setup` in an affected buffer.

Please also include the versions of the syntax checkin

[2016-04-14 08:13] #943 closed

[2016-04-14 08:35] mguthmuller opened #945 "Undefined constant or method for all external gems (required at the beginning) used"
Hi,

I'm using flycheck (version 0.26 snapshot package 20160302.1046) with rubocop (version 0.35.1) in emacs (version 24.4.1).

My configuration set in my .emacs file is:
`(add-hook 'after-init-hook #'global-flycheck-mode)`
`(global-flycheck-mode)`
`(setq flycheck-rubocoprc "~/.rubocop.yml")`

Flycheck is thus automatically enabled when I run emacs. My problem is that an error is reported for each

[2016-04-14 08:41] lunaryorn commented on #945
Hello.

Thank you very much for reporting this issue.  We will try to address it as soon as possible.  However, we need additional information from you.  Please tell us the output of `M-x flycheck-verify-setup` in an affected buffer.  Please also update Flycheck first.

Please add a comment with all this information.  If you think that you already provided all necessary information please tell us

[2016-04-14 08:53] mguthmuller commented on #945
Thanks for the quick anwser!

I've updated flycheck, the last version installed is 20160411.910 but the problem is still there.

The result of `M-x flycheck-verify-setup` is:

[2016-04-14 09:17] lunaryorn commented on #945
@mguthmuller Well, the output shows that you also have `ruby-lint` installed and working.  That's where these additional warnings come from; take a look at `C-c ! l` and you'll see that these are reported from ruby-lint.

Use `C-c ! x` to disable ruby-lint, or add it to `flycheck-disabled-checkers` to disabled it permanently.

[2016-04-14 09:17] #945 closed

[2016-04-14 09:22] mguthmuller commented on #945
Oh ok, I'm sorry, I thought it was flycheck warnings.

Thank you!

[2016-04-14 09:25] lunaryorn commented on #945
@mguthmuller Never mind, you're welcome.  Thanks for taking the time to ask, I hope that you enjoy Flycheck.

Have fun :+1:

[2016-04-15 20:51] mgalgs commented on #509
Depending on the compiler version you might need `-D_GNU_SOURCE` since `asprintf` is a gnu extension.

[2016-04-17 08:25] Simplify commented on #863
Recess is no longer maintained: https://github.com/twitter/recess

[2016-04-17 08:48] #863 closed

[2016-04-17 08:49] lunaryorn commented on #863
@Simplify Thank you for making us aware. I closed this issue.

[2016-04-19 12:45] zw963 opened #946 "Error while checking syntax automatically: (void-variable package-user-dir)"
Emacs 24.5.

config:
[code]
When open a `.el` file, get those error message.

Thanks.

[2016-04-19 13:21] Simplify commented on #946
Did you try to add `(package-initialize)` before your config?

[2016-04-19 13:55] zw963 commented on #946
Sorry,  comment out `(package-initilaize)`  because a irrelevant problem.

(BTW, I don't know package-initlaize is a dependency of flycheck, I only think it is part of melpa
initialize code, and I install flycheck manually completely, so, i think those maybe should
explain in README, or just skip emacs-lisp-mode fly-check if package-initialize is not run.)

Thanks very much.

[2016-04-19 13:55] #946 closed

[2016-04-19 14:04] Simplify commented on #946
No, `(package-initialize)` is part of `package.el` that comes with Emacs. It's not dependency of Flycheck. Sorry if my question made any confusions.

[2016-04-19 14:08] cpitclaudel commented on #946
I think the issue here is that flycheck reads package-user-dir in its emacs-lisp checker, which causes the error that @zw963 reported if `package.el` hasn't been loaded. Running `(package-initialize)` has the side effect of loading `package.el`.  Hence the connection.

@lunaryorn, should the emacs-lisp checker `(require 'package)`?

[2016-04-19 14:15] lunaryorn commented on #946
@cpitclaudel I wrapped `package-user-dir` in `bound-and-true-p` which should prevent this issue in future.

@zw963 `(package-initialize)` is an (implicit) dependency of **any** package you install from MELPA, because prior to `(package-initialize)` packages are not even in `load-path`.  In other words without `(package-initialise)` you wouldn't be able to `(require 'flycheck)` if you installed Fly

[2016-04-19 14:35] cpitclaudel commented on #946
@lunaryorn Neat, thanks! If I understood correctly, @zw963 installed Flycheck manually.

[2016-04-19 14:35] cpitclaudel commented on #946
In any case, thanks @zw963 for the report!

[2016-04-19 15:12] Simplify opened #947 "Adding TSLint checker into standard Flycheck"
Hello,

I'm author and maintainer of [flycheck-typescript-tslint](https://github.com/Simplify/flycheck-typescript-tslint) package. I'll like to include that code into standard Flyckeck, if you want that. I try to contact you about that on Gitter, but didn't got any reply.

TSLint is currently standard for linting TypeScript. Config for TSLint, `tslint.json`, is comes with most TypeScript projects

[2016-04-19 15:17] cpitclaudel commented on #947
Hey @Simplify,

Thanks for contributing! Yes, I think we'd love to include support for TSLint. Can you prepare a pull request?

[2016-04-19 15:19] Simplify commented on #947
Yes, I'll do it in the next few days.

[2016-04-19 15:20] cpitclaudel commented on #947
Thanks!

[2016-04-19 15:36] lunaryorn commented on #947
@Simplify Thank you very very much!

[2016-04-19 15:49] zw963 commented on #946
I settings ELPA correctly in my dotfiles, But, I never use ELPA installed package in my dotfiles, generally, I install package from github or emacs-wiki manually. (just download, copy, and add some snippets in my dotfiles), I think maybe exist others emacs fans like me. : )

Only one case i use ELPA package, some package could not found by Google (e.g. too old), I will install from ELPA, and copy

[2016-04-19 15:57] lunaryorn commented on #946
@zw963 I see.  Please be aware that we don't support manual installation, and that our source code tree as seen on Github is not intended to be added to `load-path` in its entirety.  We don't actively work against manual installation of Flycheck, but we don't test it and give no guarantees if you install manually.

In other words, use at your own risk, accept breakage if it occurs, and please unde

[2016-04-19 16:08] lunaryorn commented on #946
@zw963 Following this issue I added our [policy for alternative installation methods](http://www.flycheck.org/en/latest/user/installation.html#alternative-installation-methods) to our installation instructions.

[2016-04-19 16:42] zw963 commented on #946
Sorry for confuse, i just think install manually is more clearly for me.

[2016-04-20 04:46] fice-t opened #948 ""Suspicious state" when editing unterminated docstrings in Python"
When you're editing a docstring without closing triple quotes in Python that's not immediately followed by EOF, then the following message pops up:
[code]

To reproduce: Just try and remove the ending triple quotes from the following:
[code]

This was produced in `emacs -Q` with `Flycheck version: 26snapshot (package: 20160419.712)` on `GNU Emacs 24.5.1 (x86_64-redhat-linux-gnu, GTK+ Version 3.18.

[2016-04-20 09:01] lunaryorn commented on #948
@fice-t Would you mind to tell me your Python version?

[2016-04-20 09:03] lunaryorn commented on #948
Never mind, I can reproduce it.  It appears that the `python-pycompile` pattern doesn't handle multiline messages well.

I'll fix this issue at some point, however, `python-pycompile` is intended as a very last resort.  `python-flake8` and `python-pylint` are generally preferred and should be used instead.  Hence this issue has rather low priority for me personally.

Pull requests would be very we

[2016-04-20 18:19] fice-t commented on #948
Ah, I still use the default checkers. I'll have to get around to customizing them.

Anyway, I changed the
[code]
in the checker definition to
[code]
and it fixes the issue. Is there a reason why `= 2` was chosen?

[2016-04-20 20:30] lunaryorn commented on #948
@fice-t I don't know.  It's been like that since it was merged, see https://github.com/flycheck/flycheck/pull/484.  I guess it's safe to change, isn't it?

Would you mind to try the modified pattern with different syntax errors and different files?

[2016-04-20 21:35] fice-t commented on #948
Seems to work the same as before in other cases/files.

[2016-04-22 08:08] fspegni commented on #720
Hi, I understand this bug is kind of closed but I found it through google for a very similar problem. My scenario was exactly as @vigneshsarma said: I was executing python not in `project_root` but in `project_root/abcd`, and I had to do that way.

My problem was that I set `PYTHONPATH=<somedirectory>:`; the final colon somehow tell python to look for modules in the current directory; just changin

[2016-04-22 17:39] gxiaotian opened #950 "Fortran MPI support problem"
I am coding a scientific calculation program with fortran. It utilizes mpif90 as a compiler to perform parallel computing. however, flycheck seems not to support this compiler. It uses gfortran to check my code, and show me a error that "can't open included file mpi.h". What can I do to solve this problem? Thank you so much!

[2016-04-22 18:16] cpitclaudel commented on #950
Hi there,

Thanks for your message! We don't currently have support for other Fortran compilers than gfortran, but it should be easy to add new ones. Would you like to try it yourself? I'll be happy to help.

[2016-04-22 18:34] gxiaotian commented on #950
Great! I would like to try it! Could you please recommend me some manuals or tutorial about flycheck backend?

[2016-04-22 21:36] cpitclaudel commented on #950
Wonderful! @lunaryorn wrote [nice docs](https://htmlpreview.github.io/?https://github.com/flycheck/flycheck/blob/master/doc/legacy/flycheck.html#Syntax-checker-definitions) on extending Flycheck (we're right in the process of migrating the docs to a nicer format, so this link is a one-page archive of the original TexInfo manual).

You may also be interested by the way the [current gfortran checker

[2016-04-22 21:41] gxiaotian commented on #950
Cool! I will try it soon. Thanks a lot!

[2016-04-23 08:35] lunaryorn commented on #950
If mpif90 has the same command line interface as gfortran you could also try to set flycheck-fortran-gfortran-executable to "mpif90".

[2016-04-24 06:49] mmcnl commented on #185
Hi @choppsv1, your `pycheckers` script sounds very useful. Would you mind sharing any of it?

[2016-04-24 16:03] choppsv1 commented on #185
@mmcnl sure, although I ended up doing as @lunaryorn suggested and copying the flake8 definition and creating a new one that chained pylint. Here's the code for that if you'd prefer to use it instead (I suggest doing this btw):
[code]
here's the pycheckers.sh script if you want to use that somewhere else (I'd suggest you don't use it in emacs since you still would have do define a new flycheck che

[2016-04-24 16:05] choppsv1 commented on #185
@lunaryorn any chance of adding the ability to add chaining to a checker "after the fact" so that instead of having to redefine flake8 checker one could just modify it to be chainging?

[2016-04-24 16:46] lunaryorn commented on #185
See flycheck-add-next-checker.

[2016-04-24 17:29] choppsv1 commented on #185
Hey that works great!

[2016-04-25 01:27] mmcnl commented on #185
Thanks @choppsv1! Your `python-flake8-chain` checker code above works very well and does just what I was hoping.

[2016-04-26 10:53] lunaryorn commented on #944
This issue appears to be inactive; I am closing it.

If you can provide the requested information or bring in additional arguments please leave a comment, and we will look at this case again, and re-open the issue if need be.

Thank you for your feedback and your support.

-----

This is one of me [saved replies](https://github.com/blog/2135-saved-replies).  I am using this feature to help me redu

[2016-04-26 10:53] #944 closed

[2016-04-26 10:54] lunaryorn commented on #950
@gxiaotian Did you try my suggestion?

[2016-04-26 14:19] gxiaotian commented on #950
I have tried it, but there is still something wrong. I am new to emacs lisp, and a little busy recently. Don't hurry, I will learn how to do it as soon as possible.

[2016-04-27 10:56] hrehfeld commented on #852
Any Progress? I also run into this with c++ and clang.

         1   9 warning         #pragma once in main file (c/c++-clang)
        13     warning         In include /home/hrehfeld/projects/mplan-repos3/mlib/src/mlib/render/Scene.hpp (c/c++-clang)
        13     error           In file included from (c/c++-clang)
        13     error           In file included from (c/c++-clang)

is there any s

[2016-04-27 10:58] lunaryorn commented on #852
@hrehfeld I'm afraid that there's no progress, and won't be for quite some time.  We'll improve debugging means at some point and try to fix error parsing with C/C++, but since none of us actually uses C/C++ the issue has somewhat low priority.

We would welcome pull request and patches that improve error parsing of C/C++.

[2016-04-27 12:07] hrehfeld commented on #852
Can I help in some way? I'm not an expert elisp programmer, so it's rather time consuming for me to dig through the code, but I could provide logs etc.

[2016-04-27 12:09] lunaryorn commented on #852
@hrehfeld I'm sorry but I think at this point we'll need code.  Even if you provided Clang output we'd still have to go through the output and come up with good code to parse it.

[2016-04-27 12:18] hrehfeld commented on #852
I think #451 is related.

[2016-04-27 12:24] lunaryorn commented on #852
Yes, I know, as is #864 and all related issues.  The root cause is that Clang's and GCC's error reporting is a mess, with errors from different files intertwined and entangled, and we have to somehow try and aggregate errors upwards to the file that you're looking at in Emacs.

There've been issues every since Clang and GCC were added, and none has managed to come up with a good solution hitherto,

[2016-04-27 22:33] mstorus commented on #288
@yuyang0 can you tell me what `"the-path"` is in your case (https://github.com/flycheck/flycheck/issues/288#issuecomment-30810217)?
I'm struggling to find the correct value

[2016-04-28 12:44] diasjorge commented on #185
@lunaryorn would you mind giving an example of how to do this using flycheck-add-next-checker?

[2016-04-28 13:34] choppsv1 commented on #185
@diasjorge here's how I used it: `(flycheck-add-next-checker 'python-flake8 'python-pylint)`

[2016-04-28 21:41] #839 closed

[2016-04-28 22:02] #948 closed

[2016-04-30 04:49] robbyoconnor opened #951 "jade is now called pug (trademark problem)-- we should probably fix it so flycheck works"
I'm gonna take this on but is there a way to handle this in a way that doesn't break the current jade support?

[2016-04-30 06:35] xuchunyang opened #952 "Cannot access https://www.flycheck.org/ ?"
After I found flycheck doesn't come with a info manual, I decided to visit flycheck's homepage. `C-h P flycheck` tells me the homepage url is: https://www.flycheck.org/, however I can't visit the site in Chrome, here is a screen shot:

![screen shot 2016-04-30 at 14 29 30](https://cloud.githubusercontent.com/assets/4550353/14934337/3350972c-0ee0-11e6-8b12-47bd38c3974b.png)

BTW, http://www.flychec

[2016-04-30 08:30] cpitclaudel commented on #952
Thanks for spotting this!
The issue seems to be that our domain is set up with certificates covering `*.readthedocs.org`. Wild guess: https://blog.readthedocs.com/securing-subdomains/ (since https://flycheck.readthedocs.io/en/latest/ works fine too).

[2016-04-30 08:54] cpitclaudel commented on #951
I take it you're referring to https://github.com/pugjs/pug/issues/2184?

@lunaryorn will confirm, but I think we can just add a separate `pug` checker to Flycheck with the same definition as the jade one (but predicated on `pug-mode` — I imagine that's what the Emacs mode will be renamed to). Once the `pug→jade` transition is complete we'll deprecate the jade checker.

We generally don't have too

[2016-04-30 09:42] #952 closed

[2016-04-30 09:45] lunaryorn commented on #952
@xuchunyang I'm sorry, that was a typo.  http://www.flycheck.org was never actually served over HTTPS.  I've fixed the URL.

[2016-04-30 11:15] #921 closed

[2016-04-30 11:21] lunaryorn commented on #921
@choma I've updated phpcs accordingly, the issue should be fixed now.

Thanks for reporting it, and for your help with finding a proper solution! 👍

[2016-04-30 11:26] xuchunyang commented on #952
@lunaryorn It's okay. Thanks for the fix.

[2016-04-30 12:15] lunaryorn commented on #951
@robbyoconnor Thank you for making us aware of this issue, but please provide more background information.  We simply cannot follow all developments in all the languages that we support.

What is the current status of jade?  Is it renamed already, with a proper release, or is the rename still ongoing?  In how far does the renaming affect us other than that we need to rename the syntax checker?  In

[2016-04-30 12:47] robbyoconnor commented on #951
@lunaryorn -- as of right now the domain name is registered but the site is very much in progress-- the github org is migrated -- but the emacs major-mode is currently still `jade-mode`  -- This doesn't look like it's gonna be a lot of work to do -- it's looking like more or less they just did a name change removing all traces of `Jade/jade`.

[2016-04-30 13:10] #741 closed

[2016-04-30 17:54] lunaryorn commented on #951
@robbyoconnor I'm sorry but I'm still not sure in how far this affects us, nor why it could break Flycheck.

Presuming that `pug` still has the same CLI interface as `jade`, wouldn't it be sufficient to just rename the syntax checker to `pug`, make it run `pug` instead of `jade` and add a  (yet to come?) `pug-mode` to its `:modes`?

That's something we could do as soon as the tool is officially re

[2016-04-30 22:42] robbyoconnor commented on #951
That is one option but there is still code out there that's running jade -- or completely unaware this happened

[2016-05-01 23:02] xuhdev opened #953 "rst-sphinx causes strange behaviors"
rst-sphinx keeps complaining "Unknown directive type" in my Sphinx project buffers. The way to reproduce it is as follows.

1. Run `sphinx-quickstart` to create a minimal Sphinx project. Use the default to answer all questions.
2. `emacs index.rst`.
3. Now everything looks fine. Move the cursor to the end of the buffer, insert a space, but DON'T save the buffer. All the complains show up. However,

[2016-05-02 18:45] seanfarley opened #954 ""Suspicious state" with unknown encoding"
For a few days now, I've seen this error for every python file:

[code]

Is it possible that the `LANG` environment variable is not being sent to the subprocess?

[2016-05-02 20:45] lunaryorn commented on #954
Hello.  Thank you for reporting this issue.  I'm not sure about it, though, for I've never seen this before, even though the Python checkers are really among the oldest ones in Flycheck.

May I ask what you mean with a "for a few days"?  Flycheck didn't change in the last few days in any way that could produce this effect.  Did you change something on your Emacs or Python setup recently?

[2016-05-02 20:46] lunaryorn commented on #953
Hello.  Thank you for reporting this issue, but I'm sorry to say that this is actually expected behaviour.

Due to the nature of Sphinx' builds we cannot run them on the fly—Sphinx always wants to build files, and only files within its project tree, and we have really no way to tell Sphinx to build a temporary file, or use standard input for a certain document.  Essentially we've no way to feed un

[2016-05-02 20:48] #953 closed

[2016-05-02 21:04] seanfarley commented on #954
I can reproduce this from the command line:

[code]

Are you able to reproduce that? As for my setup, unfortunately, all three major components were upgraded: `flake8`, `emacs-mac`, and `flycheck`.

I can also see that:

[code]

doesn't have anything set for `LANG` (or `LC_` friends). Should `flycheck` send this variable?

[2016-05-02 21:18] lunaryorn commented on #954
@seanfarley No, unfortunately I can't:

[code]

I don't think that the problem lies with Flycheck.  We don't change the `process-environment` in any way when we start a syntax checker.  If `$LANG`'s in there it should propagate to the subprocess just fine.

But in your case it doesn't even seem to be in your environment at all—and how could Flycheck sent a variable that's not even there?  Besides,

[2016-05-02 21:55] xuhdev commented on #953
@lunaryorn I can understand that rst-sphinx cannot check the unsaved version, but the fact that it gives some error message does not really make sense for me -- if the saved version on the actual file system is correct, why would it give errors then?

[2016-05-02 21:57] xuhdev commented on #953
Oh I see, you meant when the buffer is unsaved, `rst` is used. If this is the case, shouldn't it be considered a bug? I don't see how it makes sense to use two different checkers for saved and unsaved buffers in general.

[2016-05-02 22:17] lunaryorn commented on #953
@xuhdev _We_ do not consider it a bug.  As I said, it's expected, and even intentional behaviour.

YMMV, but what's the alternative?

We can't run `rst-sphinx`, for two reasons: It's taking too long to run on every change, particularly on large docs, and it's just wrong.  After all, it'll never actually check contents of a modified buffer, so we'd be giving a wrong promise.

[2016-05-02 22:20] seanfarley commented on #954
Thanks for the info! Yeah, it looks like this is something with my setup then. Your fix does indeed work for me, so I'll add that to my config and try to investigate with my other settings. Thanks for the help!

[2016-05-02 22:20] #954 closed

[2016-05-02 22:23] lunaryorn commented on #954
You're welcome.  Please don't hesitate to ask further question if you've got further problems with this.

And please do tell me what you've eventually found out about this problem.  I'm curious what's going on here, for I've never really understood how this locale stuff works in Emacs on OS X.

By the way, are you running a GUI session or a terminal Emacs?  Or do you probably use Emacs daemon in s

[2016-05-02 22:26] xuhdev commented on #953
@lunaryorn  I meant, for a checker that is chosen and cannot be used to check modified buffers, we shouldn't switch the checker for modified buffers -- we should simply do not invoke any checkers. I think this is better, as there is no obvious incentive to run two different syntax checkers in different cases.

[2016-05-02 22:48] lunaryorn commented on #953
@xuhdev  Why not?  I find that there's absolutely an incentive to check as much as possible, and I the reporting of `rst` still helpful while writing, because it gives me instant feedback on type errors or missing reference targets.

That said, it's surely a matter of taste, in my opinion, so we need to allow for both options, I guess.

Within Flycheck's current implementation that comes down to k

[2016-05-02 23:09] maxigit opened #955 "level filtering not working"
I'm setting the level filtering in flycheck using the f key in error list and nothing happened. When I set it to error I expect all the warning to disappear but they are still there. Also , when I go to the next error, warning are not skipped. (I have the problem with haskell code).

[2016-05-02 23:27] cpitclaudel commented on #955
Thanks for this report. Can you provide a code sample demonstrating this issue (Haskell would be fine)? I cannot reproduce it on my machine.

I'm not sure I understand your report completely, but this could also be due to a miscommunication about what this feature does. At the moment, filtering only affects the error list; it does not hide error annotations (squiggles) from the source buffer, nor

[2016-05-03 09:48] maxigit commented on #955
I'm not bothered about the squiggles, but more the navigation. Setting `flyckeck-navigation-minimum-level` or `flycheck-error-list-minimum-level` doesn't seem to have any effect, whatsoever.

I have the problem with every files (haskell or not) but I'm using spacemacs. You could try with this

[code]

using the `haskell-ghc` checker.

[2016-05-03 10:38] lunaryorn commented on #955
How did you set it, and how do you navigate?  It'd be great if you could provide a [reproducible `emacs -Q` recipe](http://www.lunaryorn.com/2015/11/29/reproduce-bugs-in-emacs-Q.html) that illustrates the behaviour you get, as opposed to the behaviour you'd like to see.

[2016-05-03 10:49] maxigit commented on #955
I navigate using spacemacs shortcut : SPC e n. I set it either using the f
key on the error list or the `flycheck-set-error-list-filter-level` or
customize-variable`.
I'll try to reproducte it using emacs -Q, but that things difficult as I
need flycheck, haskell and possibly spacemacs to reproduce it.

On 3 May 2016 at 11:38, Sebastian Wiesner <notifications@github.com> wrote:

[2016-05-03 12:03] lunaryorn commented on #955
@maxigit You won't need Spacemacs to reproduce it.  Or in other words, if you need Spacemacs to reproduce it it's a Spacemacs issue, not a Flycheck problem.

Please do try to reproduce the behaviour without Spacemacs.  We can't give support for Spacemacs, given the amount of things it changes.

[2016-05-03 20:52] maxigit commented on #955
It's a Spacemacs problem. The severity is not set when the error are defined.

[2016-05-03 20:52] #955 closed

[2016-05-03 20:55] lunaryorn commented on #955
Please report the issue to Spacemacs in this case.  Thank you for taking the time to debug the issue, I hope that the problem in Spacemacs gets fixed fast.

Thank you.

[2016-05-03 21:06] maxigit commented on #955
I sent a pull request to fix it.

On 3 May 2016 at 21:55, Sebastian Wiesner <notifications@github.com> wrote:

[2016-05-03 22:14] syl20bnr commented on #955
Thank you :+1:

[2016-05-04 05:40] seanfarley commented on #954
I use emacsclient normally through the [emacs-mac package](https://github.com/railwaycat/homebrew-emacsmacport). It could be a change there (since it was recently updated) that caused this but I haven't had the time to look at into it :-/

[2016-05-07 11:30] #947 closed

[2016-05-07 14:06] #881 closed

[2016-05-07 17:29] mwotton opened #957 "run checking command with environment variables?"
I need to use a makefile to get the appropriate CPP flags etcs for building my arduino app.
This means it'd be easier for me to run the checking command from within Make. Unfortunately, this means I have to run a command like "make check-syntax CHK_SOURCES=mycoolfile.ino". I can't seem to work out how to pass in an environment variable to the :command parameter in flycheck-define-checker - is ther

[2016-05-07 17:53] mwotton commented on #957
as @csw just pointed out to me, either setting the shell variable "CHK_SOURCES=mycoolfile.ino make check-syntax" or what i wrote earlier works, but is passing a single parameter "CHK_SOURCES=mycoolfile.ino" to make. I think I need a way to assemble that string inside the macro, though?

[2016-05-08 11:58] lunaryorn commented on #957
Flycheck provides no first-class support for this way of passing file names, and—at least as far as my opinion is concerned—will never do.  It's simply too exotic a use case in my opinion.

However, the `:command` property lets you evaluated arbitrary code and thus create arbitrary commands with the `(eval …)` cell.  You can use this to manually obtain a temporary copy of the current buffers conte

[2016-05-08 11:58] #957 closed

[2016-05-08 14:59] mwotton commented on #957
thanks, I'll try digging into that.

[2016-05-09 19:37] lunaryorn commented on #950
@gxiaotian Were you able to solve this problem?

[2016-05-09 20:54] gxiaotian commented on #950
@lunaryorn Sorry. I don't have so much time to work on it, although I really want to. If you can solve it, I will very appreciate it. By the way, mpicxx, a mpi compiler for cpp, is not supported neither. Thank you so much!

[2016-05-10 06:34] lunaryorn commented on #950
@gxiaotian We cannot solve this issue without your help.

We need you to try whether changing the executable works, and if it doesn't, give us a precise description of how it breaks.

What does "wrong" mean?  How did it fail?

I understand that you're short of time—who isn't, after all?—but if you can't work with us on this issue for a foreseeable time, I'd rather prefer to close this issue as we'

[2016-05-11 09:20] Simplify commented on #859
@lunaryorn Where to place test for checkstyle XML parser? Current test use output from `jshint`, but checkstyle is also used from non-js checkers.

[2016-05-11 09:59] lunaryorn commented on #859
@Simplify Checkstyle is a very generic format that's used by many different checkers.  I'd not put it into a language-specific spec.  How about `test/specs/test-error-parsers.el`, to hold around generic error parsing?  Eventually this file could also have tests for our regular expression parsing then.

[2016-05-11 10:02] Simplify commented on #859
@lunaryorn  Ok, thanks. That answers my question, where to place that test.

[2016-05-11 18:33] fjs2097 opened #963 "URL not found when trying to install flycheck"
Hi, I am trying to install flycheck for my emacs (24.5.1 on linux) and am encountering the following issue :
after adding the right repository into my package-archives as such :
(require 'package)
(add-to-list 'package-archives
              '("melpa" . "https://melpa.org/packages/") t)
(package-initialize)

and installing the package through the mini-buffer as such :
M-x package-install RET flych

[2016-05-11 18:35] cpitclaudel commented on #963
Hi @fjs2097,

Can you try `M-x package-update`, then `M-x package-install` again?

[2016-05-11 18:46] fjs2097 commented on #963
Thanks for the quick reply
M-x package-update is not recognized, gives me [No Match]

[2016-05-11 18:53] Simplify commented on #963
Hi @fjs2097
Try running `package-refresh-contents` before running `package-install`.
Or install `flycheck` from the packages list after running `package-list-packages`.

[2016-05-11 19:04] fjs2097 commented on #963
it worked, as simple as that!
thanks for the help!

[2016-05-11 19:09] #963 closed

[2016-05-11 19:19] cpitclaudel commented on #963
Woops, sorry, package-update is a personal binding :)

[2016-05-11 21:46] gxiaotian commented on #950
@lunaryorn I just changed the command of "flycheck-define-checker fortran-gfortran" from "gfortran" to "mpif90" and it works. And the same thing happened to "gcc" and "mpicxx". I forgot recompile the lisp code last time, so it didn't work then.

[2016-05-11 21:56] cpitclaudel commented on #950
Ah, great! You may be interested in `flycheck-set-checker-executable`, too: this way you won't have to modify Flycheck's sources.

[code]

[2016-05-11 21:56] #950 closed

[2016-05-12 11:48] Simplify commented on #859
@lunaryorn `:to-be-equal-flycheck-errors` can not be used with Checkstyle example XML. It crashes because one of the errors have line number `nil`. However, because we are comparing two lists, `:to-equal` can be used without problems. Other option is to change `flycheck-error-format` to allow line number `nil`.

[2016-05-12 12:47] lunaryorn commented on #859
@Simplify Just change the test XML to have valid line numbers everywhere.

[2016-05-12 13:33] Simplify commented on #859
@lunaryorn Original XML had `line="undefined"`, now is `line="1"`. Are you sure?

[2016-05-12 14:13] lunaryorn commented on #859
@Simplify Sure :)  I don't know why had this in it, but I think that had it been on purpose or important I'd have left a comment that explains to my future self why it is there :wink:

Seriously, this test is just to make sure that we collect all info from the checkstyle and don't accidentally omit anything.  It's not there to make sure that we handle invalid data.  If we ever see invalid checksty

[2016-05-16 11:24] kthelgason commented on #877
There are some good standalone linters and syntax checkers for elixir [(dogma)](https://github.com/lpil/dogma) is one. These are quite easy to integrate into flycheck. Is there any interest in a PR adding support for one?

[2016-05-16 15:42] cpitclaudel commented on #877
Hi @kthelgason,

Sure, we're definitely interested! Provided it doesn't have the issue that our original checker did, of course :)

Clément.

[2016-05-16 16:08] chrisdone opened #965 "Online Flycheck manual is gone?"
I was just reading your blog about generic syntax checkers: http://www.lunaryorn.com/2014/12/03/generic-syntax-checkers-in-flycheck.html

In here:

That documentation link is 404.

If you google "flycheck api", the manual seems to be 404:

http://www.flycheck.org/manual/latest/Flycheck-API.html

Where can I get a copy of the API?

[2016-05-16 17:06] chrisdone opened #966 "Displaying errors from other dependent buffers"
Sorry to bring up an old issue (#829). I'd assumed there was a way in flycheck to display messages for other files. I'm writing a mode for Haskell, [Intero](https://github.com/chrisdone/intero), which uses flycheck as its main means of type-checking. It's basically a fork of GHCi and uses that to get very quick feedback.

I've been trying it out and it works nice, but sometimes if I change a type

[2016-05-16 17:53] maerten opened #967 "Problems with font names containing a dash '-'"
Flycheck gives me an error in Spacemacs on OS X El Capitan:

Flycheck error display error: (error Invalid font name: -*-Inconsolata-dz for Powerline-normal-normal-normal-*-12 .... etc

After searching a bit around, the only solution I found was to rename the font on the system, or use it as the default Monospace font.
Please let me know if you need any more information or if there is any way I can

[2016-05-16 18:16] lunaryorn commented on #965
We're in the process of moving to a different manual format and the API docs aren't there yet.

Meanwhile you can take a look at the [old manual](http://www.flycheck.org/en/latest/_downloads/flycheck.html#Syntax-checker-definitions) and use the docstrings.

I'm sorry for the inconvenience.

[2016-05-16 18:18] lunaryorn commented on #967
Hello.

thank you for reporting this issue to Flycheck, but I don't think that it's a problem in Flycheck itself.

Did you report this issue to Spacemacs?

[2016-05-16 18:20] chrisdone commented on #965
Ta!

[2016-05-16 18:20] #965 closed

[2016-05-16 18:21] maerten commented on #967
Hi,
No I haven't, but if you think it's not a problem in Flycheck, I will open the issue over there.
Thanks!

[2016-05-16 18:21] #967 closed

[2016-05-16 18:30] lunaryorn commented on #965
@chrisdone Please follow #616 for progress on the API docs.

I'm sorry that I didn't add them earlier, but I didn't realise that anyone actually used these.

[2016-05-16 18:47] lunaryorn commented on #966
@chrisdone Wow, first of all, thank you very much for sharing your thoughts with me, and for taking the effort to demonstrate that it really works and adds value to Flycheck.

I like the idea of going on a middle road:  We should not and cannot promise to check all files, but opening Flycheck to at least show all errors that were reported regardless from where they are in the error list is a good

[2016-05-16 20:21] chrisdone commented on #966
Great! Thanks for reading my long post. :joy: I'll work on a PR tomorrow!

[2016-05-17 07:14] lunaryorn commented on #966
@chrisdone All the more thanks for *writing* it.  It's awesome to see how much thought and effort you put into this.  Thanks for helping to make Flycheck better!

[2016-05-19 03:32] emacsuser123 opened #975 "Error checking not run on C files"
Hello.

I'm using the latest Flycheck version from Melpa on Ubuntu 14.04.

I'm editing a C buffer, and it seems that flycheck is not displaying errors on the fly.
Well, it does, but only partially, and I think that not as expected.

If I do:  C-c ! v, I get everything green for clang, gcc and cppcheck predicates and executables, and Flycheck Mode is enabled.

- The first problem is that flycheck c

[2016-05-19 06:57] lunaryorn commented on #975
@emacsuser123 Did you configure Flycheck for your project, I.e. setup include paths, etc.?

[2016-05-19 08:02] emacsuser123 commented on #975
Hi.
Thanks for the prompt reply.
Well, yes, I guess.
I've got only two variables configured:
- flycheck-indication-mode = right-fringe
- flycheck-c/c++-quoted-include-directory = /path/to/include

Is there any other thing that needs to be done?

Thanks.
-Bob

[2016-05-19 08:37] lunaryorn commented on #975
@emacsuser123 Where did you get `flycheck-c/c++-quoted-include-directory` from?  Flycheck doesn't define this variable; take a look at the [available options for C/C++](http://www.flycheck.org/en/latest/languages.html#c-c).

[2016-05-19 08:54] emacsuser123 commented on #975
To be honest, I have no idea.

Anyway, I have set both flycheck-gcc-include-path and flycheck-clang-include-path and now the error is gone.

For some reason I do not understand, only setting the gcc var was not enough, although I'm using the gcc compiler. I have clang also installed, but I guess the gcc var should enough in order to do the syntax check, right?

But The second error still persists.

[2016-05-19 09:06] lunaryorn commented on #975
@emacsuser123 By default, Flycheck uses Clang, so unless you explicitly disabled Clang you won't be using GCC for syntax checking.

As for the second issue, I can't tell.  Your report is a little unclear.  What's missing exactly?  Just the fringe icon?  Or the in-buffer highlighting as well?  Do you use a GUI frame or a TTY frame?  Do errors appear in the error list (`C-c ! l`)?

Can you provide a

[2016-05-19 11:12] emacsuser123 commented on #975
Thanks.
My fault.... The way I had defined the flycheck-clang-include-path var was incorrect.
I have defined it correctly, and now errors are displayed.

Thanks
-Bob

[2016-05-19 11:12] #975 closed

[2016-05-19 11:59] lunaryorn commented on #975
@emacsuser123 Thanks, I'm happy to hear that Flycheck works for you.  Have fun, and please tell us if you find anything missing, or have other issues with Flycheck. :blush:

[2016-05-20 20:19] fice-t opened #977 "Line number truncation in *Flycheck errors* buffer"
When the line number of the error/warning is > 4, then the number gets truncated (e.g. 1... instead of 10000). It would be nice if the column's width was determined dynamically (or interactively changeable) to prevent this.

`Flycheck version: 28snapshot (package: 20160518.111)`

[2016-05-21 08:24] lunaryorn commented on #977
Thank you for reporting this problem.  Would you like to try and implement your preferred solution and open a pull request?

[2016-05-22 19:22] sergv opened #978 "Temporary file names in error messages"
Flycheck uses temporary files as input to checkers. After error is produced, it tries to replace temporary file name back to original name in order not to confuse users. However, it does not always work because some checkers report filenames in multiple places, e.g. ghc 7.10.3 with stack may yield error message like

[code]

Since flycheck substitutes original filename only in error "header", it m

[2016-05-22 23:19] wende commented on #877
There is one by @obmarg here
https://github.com/obmarg/flycheck-elixir-dogma
I already integrated that into my spacemacs layer and it works great

[2016-05-23 08:57] lunaryorn commented on #978
I see the problem, but given that filename substitution is going to change in #973 please let's wait until that PR is merged.

[2016-05-28 00:58] kthelgason commented on #877
@wende Yeah, I saw his checker afterwards, and what I wrote was really similar.
There are some issues with it though, it supposedly only works with a specific version of dogma (although that's probably dogma's problem).

[2016-05-28 00:59] wende commented on #877
I don't have any problems with that.
But dogma has to be installed as an archive, because it tries to launch mix in the directory the buffer's file is in, not in the root of the project

[2016-05-28 18:05] fice-t commented on #977
Well, the following changed function seems to work (needs `flycheck-error-list-format` to be changed to a defvar):
[code]
Which could be made more efficient. It also assumes the last error contains the highest line number; is that incorrect?

Perhaps a stopgap solution could be to introduce a variable for the width in `flycheck-error-list-format`, or just change the default line-column width from

[2016-06-02 09:18] spwhitton opened #980 "cppcheck ERT test failure"
With Flycheck 27 and cppcheck 1.73 (the latest upstream release), the test suite fails:

    Test flycheck-define-checker/c/c++-cppcheck/default condition:
        (ert-test-failed
         ((should
           (equal expected flycheck-current-errors))
          :form
          (equal
           ([cl-struct-flycheck-error #<killed buffer> c/c++-cppcheck "/home/swhitton/src/flycheck/test/resources/l

[2016-06-02 09:42] lunaryorn commented on #980
@spwhitton Well, these tests regularly fail with newer versions of the corresponding tools.  Feel free to update :)

[2016-06-02 18:18] lunaryorn commented on #951
@robbyoconnor What's the status of this?

[2016-06-02 19:13] robbyoconnor commented on #951
I was waiting to hear back on what I should do...supporting both sounds
like a lot of work...maybe I'll just support pug?

--Rob
Sent from my cell, please excuse any typos.
On Jun 2, 2016 2:18 PM, "Sebastian Wiesner" <notifications@github.com>
wrote:

[2016-06-02 21:08] lunaryorn commented on #951
Ah sorry.  Yes, well only support pug imho.  Let's keep things simple ☺️

Is the rename complete already?

[2016-06-02 23:13] spwhitton commented on #980
@lunaryorn The problem is that one of the warnings has disappeared i.e. the new version detects only two problems, not three.  Is it likely that cppcheck removed their test, or do we have to update both the test and the test file?

[2016-06-03 05:23] ackalker commented on #740
@lunaryorn Please reopen this issue, it is not invalid. Firstly, the script is actually a shell script with Perl code embedded in it. The reason why it doesn't simply use a shebang is because many (most?) image loaders don't support passing more than one argument to the interpreter, which this script must do. The weird-looking first line is an established practice to avoid the script being run by

[2016-06-03 05:26] ackalker commented on #740
Workaround for users who have a "user" bin directory in their `PATH`: create a file `.../bin/verilator` with contents:
[code]
and make it executable using `chmod +x .../bin/verilator`

[2016-06-03 06:41] lunaryorn commented on #740
@ackalker What you've written and linked to explains why the script looks the way it looks but at least to me it doesn't provide a clue on what's wrong in this specific case, and beyond historical reference I'm not even sure whether the article you linked to is still relevant.  It's over 20 years old, after all.

I can well reopen this issue but I'd like to be sure whether this is actually an issu

[2016-06-03 06:42] lunaryorn commented on #740
Besides even considering information from the article I'm still not sure why the script doesn't carry a /bin/sh shebang.

[2016-06-03 08:34] lunaryorn commented on #980
@spwhitton I don't know what cppcheck changed, but it's still reporting errors, so it's not totally broken for Flycheck and thus it's fine to just update the unit test itself.

[2016-06-04 00:15] robbyoconnor commented on #951
I believe so -- give me a couple day? I'll reference this issue in my PR
On 06/02/2016 05:08 PM, Sebastian Wiesner wrote:

[2016-06-04 02:35] spwhitton commented on #980
Okay, I'll prepare a patch :)

--
Sean Whitton

[2016-06-04 04:30] cpitclaudel commented on #951
@robbyoconnor Perfect, thanks!

[2016-06-05 04:04] spwhitton commented on #980
Something quite strange is going on.  I would be grateful if you could take a look on your system.

Before my patch (reproduced from above):

    Test flycheck-define-checker/c/c++-cppcheck/default condition:
        (ert-test-failed
         ((should
           (equal expected flycheck-current-errors))
          :form
          (equal
           ([cl-struct-flycheck-error #<killed buffer> c/c++-c

[2016-06-05 11:11] lunaryorn commented on #977
@fice-t Sorry for replying late, seems that I forgot about this one.

The errors are sorted, but we shouldn't count on that.  It's not strictly required for Flycheck's internals and we might as well remove the sorting at some point.  Hence you'd need to iterate over all errors to find out the largest line number, but a simpler approach would probably just be `(max 4 (1+ (floor (log (line-number-at

[2016-06-05 11:28] #980 closed

[2016-06-05 11:28] lunaryorn commented on #980
@spwhitton It doesn't, it just causes the test to fail at different stages.  Take a closer look at the test case definition: It tests the checker in C *and* C++.

Currently the test fails in the C buffer because the check behind the const reference error only applies to C++.  If you remove that error from the expected errors it passes C but fails subsequently in the C++ buffer where the check appl

[2016-06-05 11:57] spwhitton commented on #980
@lunaryorn Thank you for taking the time to fix this :)

[2016-06-05 13:37] cpitclaudel commented on #977
I think increasing to 5 is pretty good. I'd be a bit worried about `(line-number-at-pos (point-max))`: it needs to iterate over all lines of the buffer, which could be pretty slow.

[2016-06-05 16:33] lunaryorn commented on #930
@themattchan Are there any open questions left?  What's the state of this?

[2016-06-05 20:03] guivho opened #983 "flycheck-temp-file-system problem in windows editing code from orgmode"
This is a Windows only problem, though I hope that the fix is harmless to non-windows environments.
I am running Windows 10 and flymake-21060605.407 in GNU Emacs 25.0.92.1 (x86_64-w64-mingw32)  of 2016-03-03.

Flymake works like a charm (thank you guys) a.o. to check  .el, .js, .php et al. files.

However, my emacs.el file is generated from an emacs-guivho.org file. When I issue `C-'` to edit an e

[2016-06-05 20:22] #983 closed

[2016-06-05 20:29] lunaryorn commented on #983
@guivho Thanks for reporting this issue.  While we normally don't try and fix Windows issues the fix you proposed looks simple enough, and I've applied it to `master`.

I can't test it, obviously; please tell me whether the fix works.

Another thing: In future please use [Github's Markdown markup](https://guides.github.com/features/mastering-markdown/) to format your posts and comments on Github.

[2016-06-05 20:49] guivho commented on #983
Thanks
Wildo

Guido

[2016-06-06 12:48] manuel-uberti opened #986 "Help with new syntax checker"
Hello,

first of all thanks for Flycheck, can't live without it. :)

This is not an issue with Flycheck, which works just fine, so if you need me to open it somewhere else (i.e.: Emacs.StackExchange) please feel free to close this issue.

I am trying to add a new syntax checker for [CHICKEN Scheme](http://call-cc.org/), using its own compiler as suggested on the CHICKEN's IRC channel.

There is al

[2016-06-06 12:55] lunaryorn commented on #986
@manuel-uberti Thank you for your kind words :blush:

I don't know chicken scheme, so all I can do is guess based on what you've shown, but it looks if
there's a line break with indentation before the file name part in your example output which is not matched by your regular expression—which neither accounts for the line break nor for the subsequent indentation; it just expects a single space afte

[2016-06-06 13:11] manuel-uberti commented on #986
Thanks for the hint. I came up with this:
[code]
But still no messages.

[2016-06-06 13:24] cpitclaudel commented on #986
The sample that you pasted suggests that the output is indented using spaces, not tabs, right?

[2016-06-06 13:28] manuel-uberti commented on #986
Yes, thank you!
[code]
![2016-06-06-152906_1850x216_scrot](https://cloud.githubusercontent.com/assets/8199224/15823519/4abae1d2-2bfb-11e6-9933-a23c5d698292.png)

Thanks guys for the prompt help. I'll see if I can open a PR soon.

[2016-06-06 13:28] #986 closed

[2016-06-06 13:31] lunaryorn commented on #986
@manuel-uberti You're welcome :blush:

[2016-06-06 15:47] guivho commented on #983
@lunaryorn,

installed version 20160606 and it no longer complains aboout filenames, works like a charm!

Thank you so much!

Guido

[2016-06-06 23:49] CyberShadow commented on #323
Where can I find information on how to add FlyCheck support for a language?

The website has a "The Developer Guide" section, but all it says is "Todo: Port the extending section from the Texinfo manual".

Okay, where's the texinfo manual? No link is provided.

I found a `flycheck-info` function, but all it does is open the same website.

I search online for "flycheck developer", nothing relevant.

[2016-06-07 08:27] lunaryorn commented on #323
@CyberShadow

There's a link in the [User Guide](http://www.flycheck.org/en/latest/#the-user-guide) but it's arguably not very prominent.  If you can suggest a better way to reference it please let's hear it :blush:

Indeed, and that's what this issue is for.  But documentation takes time to write, and if you take a look at [our board](https://waffle.io/flycheck/flycheck) you'll see that there's *

[2016-06-07 11:28] CyberShadow commented on #323
Thanks for replying, and this is what I did in the end for the nitty-gritty (my end result is [here](https://github.com/CyberShadow/hrm-mode/blob/master/hrm-mode-flycheck.el)). I just didn't know where to start looking, so since there was an official manual that was my starting point.

Another thing that really helped is this excellent blog post:

http://www.lunaryorn.com/2014/12/03/generic-syntax

[2016-06-07 12:27] lunaryorn commented on #323
@CyberShadow  I'll try my best to finish the manual as soon as possible.  Please subscribe to #928 to follow the progress of the developer documentation.

Oh, I must admit that this comes as a surprise, for `flycheck-checkers` is actually mentioned in the very first paragraph of the docstring of `flycheck-define-generic-checker`, right after the summary line:

syntax checker selection with `flyche

[2016-06-07 12:29] CyberShadow commented on #323
I bow my head in shame. PEBCAK indeed.

Thanks again!

[2016-06-08 03:05] sshaw opened #989 "Add RuboCop Minimum Version to Docs"
With the addition of the `--cache` option one must have RuboCop >= `0.34.0`.

[2016-06-08 03:07] sshaw commented on #989
Or may be better to check the installed version and add the option based on that.

[2016-06-08 07:30] lunaryorn commented on #989
@sshaw The minimum version is documented in `flycheck-describe-checker RET ruby-rubocop`, isn't it?  Which docs are you referring to?

We won't check version requirements for tools, or conditionally assemble command lines based on the detected versions—it's simply too much maintenance effort to keep such checks up to date.

[2016-06-08 20:39] sshaw commented on #989
Yes, I see it there. The docs I was refering to [are on the website](http://www.flycheck.org/en/latest/languages.html#syntax-checker-ruby-rubocop).

[2016-06-13 17:35] tarrsalah opened #991 "Checker php-phpcs returned non-zero exit code 2, unknown option --stdin"
### Error message
`Suspicious state from syntax checker php-phpcs: Checker php-phpcs returned non-zero exit code 2, but no errors from output: ERROR: option "--stdin-path=/home/tarrsalah/src/index.php" not known.`

### versions
|program| version|
|------|----------------|
|php |  7.0.4|
|emacs| 24.5.1|
| phpcs |2.2.0 (stable)|
|flycheck| 29snapshot (package: 20160606.302)|

### notes

- The error

[2016-06-13 19:54] lunaryorn commented on #991
Please update to the newest release of phpcs.  Flycheck needs version 2.6 or newer.

[2016-06-13 19:54] #991 closed

[2016-06-18 22:41] fice-t commented on #977
5 is working good for me so far. While dynamic-width columns would be nice, I don't think it's much of an issue now.

It appears that there's already a [feature request](https://debbugs.gnu.org/cgi/bugreport.cgi?bug=21932) for this on the Emacs side for `tabulated-list-mode`.

[2016-06-19 04:25] cpitclaudel commented on #977
@fice-t I have unbounded admiration for people who manage to find things in the Emacs bugs list.

[2016-06-20 04:26] cpitclaudel opened #993 "Would matching backwards help us with multiline errors?"
Hey @lunaryorn,

Some checkers don't indent continuation lines in multiline messages; this makes it tricky to split consecutive messages. For example in ReStructuredText:

[code]

In this particular case it could  work to just parse until a blank line, but more generally there's an issue with multiline messages whose continuation lines are not clearly indented (or otherwise indicated).

Could pars

[2016-06-20 08:57] lunaryorn commented on #993
@cpitclaudel I'm not sure whether I understand the issue… but in any case I'd not like to include error parsers that we don't use ourselves.  IOW, if a different error parser for a certain checker fixes an issue or makes parsing simpler I'm all for it, but we should not include a parser just because it might possibly be useful.

I'd like to see a patch that shows why we need this.

[2016-06-20 13:46] cpitclaudel commented on #993
Ok :) I need to find the time to write it :) Let's close this, and I'll reopen when I find time.

[2016-06-20 13:46] #993 closed

[2016-06-21 13:47] pankajbhanu opened #994 "suspicious state from syntax checker: ValueError: I/O operation on closed file."
I am getting this error on every edit made to a python file

i am using the following packages
flake8==2.5.4
flake8-blind-except==0.1.0
flake8-debugger==1.4.0
flake8-docstrings==0.2.5
flake8-isort==1.2
flake8-quotes==0.2.4

Checker definition probably flawed.
Suspicious state from syntax checker python-flake8: Checker python-flake8 returned non-zero exit code 1, but no errors from output: Tracebac

[2016-06-21 14:11] lunaryorn commented on #994
@pankajbhanu We pass the buffer contents to flake8 on standard input, and one or more of the flake8 plugins you've installed doesn't handle that—according to the stack trace it's pycodestyle.  We've seen that before with other plugins, and unfortunately there's little we can do.

You need to figure out which plugins break, and report upstream bugs.

To reproduce the issue on the terminal outside o

[2016-06-21 14:11] #994 closed

[2016-06-22 06:21] rski opened #995 "Not all Puppet <4 messages are parsed"
This is similar to #675, but I wasn't sure if I should bump a year-old issue so I opted for opening a new one.
Similarly to #675, some syntax errors are not parsed properly.
For example:
[code]
There is a comma missing after file, which is a syntax error. Instead of it being marked, i get
`Suspicious state from syntax checker puppet-parser: Checker puppet-parser returned non-zero exit code 1, but

[2016-06-22 08:04] lunaryorn commented on #995
@rski The error pattern seems to be incorrect.  Would you like to try and fix it?

[2016-06-22 08:16] rski commented on #995
@lunaryorn will definitely do, not just now but i'll try to make time for it soon

[2016-06-22 20:42] tko commented on #836
If the main motivation for `:maximum-level` is to stop trying to run a (linter) checker on syntactically broken buffer because you know it's not going to work, I wonder if it would be more clearly declared as something like `:requires syntax` -- meaning if any of the `syntax` level checkers give an error this checker isn't run?

Then if you have the guarantees that all the checkers that are run wi

[2016-06-23 06:45] rski commented on #995
Well, I can't reproduce this at my home computer with arch. Emacs versions and puppet-lint versions are the same. This is weird.

[2016-06-24 11:20] pankajbhanu commented on #994
i figured out the plugin causing errors in pylint. After removing it the output of flake8 - < file.py and flake8 file.py do match.

But now when i open my project in emacs flycheck throws an error
`Flymake : configuration error has occurred while running (epylint app_flymake.py). Flymake will be switched off.`

[2016-06-24 12:38] cpitclaudel commented on #994
This is a Flymake error, not flycheck, right?

[2016-06-24 13:03] lunaryorn commented on #994
@cpitclaudel Indeed, it is.

[2016-06-25 06:19] scarletsky opened #997 "How do I remove the annoying underline in flycheck (using eslint)?"
I am using spacemacs and flycheck-eslint as linter to check my React code.

Here is my project's `.eslintrc`,

[code]

I have set **NO** semicolon in the `.eslintrc`. I've try Atom Editor, Sublime Text3, VSCode, they work as expect.

But in spacemacs, I got the annoying underline hint.

[![enter image description here][1]][1]

  [1]: http://i.stack.imgur.com/SnWjQ.jpg

I know that I can remove the

[2016-06-25 06:40] lunaryorn commented on #997
These underlines are come from JS2 Mode not Flycheck.

I'm closing as invalid.

[2016-06-25 06:55] Simplify commented on #997
Try setting `js2-strict-missing-semi-warning` to `nil` or in your case setting `js2-missing-semi-one-line-override` to `t` may work as well.

[2016-06-25 13:14] scarletsky commented on #997
@lunaryorn I am so sorry. I will close this issue.
@Simplify  Thanks for your tips!

[2016-06-25 13:14] #997 closed

[2016-06-26 06:23] spwhitton opened #999 "Flycheck HTML docs should not load images and javascript from third party servers"
The offline HTML docs generated by `cd doc && make html` are a really nice resource.  However, they are not self-contained.  They load images and JavaScript from third party servers.  That means they don't work without a connection to the Internet.  Further, they could compromise the user's privacy.  Loading images provides information about the user's browsing of the docs to the image servers, an

[2016-06-26 08:34] lunaryorn commented on #999
@spwhitton I wasn't aware that anyone would try to use our documentation offline.  We do not include the documentation in our packages.  Are you building the documentation yourself?

[2016-06-26 08:50] lunaryorn commented on #836
@tko  Thank you for your comment.  It's great to have an outside perspective.

I really like `:stage` as a name; it's much better than `:kind`.  Thank you for the suggestion, we'll use it.

On the other hand I don't think we should discuss numeric priorities again.  A number conveys no meaning, and it's literally impossible to decide whether to put a checker at 90 or 91… what'd be the difference b

[2016-06-26 09:19] spwhitton commented on #999
Yes, I'm building it from the git repository, like this:

    cd doc
    make html

[2016-06-26 09:39] lunaryorn commented on #999
I'm trying to understand your use case to figure out whether we need to change Flycheck's doc build or whether we just need to find a fix for your case 😊

Are you just building the documentation for yourself?  Or do you intend to distribute it?

Besides what images do you refer to?  Can you probably compile a list of all external resources you'd like to disable?

[2016-06-26 10:06] spwhitton commented on #999
Thank you for your interest in this issue :)  I'm trying to build the documentation it to include in Debian, in `/usr/share/doc/flycheck/html`.  So I think that this is just for my case (hence low priority).  [Here's a list of files](https://gist.github.com/spwhitton/a1528096a9c80b9d3755bc4db42058e5) and the external resources they contain.

[2016-06-26 11:39] lunaryorn commented on #999
Well, but building for Debian extends to more than just a personal build, doesn't it 😄 I've only skimmed the list but it appears that it's all sidebar buttons and badges.

Could you try to remove `about.html` from `html_sidebars` in `doc/conf.py`, rebuild the docs from scratch with `make -C doc clean html` and compile the list again?

If it's really just the sidebar it should be easy enough to add

[2016-06-27 15:53] alimavrakis commented on #330
For anyone coming late to the party -- updated [link to the docs](http://www.flycheck.org/en/stable/user/syntax-checks.html#variable-flycheck-check-syntax-automatically)

[2016-06-29 17:52] juergenhoetzel opened #1000 "Flycheck not enabled on tramp buffers when using `(global-flycheck-mode)`"
This is well documented [here](http://www.flycheck.org/en/latest/user/syntax-checks.html):

IMO this is not valid, when using *Generic syntax checkers*. like I do in [flycheck-fsharp](https://github.com/fsharp/emacs-fsharp-mode/pull/88), which uses a persistent backend process.

Is it possible to relax this restrictions for generic checkers?

[2016-06-29 18:59] lunaryorn commented on #1000
@juergenhoetzel This restriction only applies to Global Flycheck Mode.  It's not possible to relax this restriction at this point—Flycheck doesn't even know about any syntax checkers yet.

In any case I'm not sure in how far a persistent background process changes anything.  You'd still end up sending buffer contents over the line at some point, in either direction, wouldn't you?

Can you explain

[2016-06-29 19:28] lunaryorn commented on #908
I'm closing this issue.  I don't think that there's anything for us to improve here.

[2016-06-29 19:29] lunaryorn commented on #977
I think we can consider this closed then.

[2016-06-29 19:29] #977 closed

[2016-06-29 19:33] juergenhoetzel commented on #1000
I see.

On 10kbit mobile this could really be an issue. I have a DSL connection. IMO/experience the bottleneck ist always the *elisp* parsing code (JSON in case of `flycheck-fsharp`).

Things look different when using external checkers. In this case Tramp have to spawn an extra SSH connection for each command. Flycheck like many other useful packages (Projectile, Magit) isn't useful in this case.

[2016-06-29 19:39] juergenhoetzel commented on #1000
Using mode-hooks is an easy workaround to enable `flycheck-mode` with suitable generic checkers. So I will close this issue. Thanks for your feedback!

[2016-06-29 19:39] #1000 closed

[2016-06-30 00:48] lunaryorn commented on #1000
@juergenhoetzel You're welcome, keine Ursache 😊

[2016-06-30 08:10] magicdirac opened #1001 "unable to bind new command under `flycheck-mode-map` or `flycheck-command-map`"
Hello, I write an avy interface package [`avy-flycheck`](https://github.com/magicdirac/avy-flycheck) for flycheck syntax errors naviagation.
I intend to bind this new command to `C-c ! g` as below
[code]
However, that does not work, can you help me how to do that?

[2016-06-30 13:14] cpitclaudel commented on #1001
Hi,

Can you try `M-x where-is RET avy-flycheck-goto-error RET` after running the `define-key` above? What does that print?

[2016-06-30 14:50] kevinj2016 opened #1002 "Flycheck wrong-type-argument stringp 47 error"
I'm new to Flycheck, and am trying to make warnings for references and assignments to free variables and unknown functions go away from the Flycheck errors list. I'm using `(require 'my-dcls)` statements in my code files in hopes that Flycheck can load the declarations to help avoid free variable warnings.

Unfortunately, I have had zero luck with Flycheck in this regard, despite doing my homework

[2016-06-30 20:52] magicdirac commented on #1001
[code]
and then run
`M-x where-is` `avy-flycheck-goto-error` it returns
[code]

[2016-07-01 01:48] cpitclaudel commented on #1001
sounds like it works wells.

I think you could simplify this code. Assuming your package depends on flycheck, there'll be a `(require 'flycheck)` somewhere in that file. Since that function is autoloaded, the require will be run before the function. Thus `(define-key ...)` should be enough (regardless of this, the `if` part is useless; see the docs of `with-eval-after-load`)

However I noticed tha

[2016-07-01 01:49] #1001 closed

[2016-07-01 03:20] magicdirac commented on #1001
Thank you!

[2016-07-01 07:38] rski commented on #995
There is another edge case of the same output which was not fixed by the PR i proposed:
[code]
The unbalanced quotes cause an error like
[code]
The newline causes the error not to be parsed.
This might also be an issue with the puppet 4 parser, but I'll have to check.

[2016-07-01 17:52] lunaryorn commented on #1002
@kevinj2016 Thank you very much for reporting this issue.

Please edit your comment to add code blocks for the backtrace and the other information posted.  Currently it's a bit hard to read.

Does this error occur with all files?

[2016-07-01 18:25] kevinj2016 commented on #1002
Hi Sebastian,

Nice to hear from you.  Sorry about the hard to read, I didn’t even know there were code block markers available. I will of course try to make it as readable as I can.

Yes, as far as I know, the error happened with every Lisp file I loaded in emacs -Q mode.

Oddly enough, I have never seen it in normal emacs “non -Q” mode.  I’m hoping that’s what is preventing Flycheck from reading

[2016-07-05 00:34] spwhitton commented on #999
Thanks for the suggestion.  That shortens the list of errors, but some remain.  They are the Google Adsense code, and the image `forkme_right_darkblue_121621.png`.  Is there another file these might be included from?

[2016-07-05 10:45] lunaryorn commented on #999
These come from the layout itself, but can be turned off with some configuration settings.

I could add an `OFFLINE` option to the Makefile to disable these and remove the buttons the sidebar.  Would that be ok?

You'll have to test it once in a while, though, for I have no use for this option myself and won't be able to guarantee that updates to the layout or changes to the docs won't break it.

[2016-07-05 11:43] spwhitton commented on #999
On Tue, Jul 05, 2016 at 03:45:08AM -0700, Sebastian Wiesner wrote:

That would be great.

Yes, I would check it before every upload to Debian (so, shortly after
every time you make a release).

[2016-07-06 01:48] lovett commented on #737
Hello, I have some additional information about this issue.

I ran across the same error as was originally reported, using v2.6.1 of phpcs. As hinted at in an earlier comment by @lunaryorn, the problem appears to be the two blank newlines added by phpcs prior to emitting the checkstyle XML document when running in non-verbose, non-interactive mode. When I remove these newlines, flycheck is happy.

[2016-07-06 02:17] cpitclaudel commented on #737
Hi @lovett,

Thanks for the input. Could it be that $showProgress is true on some machines, but not others?

[2016-07-06 02:48] lovett commented on #737
Thank you @cpitclaudel, `$showProgress` was the indeed the culprit.

I was using a custom phpcs standard (set with `flycheck-phpcs-standard`) which contained a flag (`<arg value="sp" />`) that caused `$showProgress` to be turned on. This is something I picked up from the [phpcs wiki](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml). This argument is nice for CLI output beca

[2016-07-07 13:01] ptrv opened #1005 "wrong-type argument processp nil with generic checker"
When using `flycheck-ycmd` from [ycmd](https://github.com/abingham/emacs-ycmd/blob/master/flycheck-ycmd.el) I get the error `(wrong-type-argument processp nil)` since the merge of #973

Here is the last bit of the backtrace:

[code]

I could trace down the source of the error. It's here https://github.com/flycheck/flycheck/blob/master/flycheck.el#L2474

[code]

`flycheck-syntax-check-context` retu

[2016-07-07 13:05] lunaryorn commented on #1005
@ptrv No, that'd be a bug, imho.  @sergv Would you take a look, please?

[2016-07-07 13:17] lunaryorn commented on #1002
@kevinj2016 That's a very strange error.  I've been unable to reproduce it, and I've never seen it before.

Could you try to remove your `~/.emacs.d/elpa` (this will remove *all* your packages, please make backups before), reinstall Flycheck, and try again?

[2016-07-07 16:15] kevinj2016 commented on #1002
Hi, as you requested, I removed my current ELPA directory and did more experiments. I found a reliable trigger for the error, and it looks like it is my fault. The error occurs when I set the flycheck load path to a single string, and NOT to a list of multiple load path strings, like the documentation suggests. I thought that I would not require a list if I was only passing in a single addition to

[2016-07-07 16:26] cpitclaudel commented on #1002
Hi Kevin,

Thanks very much for the clarification; no problem at all. In general, it's safer to edit these variable through `M-x customize-variable`; this should ensure that such mistakes do not happen.

Re checking for correctness: I'm not sure; there are many such variables, so this would add quite a bit of code for relatively small benefits. An assert for this one wouldn't hurt, but it's not ob

[2016-07-07 16:41] kevinj2016 commented on #1002
Agreed, my case was a corner case, and probably not worth much effort. On the other hand, this case did get triggered, which immediately separates it from all the other potential cases in the code.

It probably wasted several hours of everyone's time (mine the worst, no doubt). So if was my code, I would invest the extra couple of minutes to test the flycheck-emacs-lisp-load-path variable with the

[2016-07-07 17:20] lunaryorn commented on #1002
@kevinj2016 I don't think that we'll add validation code ourselves.  As @cpitclaudel said that's a lot of work given the number of options in Flycheck, and it will obscure and clutter the relevant code.

We may take look at validate.el but not anytime soon I think.  We've more important issues, and we've had few type errors to be honest.

I'm curious however how you got the impression that a singl

[2016-07-07 17:21] #1002 closed

[2016-07-07 18:06] kevinj2016 commented on #1002
Yes, if I was to point at the #1 thing that confused me, it was the phrase in the documentation for flycheck-emacs-lisp-load-path, which talked about how if it was set to a list of paths, the list of paths would be added to the usual load-path.

I started out making it a list because I had multiple paths to add, but in my attempts to simplify, simplify, simplify to narrow things down for debugging

[2016-07-07 18:52] sergv commented on #1005
@lunaryorn The issue is that now we expected a process object in the `flycheck-syntax-check-context` field. Moreover, this process must've been created by `flycheck-start-command-checker` function - we retrieve `'flycheck-default-directory` property from the process in order to properly resolve file names in `flycheck-finish-current-syntax-check`.

Thus, if the assumption that there's always a pro

[2016-07-07 20:00] lunaryorn commented on #1005
We shouldn't expect any particular context object at this level.  Why do we need to know the working directory in the syntax check structure?

In any case, yes, we should put the working directory into this struct.  But in that case we should also lift the property to generic syntax checkers.  Sorry that I told you otherwise in the review but I wasn't aware of the implications.

Could you prepare

[2016-07-07 20:33] sergv commented on #1005
We need to know the working directory in the syntax check structure in order to be able to pass it to `flycheck-finish-current-syntax-check` function, which needs the directory to properly resolve file names in error messages.

[2016-07-07 21:11] clojj commented on #1005
same problem also with intero (Haskell) layer in spacemacs after upgrading to flycheck 20160707.604 (MELPA)

(wrong-type-argument processp nil)
  process-plist(nil)
  process-get(nil flycheck-default-directory)
  flycheck-report-buffer-checker-status....

[2016-07-07 21:56] sergv commented on #1005
@lunaryorn Currently `:default-directory` can only be specified in `define-command-checker`. It seems reasonable to move it to `define-generic-checker` as well, as this would allow any kind of checker to take advantage of the default directory. Would you agree?

[2016-07-07 21:57] lunaryorn commented on #1005
@sergv Yep let's do that.

[2016-07-08 07:21] chrisdone commented on #1005
It might be good to make a regression test for the functioning of a generic checker, as this broke people's workflows downstream.

[2016-07-08 07:40] lunaryorn commented on #1005
@chrisdone Please feel free to add one.

[2016-07-08 08:23] giupo commented on #720
Thank you @fspegni : I had a `PYTHONPATH=""` in my `$HOME/.bash_profile` (probably junk left rushing doing something else). Removing it from my environment solved this issue with flycheck for me.

[2016-07-08 08:57] ptrv commented on #1005
I can confirm that #1006 fixes this issue.

Thanks for the quick fix

[2016-07-08 17:05] lunaryorn commented on #1005
@ptrv Thank you for testing the proposed fix 👍

[2016-07-08 21:49] #1005 closed

[2016-07-09 04:22] kevinj2016 commented on #1002
I was thinking some more about your question about what led me astray. I realized that `flycheck-emacs-lisp-load-path` is NOT always a list. It can be set to `'inherit`, for example, or to a list. It seems to me that because it can be either a list or a non-list, that you must already be doing some type checking at that point in the code. So it seems to me that it wouldn't be breaking any type-che

[2016-07-09 06:36] cpitclaudel commented on #1002
Thanks a lot for ideas and suggestions @kevinj2016. I'm a bit wary of making an adjustment to the semantics of `flycheck-emacs-list-load-path`: it would be inconsistent with other Emacs variables used to store paths (such as `load-path`).

Your feedback is very valuable and welcome, though. Can you help us rephrase the following docstring to make it more clear?

[code]

I think I'd like to keep th

[2016-07-09 15:41] kevinj2016 commented on #1002
First I'd like to compliment you on your phrasings - they read very smoothly and friendly and inclusive, despite us having different views on things. I would change and reorder the doc follows:

    Load path list to use in the Emacs Lisp syntax checker.

    Can be set to nil, `'inherit`, or to a list of load paths. Must NOT
    be set to a single string directory load path. If you have a single

[2016-07-10 08:04] lunaryorn commented on #1002
@kevinj2016 Could you open anew ticket for improving said docstring?  It's easier for us to keep track of this that way :)

Thank you

[2016-07-11 03:02] kevinj2016 opened #1008 "Update doc string for flycheck-emacs-lisp-load-path variable"
On another thread of mine, Sebastian asked me to open a separate issue for improving the doc string for flycheck-emacs-lisp-load-path. Here's the suggested improved doc string.

    Load path list to use in the Emacs Lisp syntax checker.

    Can be set to nil, `'inherit`, or to a list of load paths. Must NOT
    be set to a single string directory load path. If you have a single
    directory pat

[2016-07-11 07:39] lunaryorn commented on #1008
Thank you for reporting this issue.  I'm all for stating the required types more clearly, but I don't think that we should document what you must not use.   What about:

[2016-07-11 08:04] lunaryorn opened #1009 "Compiler Macro error in `make compile`"
#973 has broken `make compile` on Emacs 25:

[code]

Note this `wrong-type-argument` error.

@sergv Would you please take a look at this error on Emacs 25?  Broken byte compilation is a serious issue; if we can't get this fixed I'll have to revert #973.

[2016-07-11 14:23] kevinj2016 commented on #1008
Hi Sebastian, please, do what you like. I know from your other writings that you have pretty strong views on various coding projects and things, and that you like to allocate your time accordingly. And it is of course your Flycheck program (that we all use and are grateful for).

I will not be offended (not that it matters!) whatever you do. It reminds me of when I was writing my first book for OR

[2016-07-11 14:31] kevinj2016 commented on #1008
PS. Not that it will help any, but I quoted my first symbol in Multics MacLisp Emacs back in 1980 or so.. When I searched the net for flycheck-emacs-lisp-load-path info, I found several articles and examples. Some of them set the variable to 'inherit in their code examples, which was clear and precise, no ambiguity at all. Some of them said (not in code, but in doc) "set it to inherit and ..." whi

[2016-07-11 14:41] Zman94 opened #1010 "HTML Flycheck on Spacemacs"
I am using spacemacs and I recently installed flycheck. While it works perfectly for C and other similar languages, it is not working with HTML. I can not tell you if I'm doing something wrong, but I will report the error to you in case it is a bug. I've installed tidy, I'm running on OS X 10.11.5 with `Emacs 24.5.1` and `Flycheck version 29snapshot (package:20160622.952)`. What I did, was open up

[2016-07-11 14:53] Thaodan opened #1011 "Shellscript add option for shellcheck args"
It would be nice if there would be an option to set args for shellcheck (like x to allow external sources),
just like _flycheck-hlint-args_ for _haskell-hlind_

[2016-07-11 15:01] lunaryorn commented on #1010
@Zman94 Please edit your post and use Github's markup to format your post.  In particular use code blocks for output and literal markup for things that you copy from Emacs.  This helps to read your report.

Furthermore there's no need for an email address.  This tracker is enough for communication.  I've removed your mail address from your comment.

[2016-07-11 15:09] lunaryorn commented on #1011
@Thaodan Please feel free to add this option and open a pull request.  If it's about a specific flag, though, we should probably add a proper option so that it can be changed through Emacs' customise interface.

[2016-07-11 15:21] lunaryorn commented on #1008
@kevinj2016 I'm not sure whether "evidence" is the proper word to use.  I don't think that this particular case constitutes evidence for anything other than that you misunderstood the documentation, for whatever reason.   It's probably an *indication* that the current documentation is unclear, but nothing more.

In my opinion your case is just a single point of data, and there's other data about o

[2016-07-11 15:34] Thaodan commented on #1011
It's about the -x option to allow external sources via the definition #
shellcheck source=example.sh

I'll try to add a proper option for this as they're maybe more options that
are useful to add if desired.

[2016-07-11 20:13] sergv commented on #1009
This looks like pretty strange error at the crossing point of macro definitions and byte compilation. I'll investigate.

[2016-07-11 20:47] sergv commented on #1009
Well, the problem turns out to be particularly simple. The `default-directory` variable is defined directly in C and has `stringp` predicate attached to it. One cannot assign anything but strings into it.

Next, this variable is special, so it has dynamic scope. Thus, when binding it via `let` the single memory cell gets assigned and this cell cannot contain anything but strings. Alas, `cl-defstru

[2016-07-11 20:54] lunaryorn commented on #1009
@sergv Oh dear, thanks for sorting this mess out 😳

I think renaming default-directory to working-directory is a good idea.  For the sake of consistency I'd use the new wording everywhere, in the struct as well as in syntax checker definitions and properties.

I'd be great if you could open a corresponding PR.

[2016-07-11 22:01] kevinj2016 commented on #1008
Sebastian, I'm really ok with you having a different point of view. My life experience has been that lots of times people have real reasons (that I can't see) for having different opinions than me. I don't have to be "right." Let the 10,000 flowers bloom, and all that. You know far more about being consistent with Emacs, your user population, etc than I could possibly know. Go ahead and do what yo

[2016-07-12 07:52] #1009 closed

[2016-07-12 12:21] lunaryorn commented on #1010
@Zman94 Well, as the output suggests, Flycheck does not support HTML Tidy in Web Mode.

The reason is simply that Web Mode supports many many more languages than just plain HTML, and all of these templating languages would make HTML Tidy choke, leading to many false positives and making the results of syntax checks useless.

You can either

* use Emacs' built-in HTML Mode to check the buffer, via

[2016-07-15 01:28] Zman94 commented on #1010
Please excuse the delayed response. The first option does not, I don't believe. What I'm looking for is what the second option imperfectly offers: an option to check semantic  and syntax errors while writing HTML and CSS. I will be using that second option for now. Thank you.

[2016-07-15 05:53] lunaryorn commented on #1010
I'll close this issue then.

[2016-07-15 05:54] #1010 closed

[2016-07-15 12:26] lunaryorn commented on #838
@flycheck/go @gfrey Is there an ETA for Go 1.7 already?

[2016-07-15 12:27] lunaryorn commented on #978
@sergv With #973 merged would you take a look at this again, and maybe open a pull request?

[2016-07-15 12:28] lunaryorn commented on #951
@robbyoconnor Any news here?  Did you get a chance to work on renaming Jade to Pug in Flycheck?

[2016-07-15 14:33] dominikh commented on #838
@lunaryorn The planned release date is August 1.

[2016-07-15 15:21] lunaryorn commented on #838
@dominikh Thanks :)

[2016-07-18 08:58] lunaryorn commented on #999
@spwhitton Please take a look at #1014 for the new option.

[2016-07-18 09:37] lunaryorn opened #1015 "make compile should fail on compilation warnings in Emacs 25"
On Emacs 25 `make compile` should fail on compilation warnings.

# Implementation notes

- Add `maint/compile.el` to compile files, instead of calling `batch-byte-compile` directly.
- Check `emacs-version` and set `byte-compile-error-on-warn` if on Emacs 25
- Call `batch-byte-compile` to compile all files.

[2016-07-19 03:47] NateEag opened #1016 "Flycheck's ESLint checker should support multiple custom rules directories"
Flycheck currently offers `flycheck-eslint-rulesdir` to specify a directory containing custom rules.

However, ESLint supports multiple rules directories, [by passing the `--rulesdir` option multiple times](http://eslint.org/docs/user-guide/command-line-interface#specifying-rules-and-plugins).

To support this in the Flycheck checker, I would suggest creating an alias called `flycheck-eslint-rules

[2016-07-19 06:48] cpitclaudel commented on #1016
Sounds good to me. Not sure whether we need the deprecation and alias, as opposed to just supporting a string or a list of string in that variable.

Do you want to take a shot at implementing this?

[2016-07-19 06:49] lunaryorn commented on #1016
I wouldn't mind a breaking change.  It's easier to just move from an option with a single string to an option with a list of string.  Flycheck's always been moving fast in this aspect, I don't particularly care about backwards compatibility.

It'd be great if you could open a pull request :)

[2016-07-19 19:38] ibrahima commented on #530
As a random note, yesterday I came across this as I wanted to autofix some scss-lint feedback, so I spent some time writing some elisp to solve the problem for my specific use case. The API @lunaryorn described seems quite flexible and reasonable to me, and I might end up trying to implement it over the weekend.

For those who are curious, you can start with something like

[code]

In my case, I w

[2016-07-20 01:37] cpitclaudel commented on #530
Seconded :) We'll be very very happy to guide and help you with this, if you want to implement it :)

[2016-07-20 07:00] lunaryorn commented on #530
@ibrahima I've sent you an invitation for our org, which gives you push access to our repositories.  You'll not be able to push to the protected `master` branch but you don't need a fork to prepare pull requests anymore :)

[2016-07-20 11:09] NateEag commented on #1016
Sure, I'll take a shot at it.

@lunaryorn - it sounds like you might prefer a breaking change to keep the code simple. Is that accurate?

I'm a backwards-compat guy myself, but if flycheck puts higher priority on simplicity, I can do that.

[2016-07-20 11:46] lunaryorn commented on #1016
@NateEag Yep that's correct.  It's just easier to maintain for us that way 😊

[2016-07-20 21:56] spwhitton opened #1017 "Debian release tags pulled into upstream repository"
Someone has pushed the Debian release tags `debian/27-1`, `debian/28-1` and `debian/28-2` to the upstream flycheck repository . . . they are now appearing on the GitHub's "Releases" page.  Should probably be removed!

[2016-07-21 06:52] lunaryorn commented on #1017
Thanks for making me aware.  Note though that you can remove these tags yourself, you've got push access to the repo 😊

[2016-07-21 09:13] lunaryorn commented on #1017
@spwhitton Actually, it was you yourself who pushed these tags:

![bildschirmfoto 2016-07-21 um 11 12 36](https://cloud.githubusercontent.com/assets/224922/17017557/15e1a28c-4f34-11e6-809f-3d4c7b2cb640.png)

No blame, no harm done, but please check your Git setup for your Flycheck clones to make sure that it doesn't happen again.  Thanks.

[2016-07-21 09:13] #1017 closed

[2016-07-21 09:13] lunaryorn commented on #1017
I've removed all these tags.

[2016-07-21 11:04] NateEag commented on #1016
Okay, sounds good. I'll check back in when I have something working.

It may be a little while - pretty busy these days.

[2016-07-21 12:54] Hardy5012 opened #1018 "flycheck show a error in a file generated by protoc"
![image](https://cloud.githubusercontent.com/assets/9472792/17023135/5bf7619e-4f84-11e6-8890-c097437ed3cd.png)
The base.pb.h is generated by protoc from base.proto, and check C-c ! C-c c/c++-clang output the follow message.

[2016-07-21 12:56] lunaryorn commented on #1018
@Hardy5012 Please correct the syntax of your comment.  Please use code blocks for the output of clang.

[2016-07-21 23:44] spwhitton commented on #1017
Sorry about that -- I didn't know that I could push tags.  Thanks for fixing it.

By the way, your screenshot is not evidence that I pushed the tags.  Because I didn't realise I had push access for tags, I assumed that someone had pulled them from my packaging repo and then pushed to GitHub.

[2016-07-22 01:52] Hardy5012 commented on #1018
google protobuf version is 2.6.1

[2016-07-22 05:56] lunaryorn commented on #1017
Ah so the user name in the screenshot is the user who tagged? I didn't know that tags had user names attached so I presumed it was the user who pushed the tag.  I'm sorry for the misunderstanding.

Never mind, no harm done.  It's easy enough to remove tags again.

[2016-07-22 19:46] spwhitton commented on #1017
Yeah.  Annotated tags are just like commits in that they have full authorship (and can be PGP-signed).  "Lightweight" tags are anonymous, and cannot be signed (they're generally less useful).

[2016-07-22 21:42] lunaryorn commented on #1017
@spwhitton Thanks for the explanation 😊

[2016-07-22 23:01] #999 closed

[2016-07-25 09:23] owlas opened #1020 "ANSI colour escape codes with python-pylint"
# ANSI colour escape codes with python-pylint

I have just enabled flycheck for the first time, which has detected my python-pylint executable. However, I am getting the following error that seems to arise because ANSI colours are not being escaped properly and are messing up message parsing:

[code]

My setup:
[code]

[code]

[code]

This was reproduced by:
[code]

[2016-07-25 09:27] lunaryorn opened #1021 "Include configuration files into verification buffer"
If a syntax checker uses a configuration file the presence of the configuration and its path should be included in the verification buffer.

[2016-07-25 09:31] lunaryorn commented on #1020
@owlas Thank you for reporting this issue.

However, Flycheck doesn't "escape" (i.e. parse?) ANSI colour codes, because syntax checkers shouldn't be printing colourised output in the first place.  It simply doesn't make sense to write ANSI colours in non-TTY environments.

Do you happen to have a pylint configuration somewhere that enables coloured output?

[2016-07-25 09:45] owlas commented on #1020
Interesting. I just `pip install`ed pylint and used it out of the box. I'm using Iterm2 on mac. Could the emulator be formatting the output?

[2016-07-25 09:51] owlas commented on #1020
Ok, very sorry, your comment has helped me to find the problem.

By testing a file in a new project, I've found that the project (from GH) I was using has a custom `.pylintrc` file that is enabled colour output.

[2016-07-25 09:51] owlas commented on #1020
Would it be reasonable to make a feature request that colour codes are escaped properly?

[2016-07-25 10:07] lunaryorn commented on #1020
@owlas I'd not implement such a request myself, and my vote would also go against merging a corresponding pull request.

I think that syntax checkers should never emit these colour codes in the first place, and I'd not like to add complex code—parsing these sequences is not that trivial—to work around what I think is a configuration error or bug in the syntax checker.  No tool should write colour

[2016-07-25 10:20] owlas commented on #1020
I believe the `no-color` flag is needed to remove the colours.

I think you make a convincing argument. Not to mention the fact that the option to show colours is more a user preference than something that should be committed into a project's `.pylintrc`

[2016-07-25 10:21] #1020 closed

[2016-07-25 11:25] lunaryorn commented on #1020
@owlas I'm afraid `pylint` 1.6.x doesn't know about this option here 😕

[2016-07-25 13:02] cpitclaudel commented on #1020
I agree entirely; pylint should not produce these colors. On the other hand, it might not be that hard to remove the sequences: `ansi-color-regexp` probably covers most of them.

[2016-07-26 07:25] ibrahima commented on #530
Hmm, so the described public API in post 1 seemed quite straightforward. My implementation is below. Interestingly enough, the function I wrote earlier for fixing SCSS-lint property order errors worked (mostly)[1] without any modifications. I still have a few more thoughts below.

[code]

1) Does it make sense to have separate hooks for each language mode or something like that? I can imagine that

[2016-07-26 08:03] lunaryorn commented on #530
@ibrahima Could you open a pull request for the implementation?  I'd like to discuss the code, and maybe the approach as well, and that's much easier if you can write inline comments on the diff :blush:

To your comments:

1) I guess we could call ourselves happy if we ever get 100 error fix functions.  We don't even have 100 syntax checkers 😉  But even if we get that much success I think calling

[2016-07-26 08:07] lunaryorn commented on #530
Ad 2) To be honest this situation didn't even occur to me.  You caught me be surprise here :blush:

I haven't thought about it but at a first glance I'd leave the choice of the interface in such cases to the error fixer function.  I don't think that it'd happen often enough to warrant a dedicated infrastructure in Flycheck, and then, I presume making a generic "choose your fix" interface would not

[2016-07-26 10:04] chrisdone commented on #530
If you're looking for ideas about the UX, in Intero we have "suggestions" (based on reading suggestions from error messages provided by GHC) and the UI looks like this: http://commercialhaskell.github.io/intero/#suggestions

![](http://commercialhaskell.github.io/intero/gifs/suggestions.gif)

[2016-07-29 09:13] lunaryorn opened #1024 "Remove JSCS"
JSCS has reached [end of life](http://eslint.org/blog/2016/07/jscs-end-of-life), we should stop supporting it as well.

/cc @flycheck/javascript

Edit: For reference, the [compatibility milestone](https://github.com/eslint/eslint/milestone/15)

[2016-07-29 09:56] Simplify commented on #1024
On the same page:

And:

I'll wait until that announcement. JSCS still have [27000+ downloads every day](https://www.npmjs.com/package/jscs), around same number as in April when they announced joining ESLint.

[2016-07-29 10:00] lunaryorn commented on #1024
@Simplify We can wait, but I'd not like to prolong cleanup work beyond what's absolutely necessary.  Users who still need JSCS can either restore the definition, or stick to an older Flycheck release.

[2016-07-29 10:05] Simplify commented on #1024
Ok, give me few days to check few things that JSCS did better than ESLint, for example checking JSDoc comments in the code.

[2016-07-29 10:07] Simplify commented on #1024
We can also extract JSCS in gist.

[2016-07-29 10:09] lunaryorn commented on #1024
@Simplify As I said, we can wait until eslint provides full compatibility, but as soon as that's the case, we'll remove JSCS.

[2016-07-29 16:08] #1016 closed

[2016-08-02 06:56] Hardy5012 commented on #1018
Target: x86_64-redhat-linux-gnu
Thread model: posix
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-redhat-linux/4.8.2
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-redhat-linux/4.8.5
Found candidate GCC installation: /usr/lib/gcc/x86_64-redhat-linux/4.8.2
Found candidate GCC installation: /usr/lib/gcc/x86_64-redhat-linux/4.8.5

[2016-08-03 08:48] #1015 closed

[2016-08-03 14:01] scudelletti commented on #362
You can install `rubocop` in the global gemset.

List global installed gems:
`rvm @global do gem list`

Install a gem in the global gemset:
`rvm @global do gem install rubocop`

Keep in mind your default ruby version.

[2016-08-08 08:31] #995 closed

[2016-08-08 20:10] dunn opened #1032 "Option to byte-compile without Cask"
Follow-up to https://github.com/flycheck/flycheck/pull/1029#issuecomment-238276670; it'd be nice to have a Make target that doesn't require Cask.  My usecase is Homebrew, where dependencies are already taken care of.

The path to each dependency might have to be specified in the Makefile with some sort of sensible default; this is how I did it in one case: https://github.com/dunn/homebrew-mode/blo

[2016-08-09 13:57] nayefc opened #1033 "Different pylintrc file for each project."
Hello,

I use flycheck, specifically for pylint to check my python code. I decided to download a pylint plugin called `pylint_django`. I'd like to load it only for one project (in a virtualenv). I created a pylintrc file that loads that plugin. Is there a way to have emacs load that pylintrc, instead of the default `~/.pylintrc`? My `flycheck-pylintrc` variable is set to `.pylintrc`.

I am using p

[2016-08-09 14:08] lunaryorn commented on #1033
`~/.pylintrc` isn't the default.  Flycheck tries to find `.pylintrc` in a number of places, see `flycheck-locate-config-file-functions`.  In any case you can use Emacs' Directory Variables to set `flycheck-pylintrc` to the absolute path of the pylint configuration file you'd like to use for files in that directory.

Note, though, that if you install a pylint plugin into a virtualenv you've got to

[2016-08-09 14:43] nayefc commented on #1033
@lunaryorn Ideally I'd like it such that once I activate that virtualenv, it will work automatically without having to set the variable manually each time I go int o that virtualenv.

I have pylint and the plugin installed into that virtualenv. Seems like setting the executable might do that. Will I still need to add the `load-plugin` line pylintrc? Because if I do, then that's back to square one

[2016-08-09 18:36] lunaryorn commented on #1033
I'm not sure what activating a virtualenv in the context of Emacs means.  I've never used any of the virtualenv packages for Emacs. Back when I still did a lot of Python I just change the executable path.  But as long as the virtualenv ends up in exec-path Flycheck should pick up pylibt from the virtualenv.

As for the pylint configuration I don't know either.  I've never used Pylint plugins and I

[2016-08-10 14:46] wbolster opened #1034 "no delay for echo area message when explicitly jumping to errors"
whenever i jump to an error, the echo area shows the error only after a delay. this is fine during normal editing, but when i _explicitly_ tell emacs to jump to an error, it would be useful to see the error message immediately, since the main reason to jump to an error is to investigate it. :-)

it would be great if flycheck ignored `flycheck-display-errors-delay` whenever triggered by an explicit

[2016-08-10 14:51] nayefc commented on #1033
I see, it just really means activating it using Pyenv. Pyenv emulates what it does to shell to Emacs so that the linter will see that virtualenv's packages and figure out your imports. It also allows you to jump between files and projects using `projectile-helm` etc...

I guess I'll have to hardcode something. Thanks for your help anyway, Python packaging and tooling really sucks :(

[2016-08-10 14:51] #1033 closed

[2016-08-10 14:56] wbolster commented on #1034
this seems to do the trick:

[code]

let me know if you agree this is useful behaviour. then i'll open a proper pr. :)

[2016-08-10 16:00] sergv commented on #978
Since PR is merged, the problem is solved.

[2016-08-10 16:00] #978 closed

[2016-08-10 23:47] futile opened #1035 "Support new Rust error format"
The rust compiler is switching to a new error format, see https://blog.rust-lang.org/2016/08/10/Shape-of-errors-to-come.html. Flycheck currently only supports the old format, which is already not used anymore in rust's nightly builds.

Instead of updating to this new format, the rust compiler can also output errors as json (`rustc --error-format=json`), which might also be an option. This would al

[2016-08-11 10:57] fmdkdd commented on #1035
Thanks for the heads up.  I was aware that we would need to update flycheck to the new error format, but was waiting for it to stabilize.

As I understand, the new error format is now the default in nightly, but won't land in stable before 8 weeks.  But in the meantime, flycheck won't work with nightly, and then beta.

As you suggest, the JSON output seems like the best way forward.  But if the JS

[2016-08-11 15:42] josephDunne commented on #1035
+1 As I only use Nightly rust so it sucks to loose flycheck support

[2016-08-11 18:50] cpitclaudel commented on #1035
Hi all,

Just to clarify: there's no format that will work with all these versions, right? If there is, I think it would be best to wait for the JSON format to land, and then move to that. Otherwise, JSON indeed seems like the right way to go right now.

[2016-08-11 22:02] fmdkdd commented on #1035
@cpitclaudel From what I can gather, the JSON format is the same in stable and in nightly.  I've just tested it on a couple of errors, and it certainly looks the same.  What has changed is that it is now a stable option in nightly, while in stable and beta you would have to pass the extra `-Z unstable-options` argument in order to get the JSON output.

So actually, switching to the JSON output wou

[2016-08-11 22:40] cpitclaudel commented on #1035
The the JSON parser is a very good way to go; thanks very much for clarifying (plus, we generally like structured error formats much better).

Can we pass the `-Z unstable-options` for all versions, or will the newer rustc choke on it? (or are there other downsides to passing it?) If not, then we'd have no version-specific code, which would be nice.

Re JSON parsing: tslint should be a good exampl

[2016-08-11 23:05] steveklabnik commented on #1035
Hi all!

I was asked on IRC about some stuff, so let me fill this in:

Historically, we have allowed every version of the compiler to specify `-Z unstable-options`, and allow you to opt into unstable features. This was really an oversight, lost in the "zomg 1.0" rush. So, finally, we decided to fix this: the intention was that on stable, `-Z unstable-options` would cause a hard error, and on night

[2016-08-12 09:23] fmdkdd commented on #1035
@steveklabnik Thank you for the enlightening background on this.

So if I understand correctly, it's a race condition between making `UnstableButNotReally` options hard errors and making `--error-format` a stable option.

But here's the bit I don't quite understand: rust-lang/rust#35401 merged into master 2 days ago, making `--error-format` a stable option.  Meanwhile, the discussion over at rust-

[2016-08-15 12:46] shibormot opened #1037 "go-errcheck error-pattern"
go-errcheck returns "but no errors in output" message in *Messages* buffer instead of highlighting warnings in source code

* Ubuntu 16.04.1 LTS
* GNU Emacs 24.5.1 (x86_64-pc-linux-gnu, GTK+ Version 3.18.9) of 2016-04-17 on lgw01-04, modified by Debian
* flycheck 29snapshot (package: 20160726.134)

as I found it is because of invalid pattern of message:
[code]
but working one is without space afte

[2016-08-15 19:10] lunaryorn commented on #1037
Would you like to open a pull request to address this issue and fix the pattern?

[2016-08-15 19:50] shibormot commented on #1037
Ok, I'll try, never deal with it yet

[2016-08-15 20:30] shibormot commented on #1037
Checked heads of errcheck and flycheck, it seems that they are consistent already. Closing issue.

[2016-08-15 20:30] #1037 closed

[2016-08-16 08:13] lunaryorn commented on #1035
I'd not spent too much time on backwards compatibility considerations.  If we only support Rust 1.7 or newer so be it.  It won't do much harm I guess, most folks [seem to be using recent releases or nightly anyway](https://blog.rust-lang.org/2016/06/30/State-of-Rust-Survey-2016.html#using-rust).

[2016-08-16 12:30] lunaryorn commented on #1034
@wbolster Oh, thank you for reporting this issue.

Flycheck actually tries to display the error immediately, but only when `flycheck-standard-error-navigation` is enabled and when you're using the built-in `next-error` and friends.

For our own navigation commands I apparently forgot to implement that. Sorry :blush:

----

As to the suggested change, though, I think there's a better way.  Did you

[2016-08-16 12:31] lunaryorn commented on #1032
@dunn Thanks for opening this issue, I'll add an option soon.  Sorry for the delay, I've been on vacation the last days.

[2016-08-16 15:13] dunn commented on #1032
No worries!

[2016-08-17 07:37] lunaryorn commented on #838
From the news it would appear that Go 1.7 has been released.  @flycheck/go, do you think that we can now finally change Flycheck to redirect Go's output to `/dev/null`?

[2016-08-17 09:51] dominikh commented on #838
@lunaryorn Sounds good to me. I've sent a PR.

[2016-08-17 10:21] #989 closed

[2016-08-18 06:47] lunaryorn opened #1041 "Add auto-formatter to Flycheck"
Add `maint/format.el` and a corresponding `make format` which formats all sources according to our style guide as far as possible.  It should

- [ ] reindent the buffer (requires loading unfortunately)
- [ ] cleanup whitespace to remove tabs, trailing spaces, etc.
- [ ] further ideas?

We should also replace the test that checks for proper indentation with a test that checks for proper formatting

[2016-08-18 10:57] manuel-uberti commented on #1041
Very nice idea.

Could there be naming conventions (i.e.: a checker's name) to check?

[2016-08-18 12:00] lunaryorn commented on #1041
@manuel-uberti Maybe, but not within the scope of this ticket.

[2016-08-18 14:15] wbolster commented on #1034
thanks. that also works fine indeed. i'll come up with a proper pr soonish.

[2016-08-18 14:42] lunaryorn commented on #1034
That'd be awesome 👍

[2016-08-18 15:56] manuel-uberti commented on #1041
@lunaryorn ok. Then reidenting the buffer and cleaning up whitespaces/tabs should be enough.

[2016-08-19 08:01] lunaryorn commented on #1032
@dunn See #1043.  You've got to pass `EMACSFLAGS` to setup load path explicitly via `-L`.  The makefile doesn't try and guess where dependencies might be located, as I don't think that there's a sensible default in the absence of Cask.

[2016-08-19 12:58] ghprince opened #1046 "Add support for files in luacheckrc"
As of #767 , luacheck are reading contents from standard input, which means following config in .luacheckrc will not work

[code]

since luacheck won't know the file name.

Anyway to workaround this?

[2016-08-19 13:33] lunaryorn commented on #1046
@ghprince Maybe, I don't know lua.

You may check the documentation of luacheck or ask its developers/maintainers whether we can somehow tell luacheck which file it's checking.  Some tools that we use have command line options for this purpose, for instance `--stdin-file-name` in eslint.  Maybe there's something similar for luacheck.

Could you try and find out?

[2016-08-19 17:30] ghprince commented on #1046
@lunaryorn Thanks a lot for your quick response! I walked through luacheck doc and did find this:

I'll create a pull request for this :)

[2016-08-19 19:50] lunaryorn commented on #1046
Awesome, thank you! ☺️

[2016-08-21 20:47] mambolevis opened #1048 "Question"
Hi,

In my **init** file I am defining a global constant:
`(defconst lisp-dir (expand-file-name "user/lisp" user-emacs-directory))`

I use that constant in other files `( e.g crossword.el)`, and everything works properly. Nonetheless,
flycheck shows the following message when `(require 'crossword)`
`symbol's value as variable is void: lisp-dir`

I verify the constant's value using C-h v , and it i

[2016-08-21 22:16] lunaryorn commented on #1048
Flycheck does not load your init file when checking files.  You need to move the definition into a common file which you can `require` whenever you use the variable, or you can declare it with `(defvar lisp-dir)` in every file you're using it.

Please note that it's generally not recommended to use variable names without prefix.

[2016-08-22 03:17] aemoncannon opened #1049 "Flycheck crashing on simple checker"
Flycheck version: 29snapshot (package: 20160817.321)
GNU Emacs 24.4.50.1

Trying to setup a simple checker here:
(flycheck-define-checker tsc
  "A TypeScript syntax checker using tsc command."
  :command ("tsc" "--noEmit" source)
  :error-patterns ((error line-start (file-name)
			  "(" line "," column "): error "
			  (message) line-end))
  :modes typescript-mode)

(add-to-list 'flycheck-checkers

[2016-08-22 03:51] aemoncannon commented on #1049
fwiw adding a null implementation of this function fixes it for me
(defun flycheck-get-next-checker-for-buffer (checker)
  nil)

[2016-08-22 04:13] syohex commented on #1049
I cannot reproduce and it looks working well on Emacs 25.1-RC2. It looks you use very old development version Emacs. Please upgrade Emacs and retry.

[2016-08-22 05:27] lunaryorn commented on #1049
Please edit your original post and add proper formatting.  The stack traces are hardly readable currently.

[2016-08-22 05:28] lunaryorn commented on #1049
And please update Emacs, yours is very old.  It's a development snapshot from some years ago?

[2016-08-22 17:43] rski opened #1050 "Puppet-lint has deprecated formatting with `linenumber`"
Since [release 1.0.0](https://github.com/rodjek/puppet-lint/releases/tag/1.0.0) in 2014, puppet-lint has deprecated formatting messages with `linenumber` in favour of just `line`.
Since flycheck calls it with `linenumber`, warnings are thrown.
The last release that didn't have `line` was in 2013, so I think we can just make this change rather painlessly.

[2016-08-22 18:47] cpitclaudel commented on #1050
This sounds good. Can you prepare a pull request?

[2016-08-22 19:03] mambolevis commented on #1048
`You need to move the definition into a common file which you can require whenever you use the variable`

I chose this option because it keeps the definitions in one place. So, I made the following:
[code]
In `frey-directories.el`  I put all my directories:
[code]
After that I `(require 'frey-directories)`and flycheck see the definitions.

If you have any comment please let me know,
Thanks

[2016-08-22 20:23] rski commented on #1050
Sure. I'm self assigning it for now, but I'll be rather busy this week so if anyone else wants to squash this that'll be good too.

[2016-08-23 02:48] aemoncannon commented on #1049
That did the trick. Thanks!

[2016-08-23 02:48] #1049 closed

[2016-08-23 18:42] cpitclaudel commented on #1048
This looks good :) Use-package might be superfluous, but it doesn't hurt.

[2016-08-23 18:42] #1048 closed

[2016-08-25 01:12] yskkin opened #1054 "Support older phpcs"
Few coding standard requires phpcs < 2.6.
For example, [the standard for CakePHP 2.x](https://github.com/cakephp/cakephp-codesniffer/tree/1.x) requires [phpcs ^1.4.0](https://github.com/cakephp/cakephp-codesniffer/blob/1.x/composer.json#L21).

Please consider checking `flycheck-php-phpcs-executable`'s version and fallback checker definition by removing `--stdin-path` option and adding `:standard-i

[2016-08-25 02:49] #1050 closed

[2016-08-25 03:12] #838 closed

[2016-08-25 06:17] lunaryorn commented on #1054
I am sorry but that is not an option for us.  If we were to do this for one checker we had to do it for all checkers and things would quickly get out of hand and become a mess.

We will not try and support older versions of phpcs.

Please copy the old definition of phpcs which works with 1.4 to your configuration.

[2016-08-25 06:18] #1054 closed

[2016-08-25 14:36] #1035 closed

[2016-08-25 15:31] dunn commented on #1032
Fixed by #1043, thanks again!

[2016-08-25 15:31] #1032 closed

[2016-08-25 15:34] lunaryorn commented on #1032
@dunn You're welcome.

[2016-08-25 15:52] #1021 closed

[2016-08-25 18:04] #1034 closed

[2016-08-26 06:23] benf-wspdigital opened #1055 "Use the `python-shell-interpreter` command for running checkers"
Setting the `python-shell-interpreter` variable specifies the interpreter to use for running Python commands. This should also be used for Flycheck's checker commands.

That would make the Python checker executables:

* ${python-shell-interpreter} -m flake8
* ${python-shell-interpreter} -m pylint
* ${python-shell-interpreter} -m py_compile

That way, when a different buffer triggers a change to th

[2016-08-26 07:53] lunaryorn commented on #1055
@benf-wspdigital Does `python-shell-interpreter` require that the program provides `-m`? IOW can we expect `python-shell-interpreter` to provide that flag?  What if it's ipython? Or bpython? Or some other interactive Python shell?

And then, can you run `pylint` and `flake8` this way? Is that behaviour documented and guaranteed by these programs?

[2016-08-26 08:40] #1041 closed

[2016-09-01 02:50] spwhitton opened #1059 "Licensing of sphinx documentation"
The old texinfo manual was dual-licensed GFDL-1.3+ or CC-BY-SA-4.0.  How about the new *.rst files?  I can't find any statement of their licensing status.  Thanks.

[2016-09-01 02:52] ghprince opened #1060 "Use docker in CI"
Looking at a successful Travis CI build job of flycheck, half of the time (87s out of 160s) is spent on installing Emacs using a Makefile from [flycheck/emacs-travis](https://github.com/flycheck/emacs-travis)

Instead of compiling and installing Emacs for each build, how about create a Docker image that has all software we need for test installed, and pull it from DockerHub (maybe also cache it at

[2016-09-01 08:10] lunaryorn commented on #1055
@benf-wspdigital Did you receive my comment?

[2016-09-01 08:12] lunaryorn commented on #1059
They are CC-BY-SA 4.  See our [CLA](https://github.com/flycheck/flycheck/blob/master/.github/CLA.md), or the [License section in our README](https://github.com/flycheck/flycheck#license) or [on the website](http://www.flycheck.org/en/latest/#licensing):

[2016-09-01 08:55] lunaryorn commented on #1060
I'm not so familiar with Docker as to know whether that's possible, let alone to implement it.  I've never created any docker images 😞 and I didn't even know that one could use custom docker images on Travis CI ☺️

I think it'd be great if we could a CI that has no setup cost, and if Docker is a good way to go, why not?  Do you think it's possible to do that on Travis CI—or is there another platfo

[2016-09-01 09:18] #1059 closed

[2016-09-01 12:43] aaronjensen opened #1062 "Add checker for elixir credo"
This is a reminder issue for integrating https://github.com/aaronjensen/flycheck-credo once #836 is solved.

[2016-09-01 14:10] lunaryorn commented on #1062
@aaronjensen Thanks a lot.  Let's wait for #836, I hope to get it done soon.

[2016-09-01 14:55] #1046 closed

[2016-09-01 15:48] Simplify commented on #1024
@lunaryorn  Just a quick update: Compatibility is now at 38% and there is a draft of [JSCS migration guide](https://github.com/eslint/eslint/commit/1153955). However, there are still around 30K downloads of JSCS every day.

I'm busy next 2 weeks, but after that we can check status again. Maybe we can wait until compatibility hits 60-80% or that migration guide is done. Doe to high number of downlo

[2016-09-01 23:57] benf-wspdigital commented on #1055
I'm not sure I understand the question. If you mean, does every compliant Python interpreter program provide that option: yes.

Those are, as you point out, designed to be interactive Python shells, not suitable for the `python-shell-interpreter` command.

[2016-09-02 00:05] spwhitton commented on #1059
Thanks for your reply!  Sorry I didn't think to look at the CLA.

[2016-09-02 07:34] lunaryorn commented on #1059
@spwhitton You're welcome.

[2016-09-02 07:48] lunaryorn commented on #1055
@benf-wspdigital How come you think that IPython isn't suitable for `python-shell-interpreter`? Why, Python Mode even supports it officially since Emacs 24.4.  See it's commentary:

[code]

And Spacemacs even [prefers IPython if it finds it](https://github.com/syl20bnr/spacemacs/blob/9f9faa404e3dec3e08cc73cf7b5a0439fc309800/layers/%2Blang/python/packages.el#L178).

So essentially what I meant was

[2016-09-02 18:56] sebastianv89 opened #1069 "Unitialized variable"
Flycheck reports an error that does not exist for my c project. flycheck-verify-setup reports that clang is used as a syntax checker, but when I compile (with clang), the compiler gives no error, which leads me to believe that this is an issue in flycheck (and not in clang).

I know: there is an easy workaround (use N-1 as index), but I'd rather not make these changes throughout my (working!) code

[2016-09-02 19:08] cpitclaudel commented on #1069
Hi,

Thanks for the report! Flycheck's only source of errors and warnings are checkers, so the error is coming from a checker; my guess is that you're not compiling with the same flags, and thus that Flycheck is reporting more warnings than your default build configuration.

You can use `C-c ! C-c` to get the full command line and output of the checker. In your case, the error is being reported by

[2016-09-02 19:15] sebastianv89 commented on #1069
You're right, running cppcheck on my file gives the same error. So it's a bug in cppcheck, not in flycheck :)

[2016-09-02 19:15] #1069 closed

[2016-09-04 21:06] cpitclaudel commented on #1055
Yup, all safe:

[code]

(same for iPython 2)

[2016-09-05 11:11] lunaryorn commented on #1055
@cpitclaudel That's good news. One question answered, but I see two remaining:

- Do pylint and flake8 officially support to be run via `-m`?  Is that a documented entry point for these tools?
- Can we really use `python-shell-interpreter` in Flycheck directly?

We do not depend on Python Mode and I'd not like to introduce such a dependency for just a couple of syntax checkers.  I don't think that

[2016-09-05 16:42] cpitclaudel commented on #1055
Answers :)

* Pylint and flake8 support it: they both have a __main__.py file that calls their main entry point. Flake8 even has a comment above that bit of the code:

[code]

* Depending on python-mode isn't great, I agree. We especially don't want to load it every time flycheck is loaded.  We don't currently have a way to make the executable name a function, do we?   Otherwise we could set the e

[2016-09-05 22:43] lunaryorn commented on #1055
@cpitclaudel Thanks for the answers. I'm afraid we have no way to use functions at this place currently as far as I know.

I'm unsure about how to proceed.  It seems like a reasonable thing to rely upon Python Mode here, but I don't know how without introducing a hard dependency or making major modifications to how syntax checker executables are implemented.

[2016-09-06 02:07] ghprince commented on #1060
I did some experiment and got blocked on this issue
https://github.com/docker/docker/issues/22801

I'll try install emacs from apt-get (24.3 for 14.04 and 24.5 for 16.04) later instead of building from source.

[2016-09-06 08:09] lunaryorn commented on #1060
@ghprince Ah, yes, I remember a lengthy emacs-devel thread about this issue.  I'm sorry that you hit a wall here—I guess it's impossible to build Emacs within a Docker image currently?

It'd be great to get started with apt-get—but if we are to replaced our current setup we have to achieve the same version coverage, i.e. the lowest supported version (24.3 at this point), the latest stable version

[2016-09-06 13:43] cpitclaudel commented on #1060
@ghprince I didn't have time to read all these discussions in detail, but things are slightly different in our case, I think.  The issue here is that build fails during what really amounts to an optimization (preloading a bunch of libraries, then saving the resulting emacs image as a separate binary — this is what emacs calls "dumping").  Couldn't we just run the undumped Emacs? It'll be slower to

[2016-09-06 14:03] lunaryorn commented on #1060
@cpitclaudel Can Emacs' build system install an undumped Emacs?

And thinking of it I'm not sure whether it's a good idea to run our tests in an Emacs build that virtually no user would ever actually run 😕

[2016-09-06 14:14] cpitclaudel commented on #1060
@lunaryorn I didn't try installing (do we need to for regression testing?), but I see no reason why not. Here's what I observed:

* Running `env CANNOT_DUMP=yes ./configure` followed by `make` produces an undumped Emacs binary under `src/emacs`
* That binary can run in `-batch` more and can `--eval`, but it can't start a graphical session; `-nw` works (-ish, because there are issues with switching

[2016-09-08 20:23] nordlow opened #1074 "DMD Coverage Support"
Hi again.

The D compiler DMD has support for coverage/profiling via the `-cov` switch.

If a file, say `foo.d` is compiled with that switch then the execution of the compile binary file will generate a `foo.lst` which has the basic format

[code]

I would really love to see a plugin in Flycheck that filters out all lines that are not covered and adds overlays warnings over those lines in the orig

[2016-09-08 20:39] cpitclaudel commented on #1074
I think this is beyond the scope of Flycheck-the-program.  It can certainly be implemented on top of Flycheck, though, and I remember that @lunaryorn was considering splitting Flycheck-the-program into two parts, one of which would be a more generic libraries for error display.

In particular, would the application that you describe take advantage of automatic re-running? My guess would be that yo

[2016-09-08 20:44] nordlow commented on #1074
Ok. I'm gonna have a go at this whatever you guys because I'm very much personally convinced that the quality of my D module development is gonna benefit from this.

One generic question regarding the behaviour of `flycheck-d-unittest`: When is the lambda argument to the property argument `:error-parser` to `flycheck-define-checker` called? Upon completion of the execution the `:command`?

[2016-09-08 21:27] cpitclaudel commented on #1074
@nordlow Trying it out sounds like a very good idea :) I'm pretty sure everybody likes when Flycheck gets used more ^^ I'm just not sure whether this would fit directly within Flycheck's default distribution.

Regarding the `:error-parser` argument: indeed, that function is called by Flycheck after receiving output from the checker.

[2016-09-09 13:02] hex2010 opened #1076 "go-vet seems temporary switch current buffer to another buffer."
The checker `go-vet` seems temporary switch current buffer to another (previous) buffer, and then switch back immediately, without visible effect,  but trigger the `buffer-list-update-hook`, which may confuse other code.

* What you did, and what you expected to happen instead

  I'd like to avoid `buffer-list-update` during editing golang source file, with `go-vet` checker enabled.

* Whether and

[2016-09-09 13:43] lunaryorn commented on #1076
Thank you for reporting this issue. I'm afraid though that you reproducing this issue in `emacs -Q` is quite mandatory for us to address this issue.  I can't help but wonder about your attitude: You don't want to reproduce the issue in `emacs -Q`, yet you want us to address the issue?

In any case I think that switching buffers is a normal operation for Emacs, even within non-interactive functions

[2016-09-09 13:46] lunaryorn commented on #1074
@nordlow I do agree with @cpitclaudel—I think coverage checking is beyond Flycheck's scope currently and is a better fit for an independent extension.  If it turns out to work well we can easily combine it with the other D extension and make a generic `flycheck-d` package out of it.

Meanwhile I'm closing this issue, as it's not something for Flycheck itself.

But please feel free to write further

[2016-09-09 13:46] #1074 closed

[2016-09-09 14:32] lunaryorn opened #1077 "Include relevant patches from Debian"
See https://anonscm.debian.org/git/pkg-emacsen/pkg/flycheck.git/tree/debian/patches for their patches, and take what we can integrate.

# Patches

- [x] `clear-GPG-agent-env-vars.patch` – seems to be redundant?
- [ ] `disable-MELPA-tests.patch`
- [ ] `disable-rpmlint-test.patch`
- [ ] `disable-sqlint-test.patch`
- [x] `fix-autoload-tests.patch`
- [ ] `fix-flake8-expected-values.patch`
- [x] ~~`pat

[2016-09-09 15:01] spwhitton commented on #1077
Of course.  I've already forwarded the ones that are easily mergeable.
Happy to answer questions about the others.

--
Sean Whitton

[2016-09-09 15:31] nordlow commented on #1074
Ok, thanks.

[2016-09-09 15:41] cpitclaudel commented on #1076
[code]

IOW, this hook runs all the time :)

Only badly-written-code, which should be fixed ^^ Which code do you have in mind?

[2016-09-09 15:58] hex2010 commented on #1076
I use `buffer-list-update-hook` to flash the window when `current-buffer` or `selected-window` change,  in this case i got the window flash frequently when editing golang source.

I know few about lisp, and failed to find another way to get the trick work.  for the same reason I hard to setup a clean emacs environment to track down the issue.

This issue is not critical for me,  when disable `go-v

[2016-09-09 16:01] hex2010 commented on #1076
This is my try, indeed.
[code]

[2016-09-09 18:32] danrharms opened #1078 "flake8 2.0"
Hi.  I was wondering about the recent change obsoleting flake8 2.0.  Is there a way to support both flake8 2 and 3, rather than requiring 3?  My workplace has policies dictating what software can be updated.  To put it another way, is there a compelling reason to use the new feature (--stdin-display-name) that justifies breaking the old?

Thank you.

[2016-09-10 11:31] Grimscythe1983 commented on #720
What worked for me was uninstalling flake8 with (don't use sudo under windows) :
`sudo pip uninstall flake8'
`sudo pip2 uninstall flake8'
The second command was necessary as I run Python 2 and 3 (3 is my default).
And reinstall with:
`sudo pip install flake8'
`sudo pip2 install flake8'

And it just works again :/

[2016-09-10 14:17] lunaryorn commented on #1078
I should like to apologize in advance for I'm sure that you'll not like my answer 😞

As far as Flycheck is concerned we do not consider backwards compatibility a worthwhile goal per se.  We'll happily break it any time even if it's just a small flag being added or removed.  That's been my policy with Flycheck ever since and as long as I'm maintaining it it's unlikely to change.

In other words the

[2016-09-10 14:17] #1078 closed

[2016-09-10 17:09] cpitclaudel commented on #1078
Hi @danrharms,

@lunaryorn summarized our approach nicely, but he's underselling his own work :) Flycheck's design makes it really easy to revert to an old checker definition: you just put something like this in your init file:

[code]

[2016-09-10 17:12] lunaryorn commented on #1076
What about `window-configuration-change-hook`?  I think the hook should cover your use case.

If it doesn't work either you can also write a global minor mode that hooks into `post-command-hook`, remembers the current buffer and the current window in variables and flashes if the remembered values don't match the current ones.

In any case I'm closing this issue because we don't think that this is

[2016-09-10 17:12] #1076 closed

[2016-09-10 19:38] nicolasmccurdy commented on #951
Pug 2 was released in August, which I believe is the first official renamed release. I'm also interesting in progress on this, does anyone want help?

[2016-09-11 01:30] robbyoconnor commented on #951
I'll do this tonight. Sorry folks -- resigned from a role that sucked the life out of me -- gonna move on this! Sorry all.

[2016-09-11 01:34] nicolasmccurdy commented on #951
No rush. :) I was just curious if you guys were aware of the release, I think it was a prerelease for a while.

[2016-09-11 01:39] cpitclaudel commented on #951
Thanks @robbyoconnor :) And good luck with work! No apologies needed.

[2016-09-11 01:45] robbyoconnor commented on #951
:heart:

[2016-09-11 04:20] robbyoconnor commented on #951
Still testing, will make a PR after I'm sure this works. We should also look into adding [pug-lint](https://github.com/pugjs/pug-lint) support, I'm willing to take this on in a separate PR.

[2016-09-11 07:28] gigavinyl opened #1081 "ESlint for Typescript"
I attempted to enable ESlint in Typescript (which is now possible thanks to [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser)) by adding the line `(flycheck-add-mode 'javascript-eslint 'typescript-mode)` to my configuration and by selecting "javascript-eslint" from `flycheck-select-checker` in a Typescript file, that latter of which yields:
[code]
. Is there anyway to

[2016-09-11 09:55] fmdkdd commented on #1081
I don't have `eslint` or `typescript-mode` at hand, but it seems that you called `flycheck-select-checker` while in a `help-mode` buffer, hence the error.

Try to select the Typescript buffer first, then call `flycheck-select-checker` either via `C-c ! s` (the default binding, assuming you didn't remap it), or via the menu `Tools -> Syntax Checking` (assuming you didn't toggle it off), or via `M-x

[2016-09-11 09:57] Simplify commented on #1081
Hi @gigavinyl ,

Did you install `typescript-mode` first?
When **editing typescript file** type `C-c ! v` to display current checkers for typescript.
Make sure that you call `flycheck-add-mode` after `flycheck` is loaded:

[code]
Don't forget to install npm package that will add support for typescript in ESlint. There are two options if I remember correctly. You may need to configure ESlint to use

[2016-09-11 10:08] moyotar opened #1082 "How to solve this ? And Why I meet it?"
## I've installed flycheck and cppcheck.exe.

## I'm told that "libxml2 library not found" While I open a .cpp file.

[2016-09-11 10:17] Simplify commented on #1082
Same issue as #491 ?

[2016-09-11 10:55] #1082 closed

[2016-09-12 13:33] danrharms commented on #1078
Very well. I will make local changes.
Thank you for your time.

[2016-09-12 16:24] ackalker opened #1083 "Feature request: a checker which reports warnings for FIXME, TODO comments in code"
It would be nice to have a Flycheck checker which reports all comments which have any of the words `FIXME`, `TODO` etc. as warnings, and perhaps comments with the word `BUG` in them as errors.
I've seen this functionality in other editors and IDEs, and I think it would be nice to have in Emacs, too.
Given Emacs' powerful syntax tables, I don't think it woud be very hard to implement.

[2016-09-12 16:26] ackalker commented on #1083
The EmacsWiki hosts a [fixme-mode.el](https://www.emacswiki.org/emacs/fixme-mode.el) which could be useful as a starting point.

[2016-09-12 18:00] cpitclaudel commented on #1083
Hmm. I wonder how discoverable such a thing would be.  If it was a separate package, people could install it and it would be enabled by default after installation; but if it was part of Flycheck, we probably wouldn't want to enable it by default: some checkers already report TODOs and FIXMEs by themselves.

In any case, the code would indeed probably not be too hard to write; do you want to take a

[2016-09-12 21:16] ackalker commented on #1083
With regards to discoverability: I'm not asking for the checker to be part of the Flycheck package, a separate package is fine with me, less bloat for people who do not use this feature. I opened the issue here because it seems like a good central place for people looking for features, at least better than posting on Twitter or some random personal blog which no-one has heard about.

Regarding syn

[2016-09-12 21:32] robbyoconnor commented on #951
Okay so there's a backwards compatibility issue. Should we keep the jade checker? The pattern changed, ever so slightly but it's enough to break the jade checker.

[2016-09-12 21:34] robbyoconnor commented on #951
I could actually write this in a way that works for Jade/Pug at the same time!

[2016-09-12 21:36] lunaryorn commented on #1083
I think that this syntax checker is out of scope for Flycheck.  It's got a very narrow scope—I'm not sure whether there's broad consensus that TODOs should be shown through the same interfaces as errors.  IntelliJ doesn't do that—which is my gold standard for IDEs—and I can't remember VisualStudio doing it either.

I believe it'd be best if this was a separate package so I'm taking the liberty to

[2016-09-12 21:36] #1083 closed

[2016-09-12 21:36] cowboyd opened #1085 "flycheck-eslint errors out with a bare setup"
Opened up a file with a .js extension using the javascript-eslint checker enabled. It plopped a big nasty error into my minibuffer saying that the checker might be mal-defined instead of verifying the javascript syntax as expected.

<img width="1222" alt="emacs_prelude_-_scratch_js_and_check_buffers_ _flycheck_30-cvs_documentation_" src="https://cloud.githubusercontent.com/assets/4205/18453585/93d

[2016-09-12 21:47] lunaryorn commented on #951
@robbyoconnor That'd be the very best option—please let's continue the discussion over in #1084 ☺️

[2016-09-12 22:07] drodrigo opened #1086 "Flycheck won't run after installing jslint"
Hello everyone!

I'm trying to run flycheck for javascript:

1 - I installed both jslinter and jshinter (globablly)

2 - I enabled flycheck globally as well (global-flycheck-mode)

3 - It didn't work so I found this guide on how to use flycheck for js files: https://www.emacswiki.org/emacs/Flycheck, I followed all steps but it doesn't seem to work.

But I'm pretty sure flycheck works because it's

[2016-09-12 22:11] cowboyd opened #1087 "flycheck-eslint does not use version of eslint installed in JavaScript project"
When you're entered into a project that has a version of eslint pegged in its package.json, I'd expect it to use that version. Instead, it always opts for the global version, or remains completely disabled if there is not a global version installed.

[code]

## Environment

[code]

[2016-09-12 22:20] lunaryorn commented on #1086
@drodrigo Flycheck does not provide built-in support for jslint.  We support [eslint, jshint, and standard](http://www.flycheck.org/en/latest/languages.html#javascript).  If you'd like to use jslint with Flycheck following tips from the EmacsWiki please understand that you are on your own:

jshint should work though.  Could you show us a screenshot of the buffer that pops up when you type `C-c ! v

[2016-09-12 22:25] lunaryorn commented on #1087
@cowboyd Why do you expect that?  This behaviour is nowhere documented and does not exist in Flycheck.

Flycheck does not take language-specific package managers into account. Given the sheer number of these that's absolutely out of scope.

However Flycheck lets you override the executable of a syntax checker.  Type `C-c ! e javascript-eslint` to make eslint use a different executable.  You can al

[2016-09-12 22:25] #1087 closed

[2016-09-12 22:28] drodrigo commented on #1086
Hello @lunaryorn

I see I don't mind using another linter, that was just the first link I've found while googling.

This is the screenshot:

![screen shot 2016-09-12 at 19 25 05](https://cloud.githubusercontent.com/assets/4576630/18455196/dff7a850-791e-11e6-96c6-fb52c36756f8.png)

I also ran jshint -v  to see if it was installed and I got this: jshint v2.9.3.

[2016-09-13 01:19] cpitclaudel commented on #1086
Looks like Flycheck can't find jshint. Can you try running the command `which jshint` in a terminal?  What does it show?

[2016-09-13 03:00] moyotar opened #1088 "Why be told this？ And How to solve it？"
## when I create a buffer below and typed something, I was told "Suspicious state from syntax checker c/c++-cppcheck：checker c/c++-cppcheck return non zero exit code 53， but no errors from output checker definition probably flawed"

//my test.cpp
#include "stdio.h"

int main()
{

}

[2016-09-13 03:09] cpitclaudel commented on #1088
Hi there,

Please adjust the formatting of your post :)
Additionally, please post the result of `C-c ! v` and `C-c ! C-c` and pick `c/c++-cppcheck`; this will help diagnosing.

Thanks!

[2016-09-13 03:26] moyotar commented on #1088
Hi, is the formatting you mentioned my code‘s formatting? If it's yes, I'm sorry because I don't know how to insert code with formatting in my post.

As for your advice to diagnosing, I followed it and got this:

"cppcheck" "--quiet" "--xml-version=2" "--inline-suppr" "--enable=style" "-x" "c++" "d:/test.cpp"
Compilation exited abnormally with code 53

[2016-09-13 05:07] cowboyd commented on #1087
@lunaryorn I don't expect it based off of any understanding of how flycheck is supposed to work (I've never looked at the code). Instead, I expect it based on it being the most intuitive experience to a user.

If that means packaging the code to do it in a separate package, that's fine too. Thanks for the snippet? In your setup, how do you wire it up so that `lunaryorn-use-js-executables-from-node

[2016-09-13 05:15] aaronjensen commented on #1087
@lunaryorn fwiw, most people at my office and myself have similar snippets. Spacemacs has a similar snippet built-in. It's a much more convenient way to run node tools. What would you think about building this in to the checker? The basics could be reused across all node checkers.

[2016-09-13 08:01] lunaryorn commented on #1087
@cowboyd I simply add it to `flycheck-mode-hook` 😎

@aaronjensen I'm not sure how this would be built into the syntax checker, but in any case it's been our policy not to include too much language-specific logic into Flycheck, but rather provide an infrastructure upon which additional packages can build for best integration with languages.  Hence flycheck-haskell or flycheck-rust.

That's not a do

[2016-09-13 08:05] lunaryorn commented on #1088
@moyotar It's the whole formatting, not just the code.  Please don't use excessive formatting: There's no need to put your text as a headline.  As for code formatting please take a look at [Github's markup guide](https://guides.github.com/features/mastering-markdown/) or use the "Code" button ("<>") right above the text input.

Please use the "Edit" button to edit your comments and correct the mar

[2016-09-13 08:06] lunaryorn commented on #1088
@moyotar Furthermore, please be aware that we [do not support Windows](http://www.flycheck.org/en/latest/user/installation.html#windows-support).  We may be able to help you, but if this turns out to be a Windows-specific issue we cannot help you.

[2016-09-13 08:12] lunaryorn commented on #1086
I presume you're running a GUI Emacs on OS X?  Then be aware that GUI applications on OS X run in a different environment than your shell.  In particular they have a default `$PATH` which excludes some important directories for binaries such as `/usr/local/bin/`.

The [exec-path-from-shell](https://github.com/purcell/exec-path-from-shell) package is a popular way to work around this issue:  It mak

[2016-09-13 08:15] lunaryorn commented on #1085
Oh I wasn't aware that eslint now errors if it doesn't find a configuration.  Unfortunately there's little that we can do:  We have no infrastructure to re-run a syntax checker with different flags if a particular error occurs, and I don't want to add a special case for just a single syntax checker.

Defaulting to `--no-eslintrc` is not an option either as it'd completely disable configuration fil

[2016-09-13 08:25] moyotar commented on #1088
//test
`printf`

[2016-09-13 08:25] moyotar commented on #1088
[code]

[2016-09-13 08:34] moyotar commented on #1088
@lunaryorn Ok, I knew flycheck doesn't support Windows at first through the manual. It doesn't really matter because it can still check syntax. And now, I have known how to insert code which is really cool. Thanks!

[2016-09-13 08:34] #1088 closed

[2016-09-13 08:41] aaronjensen commented on #1085
Can we add a search for an eslintrc to the predicate?

[2016-09-13 08:45] lunaryorn commented on #1085
@aaronjensen I'm not sure.  eslint is looking at a lot of places for its configuration—including package.json—and I'm not sure in how far we'd have to deal with its [intricate cascading of config files](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy).

[2016-09-13 09:50] Simplify commented on #1085
Ok, this is change in one of the recent versions of ESLint. This problem does not occur with 2.8 that I had installed, but after installing 3.5 I got same error. As @lunaryorn said, we can not use predicate, there are different ways to put ESLint configuration. So there is also no way to "auto magically" add `--no-eslintrc`. We can add option for this flag, but that is really project dependent and

[2016-09-13 10:00] lunaryorn commented on #1085
@Simplify Yup, I'd love to have eslint people weight in on this issue.

[2016-09-13 10:05] Simplify commented on #1085
Ok, I'll open issue there today. Can't do it right now doe some other obligations.

[2016-09-13 13:46] drodrigo commented on #1086
Thanks a lot @cpitclaudel  and @lunaryorn!

It's working now,  using exec-path-from-shell.

I'm a completely Emacs newbie so it didn't sound obivous to me that using GUI Emacs would be a bad idea.

Thanks again for your help :)

[2016-09-13 13:46] #1086 closed

[2016-09-13 14:14] cowboyd commented on #1085
While it's still the default, eslint support for Ember is really good, and I believe there are plans to make eslint the default for new projects soon. In fact, I actually enountered this because of using eslint within Ember projects.

[2016-09-13 14:15] lunaryorn commented on #1086
@drodrigo Oh, a GUI Emacs is a great idea.  I definitely recommend to stick to it; you'll have a better Flycheck experience in a GUI Emacs.  That's just an unfortunate interaction between Emacs and OS X that you've got to be aware of.

[2016-09-13 14:15] lunaryorn commented on #1086
I'm happy that the issue is solved now!  Have fun using Emacs!

[2016-09-13 14:54] Simplify commented on #1085
@cowboyd No problem at all, even I already started creating issue there :) I'll add my 5 cents there.

[2016-09-13 15:00] Simplify commented on #1085
eslint/eslint#7144

[2016-09-13 15:14] Simplify commented on #1085
@cowboyd The best option for now is to create config in your project and place it in version control. That way everybody on your team will have same config and not have this issue.

[2016-09-13 17:54] nordlow commented on #1074
I extended `flycheck-d-unittest` with coverage support and put it up at github.com/nordlow/elisp/blob/master/mine/flycheck-d-all.el

[2016-09-13 18:08] lunaryorn commented on #1074
Would you like to open a PR against that extension to integrate your changes?

[2016-09-13 18:16] aaronjensen commented on #1087
`:command` would need to support functions or we'd need to actually have hooks in place.

Thinking outside of the box, another way would be to have `:working-directory` set to find the directory with `node_modules` and then include `node_modules/.bin` in `PATH` when executing eslint.

I understand that, but it's important to have good/great defaults in my opinion. Relying on a globally installed p

[2016-09-13 18:48] Simplify commented on #1087
Did you try to create `.dir-locals.el` in your project directory?

[code]

This is what I use in all my projects. I wrote [blog article](https://www.simplify.ba/articles/2016/02/14/node-modules-bin-in-path/) about it 7 months ago and it's first result when you google for "emacs node_modules/.bin in your path".

When you start GNU Emacs first time after creating this file, Emacs will ask you do you

[2016-09-13 18:56] cpitclaudel commented on #1087
@Simplify wouldn't it be better to use `expand-file-name` there?

[2016-09-13 19:05] nordlow commented on #1074
Yes, I could do that.

[2016-09-13 19:09] Simplify commented on #1087
@cpitclaudel It makes more sense and uses `default-directory` as default. I'll try it tomorrow with some JS files in project sub-directories and update blog post if needed.

[2016-09-13 19:17] nordlow commented on #1074
One thing, @lunaryorn :

I can't have

https://github.com/nordlow/elisp/blob/master/mine/flycheck-d-all.el

and

https://github.com/nordlow/elisp/blob/master/mine/flycheck-d-dscanner.el

active at once. Something wrong with my settings of the `:next-checkers` property I presume. Do you have any clues?

See also:
http://forum.dlang.org/post/dzlprerjwaftuiupvufx@forum.dlang.org

[2016-09-13 21:39] lunaryorn commented on #1087
We already have hooks that let you preprocess :command before executing and change how Flycheck looks for executable files.  The infrastructure is already there.

Someone just needs to build a package on top of this that provides integration with nodejs 😊