[2015-02-15 15:11] lunaryorn commented on #585
@Sarcasm I'm not sure whether I understand you correctly:  Does your syntax checker really interrupt itself if it has detected a change to the buffer?  If yes, just don't do that.

[2015-02-15 15:20] Sarcasm commented on #585
I'm not sure it interrupts itself in the sense you are thinking about.

When I get a syntax check request it is actually decomposed in 2 steps:
1. parse the buffer context (this is the one that takes 3 seconds)
2. if the parsing is successful and still in sync with the buffer (that's where `(buffer-chars-modified-tick)` is checked) then I send the second requests, that returns the diagnostics. If

[2015-02-15 19:34] Sarcasm commented on #585
Nevermind, if I return a `finished` status with 0 errors flycheck takes into account the buffer change and make another request immediately, that's all I need.

I guess I don't understand exactly what `interrupt` is for but I don't seem to need it.

[2015-02-15 19:34] #585 closed

[2015-02-16 07:36] lunaryorn commented on #585
@Sarcasm `interrupt` is for forced interruptions from the outside, i.e. if a buffer is killed or reverted, or if the user forcibly interrupts a syntax check.  It's a status you'll only return if you have an `:interrupt-fn` in your definition.

[2015-02-16 09:00] Sarcasm commented on #585
Thanks for the explanation on `interrupted`, I don't think I need it in my case.

Regarding the early exit, I think you are worrying too much here, I'm pretty sure I'm not abusing flycheck in any way. This is not really done for the purpose of optimization but also correctness, I just can't let irony give information about an old parsing because the information may no longer be available already.

[2015-02-18 02:10] petere opened #587 "document how to autoload third-party checkers"
When writing a checker as a separate module, it is not clear how to get it loaded and activated automatically.  All the examples do something like

[code]

and then make a note to call this "setup" function in `init.el`.  This should be more automatic, so that when a package like this is installed, the checker is automatically available, like all built-in checkers, without having to modify init fi

[2015-02-18 02:53] madhavan020985 opened #588 "Javascript mode - Undeclared/not initialized variables don't throw error."
In this snippet, i would like to see an error at line number 4 where undeclared variable 'asdadfas' is used. But flycheck is not throwing such an error....
[code]

[2015-02-18 07:52] lunaryorn commented on #588
@madhavan020985 Is Flycheck Mode even active in the buffer?  If yes, what syntax checker are you using?

[2015-02-18 07:58] lunaryorn commented on #587
@petere Leaving technical difficulties of this aside, I'm not going to add support for automatic registration of syntax checkers.  I think that a user should always have to activate packages *explicitly*, and I am firmly against packages that change Emacs' state by merely being installed.  YMMV, of course, but as far as my packages are concerned I'm not going to support, let alone advocate, things

[2015-02-18 07:59] lunaryorn commented on #587
Closing as `wontfix`.

[2015-02-18 07:59] #587 closed

[2015-02-18 09:13] kimgronqvist commented on #588
Are you using jshint? If so, this is not turned on by default. You need to put /*jshint undef:true*/ at the top of the file or include it in a .jshintrc.

[2015-02-18 11:51] nickbroon opened #589 "ccpcheck checker should support include paths like the clang and gcc checkers"
cppcheck takes a -I option that works in similar way to the -I options clang and gcc accept.
Flycheck should support setting this option as it does for these other checkers, so that cppcheck can more completely check code.

[2015-02-18 12:34] madhavan020985 commented on #588
hi kimgron, now undefined objects are highlighted. But in the same snippet above, globally declared objects/functions as require & console are also highlighted as undefined....
@lunaryorn, i din't specify syntax checker from my side. Major mode is javascript-mode & minor mode is flycheck-mode.. so, yes flycheck is active in the buffer.

[2015-02-18 13:01] kimgronqvist commented on #588
You can whitelist certain globals with the "globals" options: http://jshint.com/docs/options/#globals

    /*jshint undef:true*/
    /*global console: true, require: true */

This is not Flycheck related.

[2015-02-18 13:06] madhavan020985 commented on #588
done, it works... i will close this issue

[2015-02-18 13:06] #588 closed

[2015-02-18 14:13] lunaryorn commented on #589
Feel free to open a pull request.

[2015-02-18 17:56] jonathanj opened #590 "No way to re-enable checker after threshold limit is reached"
When editing a moderately sized source file, in this case Python, it's trivial to introduce syntax temporarily that renders the rest of the file incomprehensible garbage to a checker like flake8. The threshold limit of 400 (the default) is quickly reached and the checker disabled for the buffer.

5 seconds later you finish typing what you started but the checker is disabled. Attempting to reenable

[2015-02-19 07:52] lunaryorn commented on #590
@jonathanj Does `M-: (setq flycheck-disabled-checkers nil)` and then `M-x flycheck-buffer` re-enable the syntax checker?

[2015-02-19 19:50] rphillips opened #591 "Using LuaCheck instead of Luac"
Hi!

This stanza uses luacheck instead of luac to run lint across lua files. I'm not sure of the right way to incorporate this into flycheck so that luac and luacheck can coexist.

[code]

[2015-02-20 08:51] lunaryorn commented on #591
@rphillips What is luacheck?

[2015-02-20 16:09] rphillips commented on #591
luacheck is a reasonably new linter for lua code: https://github.com/mpeterv/luacheck

[2015-02-23 05:26] mystor opened #592 "Rust Multiline Type Errors"
In rustc 1.0.0-Alpha 2, type error reports has changed such that the type information is now on a separate line from the `error:` text. The pattern for capturing error messages to display should be changed to actually capture the type information, rather than just `mismatched types:` (which is what is currently reported by Flycheck).

Flycheck Version: Flycheck version: 0.23snapshot (package: 2015

[2015-02-23 08:50] lunaryorn commented on #592
@mystor Would you mind to show me a type error of this kind?

[2015-02-23 15:30] mystor commented on #592
You can experiment with some errors in the [rust playpen](play.rust-lang.org).
Here are a few type errors (`<anon>` is where the file name would be):

[code]

[code]

[code]

[2015-02-25 12:31] lunaryorn opened #593 "Don't initialize hook variables"
Flycheck initializes some hook variables right in the variable definition, which can lead to unexpected behaviour.  See http://lists.gnu.org/archive/html/emacs-devel/2015-02/msg01271.html:

(i.e. is never unbound).

We need to initialize hooks with `nil` instead, and use `add-hook` to add all pre-defined functions.

[2015-02-26 04:23] nathankot opened #594 "invalid-function on :predicate in with-eval-after-load"
Following [these guidelines](http://flycheck.readthedocs.org/en/latest/dev/extending.html#advanced-syntax-checker-definitions) I'm getting getting this error:

![screen shot 2015-02-26 at 5 21 00 pm](https://cloud.githubusercontent.com/assets/1400871/6386321/dd7df9d0-bddb-11e4-9edc-fd3722ed3b03.png)

With this code:

[code]

Even when I swap `:predicate` out for the code on the docs I still get a

[2015-02-26 08:07] lunaryorn commented on #594
@nathankot Your Emacs version?

[2015-02-26 08:53] nathankot commented on #594
GNU Emacs 24.4.1
ᐧ

On Thu, Feb 26, 2015 at 9:07 PM, Sebastian Wiesner <notifications@github.com

[2015-02-26 08:59] lunaryorn commented on #594
@nathankot Can please try to reproduce this error after `M-x toggle-debug-on-error`, and paste the entire stacktrace.  Also, please check whether the issue also occurs in `emacs -Q`.

[2015-02-26 20:43] nathankot commented on #594
Hey @lunaryorn here's the stacktrace:

[code]

Bit of an emacs noob but I assumed `emacs -Q` doesn't load config files? In
that case it wouldn't be loading flycheck anyway, but yeah there's no
errors when I do `emacs -Q`

Hey thanks for helping btw ^^

ᐧ

On Thu, Feb 26, 2015 at 9:59 PM, Sebastian Wiesner <notifications@github.com

[2015-02-26 20:52] lunaryorn commented on #594
@nathankot Well, that's exactly the point of `emacs -Q`:  Try Flycheck in a clean Emacs session, so that I can be sure that it's not your config interfering with Flycheck.

So please, start `emacs -Q`, load Flycheck (e.g. `M-x load-library RET flycheck`), enable it with `M-x global-flycheck-mode`, and try to reproduce the error.  If you can't, it's an error with your config.

Do you have any Flych

[2015-02-26 21:31] nathankot commented on #594
@lunaryorn  so what I did was make a new minimal `init.el` file and everything worked with this:

[code]

So yep it must be something wrong with my config gonna start removing suspects and see if anything fixes it...

Okay it seems like `use-package` is the culprit, simply nesting `flycheck-define-checker` inside `use-package` seems to break it, this fixes the error: https://github.com/nathankot/d

[2015-02-27 08:59] lunaryorn commented on #594
@nathankot Thank you for this report.  It would seem that `use-package` somehow interferes with Flycheck checker definitions.

I'll try to reproduce this issue, and provide a fix.

[2015-02-27 09:41] nathankot commented on #594
Look forward to it =D
ᐧ

On Fri, Feb 27, 2015 at 9:59 PM, Sebastian Wiesner <notifications@github.com

[2015-02-28 16:25] chillum opened #595 "customizing the global-flycheck-mode variable"
Hi,

I've just installed Flycheck and it's a very nice thing.

But I'm having an issue with it. I have 0.23-cvs from MELPA (20150207.329) and GNU Emacs 24.4.1 on OS X.

I do: `M-x customize-group`, `flycheck`. I change `Global Flycheck Mode` to `on` and save it.

My Emacs won't start, customize inserts this into my init file:
[code]

This results in a syntax error in Emacs: `flycheck` is not defin

[2015-02-28 16:39] YorkZ opened #596 "Support for deleting option "-fno-diagnostics-show-caret" in gcc checker"
First of all, thank a lot for this wonderful package, it's super promising. However, as I tried to use it on my project at work, I have a problem.

Because my project can only be compiled with GCC 4.6.3, I have to use the gcc checker, i.e., I added `(flycheck-select-checker 'c/c++-gcc)' in my .emacs. My problem is that GCC 4.6.3 doesn't support the "-fno-diagnostics-show-caret" option. But this op

[2015-02-28 19:27] chillum opened #597 "" FlyC" in modeline"
Hey,

I would like to change the `FlyC` in modeline to `Chk`. I think, it would be more clear, that's FlyCheck (I use Flyspell as well, it's `Fly`). This value is hardcoded in `flycheck-mode-line-status-text` function.

Basically, there are two options:

1. We can make the text " FlyC" to be a custom variable, so it's possible to easy change it without having to re-write the `flycheck-mode-line-st

[2015-02-28 20:21] lunaryorn commented on #597
@chillum I think that neither way is “better”, and I do not want to introduce another option for the mode line, which I'd have to test, maintain and support.

Please write your own status function, and customize `flycheck-mode-line` accordingly.

[2015-02-28 20:21] #597 closed

[2015-02-28 20:24] lunaryorn commented on #596
@YorkZ Why can't you use GCC 4.8?  It's just for syntax checking after all, so it shouldn't matter what compiler you need to use for real builds…

[2015-02-28 20:45] chillum commented on #597
Sebastian!

Is moving to a variable the hardcoded _string_ in modeline worth a lot of testing, maintaining and supporting?

Let me explain my opinion:

I'm using Emacs for 10+ years, I have some patches merged in GNU Emacs and XEmacs cores (there was day, it was really popular) and some elisp modes.

At one day, I've lost all my emacs configs. With lots of custom functions and like this. And setti

[2015-03-01 09:21] iainbeeston commented on #582
I've created #598 for this. I have some questions, which I'll add to the PR

[2015-03-02 02:35] YorkZ commented on #596
@lunaryorn: it's a very large project that complie only on GCC 4.6. Trying to compile it on GCC versions higher than 4.7 would produce numerous errors. Personally, I would love to make it compile on GCC 4.9.2. Unfortunately, I'm not the person who will make the decision. Therefore, I still hope flycheck supports GCC 4.6. I think I may be able to help with that.

[2015-03-02 07:19] lunaryorn commented on #596
@YorkZ Again, with Flycheck you are *not* compiling the whole project.  You're just checking individual files.

Can't you prevent these errors with appropriate flags for GCC?  I have a hard time to believe that this should be altogether impossible.

That said, we deliberately decided to drop GCC 4.6 support a while ago, and I'm not particularly keen on introducing it again.

[2015-03-02 07:24] lunaryorn commented on #582
@iainbeeston Great, awesome!  Closing this as duplicate.

[2015-03-02 07:24] #582 closed

[2015-03-02 14:16] lunaryorn commented on #597
@chillum I think it's my business to assess what constitutes a “hassle” for me, and what not.  I also think that we have quite different perceptions of what is the “Emacs way”, and with regards to Flycheck I hold my perception to be more relevant than yours.

In other words, I do *not* intend to add options for each and every minor feature of Flycheck.   For some thing, you'll just have to write y

[2015-03-02 16:05] chillum commented on #597
@lunaryorn I understand your concerns, thanks.

For now I've set-up a different Flyspell modeline and seem to be happy and probably will not return to this question.

You are being an author and maintainer of several really nice elisp modes, like FlyCheck and puppet-mode. I use both and am very happy.

Thanks for this discussion. Now, I've used FlyCheck for a couple of days and learned, that I can

[2015-03-03 02:56] YorkZ commented on #596
I understood it was not compiling the whole project. I understood I was just checking individual files. However, even "one file" could be non-trivial. More precisely, it's not just "one file", but a "compilation unit" that can include many many dependencies.

It's a very large and complex project. Again, it's not as trivial as simply using a few preprocessor tokens. If it's that simple many other

[2015-03-03 08:17] lunaryorn commented on #596
@YorkZ As far as I am concerned, making `-fno-diagnostics-show-caret` optional *is* “supporting GCC 4.6”, which is not what I want.  I'm not going to make this setting customizable:  It'd be a false promise, since I might introduce other, more important GCC 4.8-only flags any time.

If your project is so large and complex that you cannot easily use GCC 4.8 with it, you are better of with your own

[2015-03-03 08:17] #596 closed

[2015-03-07 15:29] lunaryorn commented on #590
@jonathanj Did you try these commands?

[2015-03-07 15:30] lunaryorn commented on #578
@purcell Did you try with 2.6?

[2015-03-07 16:09] purcell commented on #578
Yeah, for some silly `node`-related reason I seemed to be stuck with that older version. I can't reproduce the problem with the newer version, so I'll go ahead and close this. Sorry!

[2015-03-07 16:09] #578 closed

[2015-03-09 08:31] zijianyue opened #600 "set flycheck-emacs-lisp-load-path to inherit seems can't work since the version 0.22 of flycheck"
Below config can work in version 0.22(checking ELISP files successfully),
(setq flycheck-emacs-lisp-load-path 'inherit )
But using the most recent version of flychek,
it fails checking ELISP files.
And the error as below (When opening an ELISP file):
:Error while checking syntax automatically: (file-error "Spawning child process" "exec format error").
![image](https://cloud.githubusercontent.com/a

[2015-03-09 08:38] lunaryorn commented on #600
@zijianyue Please format your comment appropriately.  Specifically, use code formatting for code.

It's hard to read in its current form.

[2015-03-09 10:45] Sarcasm commented on #548
Just for the record, I regularly stumble upon cases where a file cannot compile but the error comes from a header files.

For example right now I have a file that cannot compile because I'm not following the function contract, a static_assert is triggered in the header but not in the source file. According to flycheck my file compiles but that is not true in practice.

Also I'm wondering, one day

[2015-03-09 11:06] lunaryorn commented on #548
@Sarcasm I'm not sure whether I understood you correctly, but why can't you just aggregate errors from included files, and show them on the corresponding include line in the current file?

IOW, if the current buffer `foo.cpp` includes `foo.h`, and there's an error in `foo.h`,  just show the error (or a summary of all errors in the include, like the current GCC/Clang checkers in Flycheck do) on the

[2015-03-09 12:13] zijianyue commented on #600
Thank you
I just update my issue, please check it again

[2015-03-09 12:21] Sarcasm commented on #548
Well, I didn't ask but I was wondering if it was the way to go, I will take this road then.

That will start getting difficult when the error is not in `foo.h` directly but in `bar.h` that is included by `foo.h` but that's my problem.

Thank you.

[2015-03-09 12:39] lunaryorn commented on #548
Well, conceptually you need to break down all reports to the done being
checked.  Flycheck is file/buffer based, so you need to show all errors
affecting a for in the corresponding buffer.  There's simply no other place
where Flycheck could show errors.

Clang/GCC fold include errors recursively, so the problem is already solved
in Flycheck.  You may want to look at it.
Am 09.03.2015 13:21 schrieb

[2015-03-09 12:45] Sarcasm commented on #548
Makes sense, thank you.

[2015-03-11 17:04] iqbalansari opened #603 "Option to enable syntax checking for encrypted files"
Hi,

I use [flycheck-ledger](https://github.com/purcell/flycheck-ledger) to syntax check my ledger files. However the files are stored in encrypted form using `gpg` as such flycheck (understandably) fails to syntax check the encrypted file. I monkey patched `flycheck-save-buffer-to-file` to following so that syntax checking works

[code]

I wanted to open a pull request for this but reading #222 s

[2015-03-11 17:18] tzz commented on #603
I wouldn't want an unencrypted version of the file written to disk, that's really dangerous.

Maybe some checkers can take the data from STDIN, so it can be decrypted on the fly?  But then you have to worry about checker security.  It would defeat file permissions, for instance.

[2015-03-11 17:30] iqbalansari commented on #603
@tzz I understand that there is security risk involved, that is why I would prefer an option to enable it (it should be disabled by default) which basically means that user has understood the risks involved and has explicitly requested the encrypted file to be checked. AFAIU the unencrypted copy would last on disk only for the time of syntax check.

[2015-03-11 17:44] lunaryorn commented on #603
@iqbalansari Flycheck can impossibly ensure the confidentiality of the file contents when invoking external syntax checkers.  Even if Flycheck was particularly careful to *securely* clean up temporary files—which it isn't and which it never will be because it's too complicated and fragile—it'd still have no control whether external tools are that careful as well.

I'll not add such an option.   Cl

[2015-03-11 17:44] #603 closed

[2015-03-11 17:46] periklis commented on #561
Same issue here on flycheck 0.23 and phpcs 2.2.0/2.3.0 with
GNU Emacs 24.4.90.1 (x86_64-apple-darwin14.1.0, Carbon Version 157 AppKit 1344.72)
Any idea how to debug the whole phpcs-checker loop in flycheck lisp code beyond flycheck-verify-setup?

[2015-03-11 17:48] iqbalansari commented on #603
I can understand, thanks for looking into this

[2015-03-11 18:02] periklis commented on #561
i tried to step in with edebug. At least the phpcs process return correctly the error list. Is this helpful for your testcases?

[code]

[2015-03-11 21:18] lunaryorn commented on #561
@periklis It does help in that it rules out a possible culprit, but it still doesn't point to the real cause, and since I have entirely failed to reproduce this issue, I can still not continue to debug from this point.

Do you have the time to dig deeper, and find out at which place the list of errors that was successfully parsed from phpcs gets lost?

[2015-03-12 07:20] periklis commented on #561
@lunaryorn I am not very familiar with edebug, but sure why not dig deeper and find the root cause. Would you mind to to give me a typical backtrace path after flycheck-parse-checkstyle for putting some breakpoints?

[2015-03-12 07:23] lunaryorn commented on #561
@periklis You don't have to use edebug, there are other means of debugging Emacs, too.

`flycheck-parse-checkstyle` is called from `flycheck-parse-output`, which in turn is called from `flycheck-finish-checker-process` and ultimately from `flycheck-handle-signal`.  The latter is automatically called by Emacs, when the checker process exits.

[2015-03-12 07:29] periklis commented on #561
@lunaryorn: Any good proposal to drop edebug?

[2015-03-12 08:14] lunaryorn commented on #561
@periklis I don't know.  I can't even imagine where this bug comes from, so I am a loss at how to debug it.  I just meant to say, that you probably don't have to use edebug.

[2015-03-12 14:48] jonathanj commented on #590
@lunaryorn, sorry about the delay in getting back to you.

I tried these commands but the flake8 checker is still not re-enabled.

[2015-03-13 10:56] periklis commented on #561
I tracked the issue down to the ```finish-checker-process funtion```, where ```flycheck-fix-error-filename``` is called. There seems to be an issue with the following part of the code, where the temporary filename is replaced by the current buffer's filename:
[code]
At least the debugger never steps into the setq code. Can you explain what this function is doing? I am new to the elisp api.

[2015-03-14 23:41] azangru commented on #447
@jasonkuhrt So have you figured out how to disable jshint and enable eslint? I am now in the exact situation as you were: using jshint by default but would like to try eslint.

[2015-03-15 03:44] jasonkuhrt commented on #447
[code]

[2015-03-16 00:00] ptrv opened #604 "Warnings about interactive-only"
When I start `flycheck-mode` I get the following two warnings in Emacs 24.4 since e67c502d381dd0ca5c82f0c2d86a26fc2afeee26:

[code]

What was the reason for commit e67c502d381dd0ca5c82f0c2d86a26fc2afeee26?

[2015-03-16 00:37] ptrv commented on #591
It is a good idea to introduce support for `luacheck`. It should not overwrite the old lua checker. This checker definition however needs some work since it has a different error pattern and supports also a config file and other options. I am not familiar with `luacheck` yet but since I write Lua code quite often I am interested in this topic and I could look into `luacheck` and help with this che

[2015-03-16 08:11] lunaryorn commented on #591
@ptrv If it's easy enough to add to the test environment, yes.

[2015-03-16 08:14] lunaryorn commented on #604
@ptrv It's simply that I prefer `declare` over symbol properties, when possible, and I write code for Emacs 25.

[2015-03-16 08:14] #604 closed

[2015-03-16 08:20] lunaryorn commented on #561
@periklis Do you have symlinks somewhere along the path to the file being checked?

[2015-03-16 08:29] periklis commented on #561
No symlinks used on the file being checked.

[2015-03-16 08:37] ptrv commented on #604
@lunaryorn I see. But IMHO, the target Emacs version should be the latest stable release, even Emacs 25 has nicer features.

[2015-03-16 08:38] ptrv commented on #591
Ok, I'll check how easy it is to install the requirements, (e.g. `luarocks`)

[2015-03-16 09:10] lunaryorn commented on #604
@ptrv YMMV :)

[2015-03-16 09:11] lunaryorn commented on #561
@periklis Mmh…

[2015-03-16 09:13] lunaryorn commented on #561
@periklis Thanks.  I'll take a look.

[2015-03-16 09:14] lunaryorn commented on #591
@ptrv Thank you!

[2015-03-17 13:20] petere commented on #587
I figured this out now.  The problem wasn't actually with my attempted setup, but that flycheck ignores read-only buffers. FYI: https://github.com/petere/emacs-flycheck-po

[2015-03-17 13:37] lunaryorn commented on #587
@petere Looks interesting.  Would you like to contribute this syntax checker to Flycheck?

In this case, I'd try to find a proper way to allow syntax checkers for read only buffers on specific circumstances.  We can't allow it generally, though, because checkers with `source-inplace` might break for buffers that are read-only because their source file is read-only (i.e. something from `/usr/` or s

[2015-03-18 01:38] ptrv commented on #591
@lunaryorn  Here is a first version of the `luacheck` checker https://github.com/ptrv/flycheck/commit/2e1eb27d88504871fffdaa4c999e7febf7d977bc

There are no tests yet but will add them as soon as possible. I am not familiar with ansible yet, it would be nice to have some assistance on how to set up the environment.

The install steps would be:
- install Lua and Luarocks with apt
- install luacheck

[2015-03-18 01:46] ptrv commented on #591
After getting `luacheck` to know, I really like the tool. It reports not only syntax errors like the `luac` compiler but also warnings. I like also that it is very configurable.

It would be really nice if the checker gets into flycheck.

[2015-03-18 02:04] rphillips commented on #591
thanks @ptrv!

[2015-03-18 05:55] lunaryorn commented on #600
@zijianyue Respectfully, the formatting is still not acceptable.  You could at the very least put spaces after periods and colons to separate sentences, and use code blocks for, well, code.

Anyhow, could you type `C-c ! C-c emacs-lisp RET` in an affected buffer?

[2015-03-18 05:57] lunaryorn commented on #591
@ptrv You need to add a new language role, similar to the existing ones.  Take a look at `language-go`, for instance, or `language-python`.

But you don't really need to update the playbooks.  If you can install luacheck manually inside the testing VM, you can just tell me the exact steps, and I'll reproduce them in the playbooks.

[2015-03-18 08:27] ptrv commented on #591
@lunaryorn Ok, thanks. I will prepare the testing VM, but it will probably take a couple of days until I'll have time to work on it

[2015-03-18 08:44] lunaryorn commented on #591
@ptrv Well, any other Linux system that's sufficiently close to Ubuntu 12.04 will suffice, too.

[2015-03-18 08:44] lunaryorn commented on #591
@ptrv But take all the time you need, please.  I won't get to reviewing this PR before this or even the next weekend anyway.

[2015-03-18 16:22] mijoharas commented on #596
On this point, how can I have a different gcc for my syntax-checker and a different gcc for my compile command?

If I understand your point correctly, you recommend having `gcc` be a gcc version `4.8` or above? if I do that I'd have to rewrite my whole teams makefiles (which they're not going to let me do) or personally modify `flycheck.el` (which is my current solution) to make it work with `gcc-

[2015-03-18 19:41] mindbound opened #607 "R linter intruding into Julia code in ESS buffers"
When writing code in Julia, sometimes (especially when declaring modules) I get an error message from r-lintr, which probably shouldn't happen in Julia mode:

[code]

[2015-03-19 01:05] zijianyue commented on #600
Sorry for my poor English.  I just uploaded the screenshot.    In an affected buffer , type C-c ! C-c and select emacs-lisp ,  it hung and could not finish.

[2015-03-19 10:44] lunaryorn commented on #600
@zijianyue It's not your English—which is fine for me—it's the *formatting* of your comments.  Please make use of Github markdown to format your comments.

As to the actual issue:  Can you please show me the output of `M-: (flycheck-checker-shell-command 'emacs-lisp)`?  You can copy it from the `*Messages*` buffer.

[2015-03-19 10:51] lunaryorn commented on #607
@mindbound Indeed, this shouldn't happen.  The R checker is only used for ESS Mode.   Does Julia Mode somehow use ESS Mode for anything?

[2015-03-19 10:58] zijianyue commented on #600
ALL OF MESSAGE BUFFER:

Warning: Unknown defun property `interactive-only' in flycheck-disable-checker
Warning: Unknown defun property `interactive-only' in flycheck-set-checker-executable
For information about GNU Emacs and the GNU system, type C-h C-a.
Quit
Error while checking syntax automatically: (file-error "Spawning child process" "exec format error")
scroll-up-command: End of buffer
"\"d:/

[2015-03-19 11:43] lunaryorn commented on #600
Again, *please* use Github Markdown to format your posts.  Specifically, use code blocks.  I've fixed your comment for this time, but I won't do that again.

With regards to the output:  How did you manage to get that `load-path`?  There are a lot of directories in there which don't have any Emacs Lisp files inside, and it's definitely not the load path you'd get from Emacs' package manager.

I pr

[2015-03-19 11:43] #600 closed

[2015-03-20 15:23] mikkelricky commented on #561
I'm experiencing this issue as well on OS X, and my investigations have sent me down the same path as @periklis has followed.
The temporary files are written to /var/ which is a symlink to /private/var/. phpcs reports file paths where symlinks are followed, i.e. /private/var/..., but these paths do not match the ones used internally by flycheck (/var/...).

[2015-03-20 16:00] lunaryorn commented on #561
@mikkelricky I see.  I'll fix it.

[2015-03-21 05:50] mrkkrp opened #608 "Make Flycheck automatically find packages in Cabal sanboxes (Haskell)"
According to [this issue](https://github.com/flycheck/flycheck/issues/293#issuecomment-31580700), Flycheck now has necessary variables that can be used to support Cabal sandboxes. Indeed, I find `flycheck-ghc-package-datebases` very useful. I searched for a way to make Flycheck automatically find `cabal.sandbox.config` file and use `package-db` value from it without success. Then I wrote something

[2015-03-21 10:05] lunaryorn commented on #608
Are you not aware of https://github.com/flycheck/flycheck-haskell?

[2015-03-21 10:45] mrkkrp commented on #608
Oh, I missed that. When I asked on various IRC channels none happened to tell me about this repo. Thank you!

[2015-03-21 10:55] mrkkrp commented on #608
I think I should close the issue, sorry for distraction.

[2015-03-21 10:55] #608 closed

[2015-03-21 12:45] lunaryorn commented on #608
@mrkkrp You are welcome :)  Thank you for using Flycheck!

[2015-03-21 13:29] purcell opened #610 "How to integrate with per-project Nix environments?"
Nix environments let us have tools installed in profiles which can be activated per-project, similarly to how "bundler" isolates a bunch of gems for use together in a ruby project.

`nix-shell` can be used to start a shell inside which all those commands are available, and `nix-shell --command` can be used from "outside" the nix environment to run commands "inside" the environment.

So let's say t

[2015-03-21 15:20] lunaryorn commented on #610
@purcell I could add a similar function to Flycheck, i.e. `flycheck-command-wrapper-function`, which would receive a list with the syntax checker command, and return another list, which would then be used as argument for `call-process`.

Would that be sufficient?  It's not difficult per se, we'd just have to sort out a few minor details, notably, whether the function runs before or after Flycheck'

[2015-03-21 15:39] purcell commented on #610
Yes, I think that would do the trick. Perhaps @boothead can comment. Also, I believe @jwiegley is using both Nix and Flycheck, so perhaps he'd be kind enough to weigh in on this as a possible integration strategy?

[2015-03-21 18:50] jwiegley commented on #610
I just start my Emacs from within a `nix-shell`, so I have not solved this problem is any per-project way.

[2015-03-21 19:11] lunaryorn commented on #610
@purcell Well, let's try this approach then.  It's the easiest to implement in my opinion. Any ideas about the design?  Would you rather like to have the concrete command after substitution, or the "abstract" command as in `:command`?

@jwiegley Is that why you invest so much effort in starting Emacs as fast as possible?

[2015-03-21 19:32] jwiegley commented on #610
@lunaryorn I actually only start Emacs for the sake of a Nix project maybe once or twice a day.

The reason I want Emacs to start as fast as possible is that during development of Emacs packages (like use-package), I am starting Emacs a few hundreds times a day to test out the loading speed.  So I guess I kind of created the problem I'm trying to solve, but in general I find that while developing

[2015-03-21 19:35] jwiegley commented on #610
I do have it on my back-burner list to solve this per-Nix-project environmental loading, although I have a feeling there will be just too many options to consider.  Because you have:

 - Custom environments introduced by `nix-shell`.
 - Custom environments introduced by `myEnvFun` (perhaps in addition to `nix-shell`).
 - Custom environments introduced by using cabal sandboxing within a nix-shell (

[2015-03-21 19:39] jwiegley commented on #610
In fact, this is really not a Nix-specific problem.  It's that there needs to be a library for Emacs called `context` which goes beyond what `.dir-locals.el` can provide: Dynamic determination of every detail relating to a project on disk.  Maybe this should be a `projectile` add-on, even.  Because we want everything configured:

 - Code layout preferences.
 - Whitespace preferences.
 - Preferred

[2015-03-21 19:42] jwiegley commented on #610
Pinging @bbatsov, author of the lovely Projectile.

[2015-03-22 20:01] lunaryorn commented on #610
@jwiegley Well, I actually think that it *is* a Nix problem.  In my experience, `.dir-locals.el` is usually sufficient, even for large and complex projects, but Nix is special because it's so invasive and wants to control every single aspect of the entire environment, which goes far, far beyond anything that other tools (e.g. virtualenv, cabal sandbox, etc.).

I would rather like to see a specific

[2015-03-23 05:37] jwiegley commented on #610
Well, outside of Nix I've run into these exact same problems with `hsenv`, for example, and getting `hdevtools` to see exactly the right set of packages relative to my sandboxed environment, rather than my global environment.  In such cases, `.dir-locals.el` was not sufficient.

I think a more general framework for solving this problem would be a better approach, since this problem does exist in o

[2015-03-24 16:14] lunaryorn commented on #591
Closing as duplicate of #609

[2015-03-24 16:14] #591 closed

[2015-03-25 07:37] lunaryorn opened #612 "Replace dash.el with seq.el"
To reduce external dependencies.

[2015-03-26 19:27] #593 closed

[2015-03-26 19:48] lunaryorn commented on #594
@nathankot I found some time to work on this issue.  I'm sorry, for the long delay, and that I have been unable to fix it yet.

I'm not sure what I did differently than you, but I haven't been able to reproduce it in `emacs -Q` with `use-package`.  Can you try to compile a minimal example, which reproduces this issue and which I can run with `emacs -Q`?  I'd like to rule out that it's an issue in

[2015-03-26 19:55] lunaryorn commented on #595
@chillum I think this is an issue in Emacs itself.  May I ask how you installed Flycheck?  Did you use package.el?

[2015-03-26 20:20] chillum commented on #595
I have MELPA in `package-archives` (I have my `~/.emacs` [on the GitHub](https://github.com/chillum/.emacs.d/blob/master/init.el) and I did: `M-x package-list-packages`, select `flyspell` and install it. After this, I restart Emacs, do `M-x customize-group flycheck`, set the `Global Flycheck Mode` to `on`, save, restart Emacs and get this behaviour. Now I have FlyCheck `20150325.58` from MELPA and

[2015-03-27 02:19] nathankot commented on #594
@lunaryorn no problem :) your time is appreciated

I've made a repo here: https://github.com/nathankot/flycheck-use-package-example
that replicates the problem, i had to swap out `web-mode` for `html-mode` so we don't have to
load in web-mode as well (maybe that was missing in your own tests?)

[2015-03-28 08:44] lunaryorn commented on #594
@nathankot I can now reproduce the issue, thanks for your example code!  The culprit is an unfortunate interaction with macro expansion:  `use-package` seems to recursively expand all macros in `:config`, which expands the `lambda` to `(function (lambda …))`.  When Flycheck subsequently adds another function quote it creates an invalid function, because apparently `function`-quoting a `function`-q

[2015-03-28 08:47] lunaryorn commented on #594
I tend to blame use-package, though, because macro-expanding everything feels very wrong, for it'll break any other place where an unexpanded list is expected.

[2015-03-28 10:53] lunaryorn commented on #595
@chillum It appears that package.el and customize do not interact well in this aspect.  I asked emacs-devel about this, see https://lists.gnu.org/archive/html/emacs-devel/2015-03/msg00897.html.

In the mean time, I'm afraid there's little I can do.  It's an upstream issue that Flycheck cannot work around.

[2015-03-28 10:59] chillum commented on #595
Uhm, frankly, I have one more workaround: `(package-initialize)` before `(custom-...)`.

At the moment, I don't understand one important thing on the topic: why we have to use `'(global-flycheck-mode t nil (flycheck))` instead of `'(global-flycheck-mode t)`.

[2015-03-28 11:20] lunaryorn commented on #595
That is not a “workaround”, it's just how you'd use package.el in your init file.  But I see not how that is compatible with your aim to keep code out of your init file and let customize do all setup, and in any case it's not something that Flycheck could do for you.

I'm not sure what you refer to in your second paragraph.  In case you mean the code written to your init file by customize:  That's

[2015-03-28 11:22] periklis commented on #561
:+1:

[2015-03-28 11:33] chillum commented on #595
My question was actually: why does the function call look like `(global-flycheck-mode t)` and the custom setting looks like `'(global-flycheck-mode t nil (flycheck))`: in this example `flycheck` is a symbol, where the first problem is (the second one is proper autoloading of flycheck if it's customized).

I've looked through some other packages and found that globally enabling some MELPA modes in

[2015-03-28 11:47] #595 closed

[2015-03-28 11:48] lunaryorn commented on #595
@chillum I do not know how customize works, and how it stores and represents settings.  I do not use customize at all.

I agree, that we can't offer a customize interface for Global Flycheck Mode currently.  I changed the code and the documentation accordingly, so from now on and until the issue is fixed upstream `(add-hook 'after-init-hook #'global-flycheck-mode)` is the only official way to enab

[2015-03-28 12:31] #561 closed

[2015-03-28 12:34] lunaryorn commented on #561
@dhaley @periklis I *think* I fixed this issue, but I'd like to hear from you if PHP CS now works fine with the next MELPA build.

[2015-03-28 12:38] periklis commented on #561
@lunaryorn when is the next build expected? Is it once a day?

[2015-03-28 12:47] lunaryorn commented on #561
@periklis Sorry, but I don't know the current MELPA build schedule.

[2015-03-28 15:11] nathankot commented on #594
@lunaryorn thanks for the detailed explanation :) most of it goes over my lisp-noob head lol T.T

[2015-03-28 16:17] jeffbski opened #613 "Can you elaborate on this error? Warning: Bug in web-mode: it forgets to call `run-mode-hooks'"
Can you elaborate on this error which I am getting when trying to use flycheck with eslint on a jsx file being edited in web-mode? Author of web-mode is trying to understand what is needed here.

[code]

I have reached out to the author of web-mode about the missing `run-mode-hooks` call, but he would like additional information about specifically what is missing.

The issue in detail is logged he

[2015-03-29 06:28] periklis commented on #561
Many thanks, it works for me now again! Great tdd work!

[2015-03-29 11:56] lunaryorn commented on #613
@jeffbski I don't know about the `run-mode-hooks` thing, but the Flycheck error means what it says:  You can't use the eslint checker in Web Mode.

I presume you set `flycheck-checker` or call `flycheck-select-checker` in `web-mode-hook`, overriding Flycheck's automatic selection, which would never have selected eslint checker in a Web Mode buffer.  Thus you force Flycheck to try and use this chec

[2015-03-29 11:56] #613 closed

[2015-03-29 11:57] lunaryorn commented on #607
@mindbound Did you solve the issue?

[2015-03-29 16:52] jeffbski commented on #613
@lunaryorn So the bug in web-mode run-mode-hooks is not coming from flycheck? We were just trying to understand what that message means. If we get web-mode to implement the run-mode-hooks, then maybe it would be valid.

As for eslint not being supported with web-mode, well then that raises the question as to **why using jsxhint works fine with web-mode and flycheck.**

Since eslint is supposed to

[2015-03-29 17:03] jeffbski commented on #613
web-mode + flycheck + jsxhint setup is discussed here:

http://truongtx.me/2014/03/10/emacs-setup-jsx-mode-and-jsx-syntax-checking/

[2015-03-29 19:08] lunaryorn commented on #613
I said that I do not *know* where the message about run-mode-hooks comes
from, and I do not know what it means either.

Your jsxhint checker works with Web Mode because you *defined* it that way,
by adding Web Mode to the `:modes` of your checker.  The built-in
eslint checker of Flycheck however is not defined that way—it only supports
plain JavaScript modes. This is intentional—it's hard for Flyc

[2015-03-29 20:35] jeffbski commented on #613
ok. Thanks for responding. I'll dig into the code and see if I can figure it out, comparing javascript-jsxhint and javascript-eslint.

[2015-03-29 20:37] jeffbski commented on #613
Maybe I'll understand better once I go through the code for each.

[2015-03-30 02:32] mindbound commented on #607
Using the standalone Julia mode (provided by the Julia repo) obviously "solves" the problem, since it doesn't depend on or interact with the ESS mode. The problem with Julia minor mode within ESS, however, remains as described in OP.

[2015-03-30 02:33] nathankot commented on #594
@lunaryorn i've found a way to solve this using the new `:preface` option in use-package: https://github.com/jwiegley/use-package#add-preface-occurring-before-everything-except-disabled

See [this diff](https://github.com/nathankot/dotemacs/commit/f28ed59e79652287b3a485451eeb476dec9c80e1) for an example. Thanks so much for your help!!!! :+1:

[2015-03-30 07:23] lunaryorn commented on #594
@nathankot I'm glad that you were able to solve the issue, but I'd still like to keep this issue open, since it's nonetheless an issue in the interaction between Flycheck and use-package that needs to be fixed.

[2015-03-30 07:38] lunaryorn commented on #607
@mindbound No offense meant, but you should have said that in your OP.   I don't know anything about ESS, and I assumed that you were using the standard Julia major mode.

As a quick fix, you can add `r-lintr` to `flycheck-disabled-checkers`, by adding the following to your init file:

[code]

Ideally, Flycheck would only use `r-lintr` if the current buffer contains R code.  Do you know how I coul

[2015-03-30 07:41] lunaryorn commented on #613
@jeffbski So no offense meant, but did you really just copy the code from the blog post without understanding what it actually does, and how a Flycheck syntax checker definition works?

Anyhow, as I said before, you can allow Flycheck to use eslint in Web Mode by adding the following code to your init file:

[code]

[2015-03-30 08:07] nathankot commented on #594
All good :)

--
Nathan Kot

[2015-03-30 10:25] c02y opened #614 "flycheck will make Emacs (even my computer) stuck."
Flycheck will make Emacs and my computer stuck, I cannot do anything but switch Ctrl-Alt-F2 to kill the Xorg then re-login or restart my computer.

When I just open my init.el in Emacs, move with C-v or M-v, seconds later, the whole buffer and Emacs and computer will stuck, the only thing I can see in the screen is the very slowly red wave character by character under the warning or error sentence

[2015-03-30 12:32] mikkelricky commented on #561
Since only "some syntax checker always output canonical file names with all symbolic links resolved", I think that we may have to check both cases, e.g.
[code]

[2015-03-30 14:26] lunaryorn commented on #561
@mikkelricky We don't.  `file-truename` is a proper superset of `expand-file-name`.

[2015-03-30 14:28] lunaryorn commented on #561
@mikkelricky That said, it's probably a good idea to try the simple test first, and avoid the (comparatively expensive) file system access, if the paths are already equal.  Would you like to open a PR?

[2015-03-30 14:32] lunaryorn commented on #614
@c02y Now, if even you can't reproduce this issue consistently on different systems, how am I supposed to reproduce, let alone debug it, with so little information?   Can you give me *any* other clue or information about this issue?  Can you reproduce the issue with other packages?  Flymake probably, because it uses a similar display code?  Do you have other display issues with Emacs on this syste

[2015-03-30 15:52] jeffbski commented on #613
@lunaryorn yes, more or less guilty. My emacs lisp understanding is minimal, so I sometimes copy and tweak. I just haven't spent the time to understand it all yet.

Thanks for clarifying what you meant above.

Using that I was able to get everything working. My resulting setup is:

[code]

Thanks again for the help. Have a great day.

[2015-03-30 16:23] lunaryorn commented on #613
@jeffbski So I presume this also fixed the message about `run-mode-hooks`?

With regards to your setup, please don't use `flycheck-mode` and `flycheck-select-checker` in a mode hook.  Instead enable Global Flycheck Mode and let Flycheck select the best checker for you.

Also, `(setq-default flycheck-disabled-checkers '(javascript-jshint))` is sufficient, since this variable is empty by default.

I

[2015-03-30 16:26] lunaryorn commented on #561
@mikkelricky Never mind, I already changed the code accordingly.  Thanks for calling this to my attention!

[2015-03-30 16:30] jeffbski commented on #613
Yes, that fixed the run-mode-hooks.

I'll read the flycheck manual and change my setup to using global flycheck mode and letting flycheck select best one for me.

For the disabled checkers, I didn't want to assume that they hadn't customized flycheck-disabled-checkers elsewhere so I did an append.

Thanks for the help.

[2015-03-30 16:36] lunaryorn commented on #613
@jeffbski Fancy.  I really wonder where that message came from.  Seems that Emacs doesn't deal well with errors from major mode hooks…

Anyhow, I'm happy that we could fix this issue, and get Flycheck working for you.  I really hope that you'll be able to enjoy Flycheck flawlessly from now on.  Should you have any other problems, please don't hesitate to open another issue!

[2015-03-30 16:38] jeffbski commented on #613
Yes, thanks. I am looking forward to using flycheck for all my syntax checking and linting needs in emacs. I appreciate all your work to create this great project.

[2015-03-30 17:28] jeffbski commented on #613
FYI. Using your advice to use global flycheck mode, my setup simplifies to:

[code]

[2015-03-31 00:54] mindbound commented on #607
You're right, I should have done that. Right now I have gone back to the standard Julia major mode but thanks for the suggestion.

[2015-04-02 17:31] Ralith opened #615 "Clang checker discards extra lines in errors"
This makes flycheck very unhelpful for errors in a header file that only manifest when used, as typically occurs e.g. with template expansions. It's not viable to display full C++ errors all the time, as they can be ridiculously verbose, but it would be extremely helpful to have a way to obtain a buffer containing the full text of any given error on demand, or something similar.

[2015-04-02 17:32] lunaryorn commented on #615
@Ralith Would you mind to give me a specific example, please?

[2015-04-02 17:37] Ralith commented on #615
[code]
[code]

Here flycheck annotates foo(42); with info "in instantiation of function template specialization 'foo<int>' requested here" and #include "foo.h" with error "In include /home/ralith/tmp/foo.h". I haven't been able to find any way to get the actual text of the error in foo.h, since the buffer for foo.h itself, containing no actual errors when considered on its own, is clean.

[2015-04-02 17:46] lunaryorn commented on #615
@Ralith Please give me a complete example.  Specifically, show me the actual output of Clang (e.g. `C-c ! C-c c/c++-clang`) in addition to what Flycheck shows you in the error display.

[2015-04-02 18:26] Ralith commented on #615
[code]
[code]

[2015-04-02 18:37] Ralith commented on #615
I guess the problem isn't additional lines being discarded so much as errors located in one file but only detectable while processing another being discarded.

[2015-04-03 14:39] dholm commented on #607
@lunaryorn I hadn't heard of this language before.  I'll see if I can reproduce the issue.

[2015-04-04 12:01] lunaryorn commented on #615
@Ralith I'm not sure whether we can really handle these errors reasonably in Flycheck.  If I understand the output correctly the error manifests in the header file.  We can't just show the messages from the header file, though, since it might have many unrelated warnings which you'd normally like to ignore.

I guess we could get away with including *errors* from header files, while still omitting

[2015-04-04 12:03] swsnr opened #616 "API documentation"
Add API documentation to Sphinx.  Should just briefly list the important API, we shouldn't duplicate the docstrings.

[2015-04-04 12:09] douglarek opened #617 "Rust check warning !"
A hyper demo (https://github.com/hyperium/hyper#example):

![rust-check](https://www.evernote.com/shard/s224/sh/7870d888-4da9-4b79-a127-974d63aa8929/72336f5497e4729c97e796fed6e68b4a/res/178fb989-72aa-4db2-a88b-e8975e5f3182/skitch.png)

[code]

But I can build it with `cargo build` and no errors.

[2015-04-04 12:36] lunaryorn commented on #617
@douglarek Obviously you need to configure the syntax checker to find your dependencies.  Take a look at the [available options](http://www.flycheck.org/manual/latest/Supported-languages.html#index-Language_002c-Rust), or use https://github.com/flycheck/flycheck-rust, which provides some automatism.

[2015-04-04 12:36] #617 closed

[2015-04-04 12:37] #592 closed

[2015-04-04 12:41] douglarek commented on #617
@lunaryorn I use `flycheck-rust`, this is my config:
[code]

[2015-04-04 12:49] lunaryorn commented on #617
@douglarek You probably missed https://github.com/flycheck/flycheck-rust/issues/6…

[2015-04-04 13:42] #516 closed

[2015-04-04 14:41] lunaryorn commented on #590
@jonathanj With the next MELPA build, re-enabling the checker with `C-u M-x flycheck-disable-checker RET python-flake8` should work properly.  It still means that the checker will temporarily stop working if there are too many errors, but you can at least properly re-enable it now.

I'm not sure whether we can reasonably fix the real issue, because Flycheck as little chance to determine whether th

[2015-04-04 18:41] Ralith commented on #615
I don't find I ever want to ignore even warnings in headers in my editing/build process. If a header is from an external library and contains harmless warnings, I specify its include path with -isystem to suppress the messages at the compiler level.

In light of that, I'd be happy to see all messages--not just the ones applying to the current file--show up in the error list buffer. That said, runn

[2015-04-04 19:30] lunaryorn commented on #615
@Ralith `C-c ! C-c` is intended for debugging.  It shouldn't be part of your regular workflow.  You should rather use `compile` and run a complete build.

Flycheck won't show you all errors from includes.  That's not it's job.  It'll only show you those errors that directly relate to the current file.  Even if it could somehow highlight all those errors in the current file, that's not an option, b

[2015-04-04 19:52] Ralith commented on #615
I could imagine Flycheck to do some sort of backwards scan through the output beginning at messages that match 'note: in instantiation of' and gathering all messages that refer to different files. This would still catch some messages that genuinely have nothing to do with the source file--if nothing else, actual mistakes in template definitions would be impossible to distinguish. A similar approac

[2015-04-05 12:10] lunaryorn commented on #615
That would not help.

Flycheck discards all errors that don't refer to the current file, because
there's no reasonable way to show them in the current buffer.  We'd somehow
need to map errors from includes to the corresponding include line to be
able to highlight errors in includes in the including buffer.

In fact Flycheck used to do that a while back, but I changed that at a
users request.  And

[2015-04-06 12:12] lunaryorn commented on #610
@jwiegley Well, I don't believe that a generic system will be successful.  There are too many differences between different build system and sandboxing tools, so before long you'll be entangled in all sorts of picky details that take all the fun from such a project.

Personally, I'd like to limit this discussion to the immediate scope of Flycheck.  Regardless of whether you or anyone else manages

[2015-04-06 14:07] jwiegley commented on #610
@lunaryorn You could well be right, although at the very least a generic project would have a layer that identifies all points of configuration necessary in one place, even if the first version of that project would only ever envision a single backend.

[2015-04-06 14:18] lunaryorn commented on #610
@jwiegley Well, in my experience successful generic systems evolve from simple systems for a specific purpose, whereas failing generic systems are designed up-front.  But YMMV—my experience is limited and biased and I don't claim to know the ultimate truth :)

If we solve this problem for Flycheck and Nix, and it turns out that it's easily adaptable to other systems like cabal sandboxes or to othe

[2015-04-06 14:33] #531 closed

[2015-04-06 14:46] jwiegley commented on #610
@lunaryorn Hah, fair enough. :)

Here's where my thinking comes from: If you try to architect for the most generic solution, and then implement for a specific solution, you should be able to discover a "sweet spot" in the middle that allows for leaning either toward more generic (to cover more types of systems) or more specific (usually for better performance) -- but the real advantage is that you

[2015-04-06 14:59] lunaryorn commented on #610
@jwiegley Well said, and I cannot but agree :)  The only thing that remains to be discussed is who goes for implementing this solution.  Being no Nix user, I'm afraid that I lack the need and the knowledge, not to mention a notorious lack of time :)

[2015-04-06 15:17] jwiegley commented on #610
Oh man, I hear you on that lack of time.  I'd love to wrestle with this problem, so I've put it on my list and we'll see if some nimble youngster doesn't beat me to it. :)

[2015-04-06 15:25] purcell commented on #610
Not to take away from all the things John listed above, I'm primarily interested in how to intercept process creation in a generalised way: similarly to this `nix` discussion, libraries like `ruby-compilation.el` shouldn't have to explicitly deal with all the possible process wrappers (`rbenv`, `rvm`, `bundle exec` etc.) that might be required to run basic commands.

I can imagine a new library li

[2015-04-06 15:48] lunaryorn commented on #610
@purcell I see your point, but I'm skeptical.

Process creation is somewhat a core feature of Emacs, which many many libraries rely upon.  I'd not like to see a library that advises these core functions.  It could potentially create a whole lot of issues for other libraries, which would be hard to debug and track down.

Without advises, though, we'd need support from upstream, but I doubt that Ema

[2015-04-06 16:31] purcell commented on #610
I have the same concerns, and it was certainly easier to implement `haskell-process-wrapper-function`. But even putting aside the admittedly-icky idea of using advice for implementation, if there had been a standard way to handle possibly-wrapped command invocations, perhaps that might have been used instead.

[2015-04-06 21:52] gracjan commented on #530
Nice idea!

[2015-04-07 14:33] SkydiveMike opened #618 "`make texinfo` fails"
With current head building the texinfo docs is broken.

[code]

[2015-04-07 16:04] lunaryorn commented on #618
Closing as invalid.  Flycheck doesn't support El-get, and the manual [builds fine for me](https://travis-ci.org/flycheck/flycheck/jobs/57465538#L340).  You probably need to upgrade Texinfo, but ultimately you're on your own with an el-get installation.

[2015-04-07 16:04] #618 closed

[2015-04-08 05:25] zijianyue commented on #600
Using the 0.23 version ,this issue doesn't happen .

[2015-04-08 13:24] lunaryorn opened #619 "Evaluate spinner.el for mode-line reporting"
See http://endlessparentheses.com/new-on-elpa-spinner-el-mode-line-spinners-and-progress-bars.html

Inviting @Malabarba:  Looks like a cool package!

[2015-04-08 16:20] Malabarba commented on #619
Do you mean adding a spinner while flycheck is working in the background?

[2015-04-08 17:28] lunaryorn commented on #619
Yep, that's the idea.  Do think it's a bad one?

Am Mittwoch, 8. April 2015 schrieb Artur Malabarba :

[2015-04-08 18:45] Malabarba commented on #619
It's certainly worth a try. Shouldn't be difficult.

Is there a pair of functions/hooks that get called before checks are started and after checks are done?

[2015-04-09 11:18] lunaryorn commented on #619
@Malabarba There's `flycheck-status-changed-functions`.

[2015-04-09 16:46] Malabarba commented on #619
Here's an example snippet. I recommend using the 1.2 version (which will probably hit Gelpa by tomorrow) which places the spinner besides the mode-line-process, intead of besides the mode-name.

    (add-hook 'flycheck-status-changed-functions #'flycheck--spin)
    (defun flycheck--spin (s)
      (if (eq s 'running)
          (spinner-start 'flipping-line 10)
        (spinner-stop)))

You can cont

[2015-04-10 06:00] lunaryorn commented on #619
@Malabarba How much more work would it be to put the indicator into the mode line lighter?  That's actually what I'd like to do.

I'll probably not include spinner.el into Flycheck proper, if only to avoid the additional dependency.  But if I like it, I'll make a Flycheck extension for it.

[2015-04-10 07:29] Malabarba commented on #619
Just add the spinner--mode-line-construct symbol anywhere inside flycheck's lighter construct. Then, when calling spinner-start, give it a non-nil third argument so that it doesn't add itself to the mode-line process.

I'm at a phone right now, but I can give a more specific example later.

[2015-04-10 07:46] lunaryorn commented on #619
@Malabarba A double-dash variable?  Isn't that supposed to be internal?  Also, won't that conflict with spinners from other libraries?

[2015-04-10 11:29] purcell opened #620 "How to modify buffer contents before sending them to a checker command"
PostgreSQL ships with `ecpg`, a command-line program which preprocesses lines like

[code]

into C source code. In so doing, it checks the syntax of the SQL using the standard PostgreSQL query parser. So I'm thinking about using this to make a SQL checker: I need to take SQL in the current buffer and smartly prepend `EXEC SQL` before passing the resulting content to the `ecpg` command.

Obviously

[2015-04-10 12:01] lunaryorn commented on #620
@purcell No, there isn't.  You need to write your own generic checker, but you can re-use Flycheck's functions for command syntax checkers to some degree.

I'm skeptical, though, whether that'll work well in practice.  I guess that an awful lot of work hides behind this innocent “smartly”.  These multi-line statements look tricky: You have to identify these correctly, and you need to track any ins

[2015-04-10 12:03] purcell commented on #620
Thanks. I agree. I'm thinking of writing my own simple checker in Ruby using the [pg_query gem](https://github.com/pganalyze/pg_query), which wraps the pg query parser. Then it can just be a simple `gem install`, and act directly on the source file.

[2015-04-10 12:03] #620 closed

[2015-04-10 19:21] Malabarba commented on #619
Yes and yes. Spinner initial concept was designed for major-modes (in
which case that variable is internal and no conflict is possible).
I just hadn't looked into making it compatible with minor modes as well.

I pushed a new version which should do this (just on github for now).
You need to define a variable to hold the spinner type
(`flycheck--spinner` below) and a variable which will hold the t

[2015-04-11 18:50] swsnr opened #622 "Use make-process to create processes"
It's just the better interface.

[2015-04-11 18:52] swsnr opened #623 "Drop Emacs 24.x compatibility"
Remove all compatibility shims for 24.x releases of Emacs.

[2015-04-11 19:17] Sarcasm commented on #623
I don't think it should be a *goal* to remove backward compatibility in itself. It should be something that happens when one has to make too many compromise to support an old version, used by a minority.

You are providing a tool useful to many users and that is used by third party plugins. Not supporting the Emacs 24.x series mean third party tools will also have to drop support for it.

I guess

[2015-04-11 21:26] lunaryorn commented on #623
@Sarcasm Oh dear, calm down.  Emacs 25 isn't anywhere near a release yet…

[2015-04-12 09:34] lunaryorn commented on #619
@Malabarba That feels a little… brittle.  Why don't you wrap up everything in a `cl-struct`, so that I could do

[code]

[2015-04-12 10:43] Malabarba commented on #619
Yes, there are improvements that can be made to the implementation. The current version is what I could cook up in the time I have, but I assure you it's not brittle. ;-)

The reason it uses a `make-construct` is that the mode-line construct used is optimized to not call any lisp code at all when there are no spinners running (unlike a plain `'((:eval (...)))`). The `defvars` are also used for tha

[2015-04-12 11:40] lunaryorn commented on #619
@Malabarba Is there really a measurable difference between an empty mode line construct, and an `:eval` with a no-op function?  I haven't yet noticed any performance penalty with `:eval`.

[2015-04-12 12:19] Malabarba commented on #619
Not on regular cases. On a crappy computer, where the user holds down the C-n key (which forces a frequent mode-line update), a ton of mode-line :eval's might add up. But who knows?

No that I'm not willing to change the implementation. structures would be much nicer. Just need to find the time.

[2015-04-14 01:59] zijianyue opened #624 "Warnings when load 0.23 version"
Warning: Unknown defun property `interactive-only' in flycheck-disable-checker
Warning: Unknown defun property `interactive-only' in flycheck-set-checker-executable

[2015-04-14 18:03] lunaryorn commented on #624
Ignore them.  These warnings are about a feature that isn't present in 24.4, and mean no harm.

[2015-04-14 18:03] #624 closed

[2015-04-14 18:04] lunaryorn commented on #614
@c02y Can you provide any new debugging information for this issue?

[2015-04-14 18:05] lunaryorn commented on #610
@purcell @jwiegley Do we have any concrete action plan now?  I'd like to know what I'm supposed to do with this issue.  Is there anything that I can implement now to help you with Nix integration?

[2015-04-15 12:34] purcell commented on #610
My personal inclination would be to provide some sort of `-wrapper-function` option as initially described. Perhaps it would help if I CC'd @ardumont here, since he drove the addition of the `haskell-mode` wrapper function option, and is presumably actively using nix with Emacs?

[2015-04-15 14:26] ardumont commented on #610
Hello,

In waiting for someone with a generic solution, +1!

Yes, I do use nixos/nix and emacs.
But I'm nowhere near having some generic solution.

Regarding the first solution, I think @lunaryorn [got it pretty well in his first description](https://github.com/flycheck/flycheck/issues/610#issuecomment-84371628).

Still, let me know if I can provide anything else.

Cheers,

[2015-04-15 14:33] lunaryorn commented on #610
Ok, I'll go with `flycheck-substituted-command-wrapper-function`.  It'll allow extensions to transform the command *after* the argument substitution.  IOW, it'll get the command as given to `call-process`, and can do whatever it wants to do with the command.

Would that be sufficient?

[2015-04-15 14:48] purcell commented on #610
Yep, I would think so.

[2015-04-15 20:47] chillum opened #625 "Errors when creating a file in non-existing directory"
I do:

`C-x C-f /non/existent/dir/a.yml [RET]`

I get:

`Error while checking syntax automatically: (file-error "Setting current directory" "no such file or directory" "/non/existent/dir/")`

I bet, FlyCheck should't try to set the directory, unless it already exists (this happens when I save this new file in new directory for the first time).

[2015-04-16 06:22] lunaryorn commented on #625
@chillum Currently, Flycheck just uses the `default-directory` provided by Emacs.  Apparently this directory is not guaranteed to exist.  I guess Flycheck eventually has to support this case, but I think it's a rather unusual corner case: You're the very first person to report this issue, even though it existed in Flycheck since its very beginning over two years ago.

I'll fix it, but only after #

[2015-04-18 22:30] sathlan opened #626 "foodcritic doesn't work anymore with metadata.rb file."
Hi,

since patch #556 and the use of ```source-inplace```, foodcritic doesn't work on metadata.rb file included in chef project.

The problem comes from the fact that `foodcritic` looks for a file named metadata explicitely.  Here is a full example of the problem:

Take this `metadata.rb` file
[code]

run

[code]

then
[code]

For reference, I go around the problem by defining a new checker as I d

[2015-04-19 10:39] lunaryorn commented on #626
Inviting @petere for help.  Can we find a way to fix this issue with just one checker?

[2015-04-19 21:37] ReneFroger commented on #273
I would like to add this to my flycheck setup.

Note: I'm not using Spacemacs, but default Emacs. So if I might ask, what's the desired configuration in order to get  plain line instead waves?

[2015-04-19 23:40] petere commented on #626
The warning is a legitimate warning, because you should set `maintainer` and `maintainer_email` to real values.  If you don't like that, there is now also a facility to disable specific Foodcritic warnings.  I don't see a bug here.

[2015-04-20 00:13] sathlan commented on #626
@petere, I agree, I put this for reference, the bug is in the "then" part of the description.  When using `source-inplace` the files are renamed.  Because of this `foodcritic` output is wrong with for the `metadata.rb` as it seems it has special treatment for a `metadata.rb` file not for a `flycheck_metadata.rb` file (which is how the file are renamed if I remember correctly)

The actual behavior

[2015-04-20 06:25] mattly opened #627 "Elixir checker will eval .exs files"
While `elixirc` will generate output errors, this is more of a side-effect for its main purpose of generating beam bytecode. Elixir also has `.exs` files which are not meant to be compiled, and running `elixirc` on them will instead execute them.

From digging around in the options for both `elixir` and `elixirc` it seems there's no way to get the errors for an `.exs` file. While I'm going to brin

[2015-04-20 09:13] lunaryorn commented on #627
Duplicate of #628

[2015-04-20 09:13] #627 closed

[2015-04-22 13:39] lunaryorn commented on #614
Closing due to the lack of activity.

[2015-04-22 13:39] #614 closed

[2015-04-22 13:51] lunaryorn opened #629 "Add flycheck-substituted-command-wrapper-function to mangle command after substitution"
Primarily for Nix support, see #610 for discussion.

[2015-04-22 13:52] lunaryorn commented on #610
Closing in favor of #629 then.

[2015-04-22 13:52] #610 closed

[2015-04-22 20:52] ReneFroger commented on #273
Nobody?

[2015-04-23 05:16] lunaryorn commented on #273
@ReneFroger Customize the `:underline` property of the faces `flycheck-error`, `flycheck-warning` and `flycheck-info`.

[2015-04-26 21:59] Malabarba commented on #619
I've pushed an update to spinner with a better interface.
The Readme has examples on how to use it. But here's one way that works fine for me with flycheck.
Just add a varible and add a few lines to `flycheck-mode-line-status-text`.

    (defvar-local flycheck--spinner nil)

    (defun flycheck-mode-line-status-text (&optional status)
      "Get a text describing STATUS for use in the mode line.

[2015-04-26 22:08] mattly opened #630 "Elixir checker executes code in buffer"
While investigating the issue that led to #628, [Elixir creator José Valim mentioned that elixirc executes code](https://github.com/elixir-lang/elixir/issues/3282#issuecomment-94381550). I discovered this while editing a cpu-intensive `.exs` script and noticing that the script was actually being ran, but José says that the `.exs` extension differs from the main `.ex` extension in that the only rea

[2015-04-28 06:41] lunaryorn commented on #630
@mattly  I don't think that I want to be bothered with this complexity.  I'll rather remove the Elixir syntax checker entirely than introducing additional complexity just to work around a compiler which behaves badly.  It's not my fault that it's broken, and it's not my issue to fix.

For now, if you frequently work with untrusted Elixir code, remove the checker from `flycheck-checkers`, and manua

[2015-04-28 06:50] mattly commented on #630
I believe the compiler does the evaluation because it has to handle macros at compile-time.

This makes me sad, but I totally understand. On the flip side, maybe I'll create a simple CLI tool available via homebrew or such that will do safe syntax-checking and help fill a niche.

[2015-04-28 21:04] jsirex opened #631 "Foodcritic tries files that doesn't belong to chef cookbooks"
Here is two use cases:
I'm trying to open `/home/sirex/proj/<projectname>/chef/environments/production` file. It is actually Berksfile. It not recognized (fundamental) and I have to manually enable ruby-mode.
Then, flycheck tries to check this file with foodcritic. But I haven't any folder called `recipes` or `cookbooks` in `/home/sirex/proj/<projectname>/chef/`

Second use case, when I'm actually

[2015-04-28 23:07] hartzell opened #632 "Spurious complaint: "Package declaration must match filename" for Perl file."
Flycheck complains: "Package declaration must match filename" for a perl package that seems correct.  `perlcritic` run from the command line reports the file as "ok".

I've started emacs from the top of my source tree, and the file lives underneath the `lib` directory, which is prepended to `$PERL5LIB`.

I'm confused about why it's complaining and prefer to fix, rather than ignore, warnings.

I'm

[2015-04-29 07:26] lunaryorn commented on #632
That's a consequence of how Flycheck creates temporary files for Perl Critic.  Flycheck uses a temporary file with a special name as input for Perl Critic, which is not a valid Perl module name.

That's not something we can easily fix in Flycheck, other than to ignore this specific error.  It also affects other checkers, like Pylint.

Feel free to open a pull request to ignore these errors with a

[2015-04-29 07:26] #632 closed

[2015-04-29 07:28] lunaryorn commented on #631
The conditions are in the [`:predicate` of the food critic checker](https://github.com/flycheck/flycheck/blob/0a86a1790ee793c8c80d647a0c58eaa0cea433f9/flycheck.el#L5499).  Feel free to improve them, and open a pull request :)

[2015-04-29 15:43] jsirex commented on #631
Unfortunately, I cannot understand few functions in the code. I'm not a elisp programmer.

But I'll will try later to understand it and fix

[2015-04-29 16:40] hartzell commented on #632
Understanding the *Why?* of it is enough to keep me happy.

Is there an FAQ or ... where I could contribute a comment about it?

Thanks!

[2015-04-29 17:12] lunaryorn commented on #632
There's no FAQ.  Actually, you're one of the first to ask about this issue
😃

Am Mittwoch, 29. April 2015 schrieb George Hartzell :

[2015-04-30 00:06] hartzell commented on #632
Ok then.  Closed as an infrequently asked question it is.  Thanks!

[2015-04-30 02:17] jcamp748 opened #633 "strange functionality when clang isn't installed"
I recently posted a question on <a href=http://stackoverflow.com/questions/29933704/why-does-emacs-show-these-warnings-and-errors?noredirect=1#comment47991278_29933704>stack overflow</a> about an issue with a local include file.  It turns out the error message I was recieving was the result of not having clang installed on my machine.  After installing clang using apt-get the error went away.  Som

[2015-04-30 07:28] lunaryorn commented on #633
@jcamp748 Flycheck does not require Clang.  I do not know what “error message” you refer to—the Stack Overflow question shows compiler errors not Emacs errors—but generally GCC works fine with Flycheck.

If the compiler errors are unexpected, your Flycheck configuration is probably missing the proper include paths.

Closing as invalid.

[2015-04-30 07:28] #633 closed

[2015-04-30 08:31] CannedYerins opened #635 "Suspicious state from syntax checker python-pycompile"
Hi.  There seems to be some sort of issue with the formatting of errors coming from python-pycompile.

The code
[code]
where the brackets signify the cursor position produces this flycheck output.

`Suspicious state from syntax checker python-pycompile: Checker python-pycompile returned non-zero exit code 1, but no errors from output: Sorry: IndentationError: expected an indented block (test.py, l

[2015-04-30 08:50] lunaryorn commented on #635
@CannedYerins Apparently the error regexp is incomplete.

I'd recommend you to use Pylint or flake8 for Python, though.

[2015-05-01 17:33] marcinant commented on #610
@jwiegley Well, why don't you use emacs shell scripts as described (here)[http://nic.ferrier.me.uk/blog/2012_07/emacs-packages-for-programmers] ?

[2015-05-01 18:07] jwiegley commented on #610
I could probably do something along those lines, but not all testing that I do is worth creating a script to reproduce the actions I take.

[2015-05-01 18:40] duud opened #637 "Multiline error messages"
Please don't strip error messages in flycheck-list-errors.
Currently I'm seeing a stripped error message:

In file included from include/linux/slab.h....

instead of:

In file included from drivers/gpu/drm/i915/i915_irq.c:32:
In file included from include/linux/slab.h:14:
In file included from include/linux/gfp.h:5:
In file included from include/linux/mmzone.h:7:
In file included from include/linu

[2015-05-01 19:13] lunaryorn commented on #637
Flycheck does not “strip” multiline error messages.  It parses all of these as individual error messages, and discards them because they are not from the current file obviously.

It's not “easily solvable”, either.  I've have changed this part of the code three times now, in response to various complaints, and never managed to make everyone happy.  Search for "C++ include" in Flycheck's issues her

[2015-05-01 19:13] #637 closed

[2015-05-01 20:03] duud commented on #637
There are no general problems with the way how Flycheck handles c/c++ includes on a file leve, it's fine. But as a general design rule for Flycheck: there must be allways a place where you can review the whole errormessage. This applies not only to C/C++ but to every language/checker. This makes flycheck more robust and saves work. If Flycheck interprets an errormessage wrong or the compiler modif

[2015-05-04 11:26] geraldus opened #638 "Support possibility to enable arbitrary language extensions for HLint"
HLint does not enables `TemplateHaskell` and `QuasiQuotes` language extensions, so if you have quasi quotes in your code HLint fails with parse error. The only way to enable mentioned extensions is to create auxiliary script like following

[code]

flag it as executable and set it as FlyCheck HLint Executable. Though it works as expected it would be nice to have an option to configure list of addi

[2015-05-06 06:12] lunaryorn commented on #638
That's just a matter of adding the proper options.  I'll see whether I can do that by the week end.

As for your PS: I don't know.  It'd only be possible if hlint itself supported such files.  You'll need to read the hlint documentation for more information.

[2015-05-06 07:57] lunaryorn commented on #635
@CannedYerins Totally forgot about this:  Can you tell me your Python version?

[2015-05-06 10:30] hekto opened #639 "Zero-based columns in javascript-eslint checker"
Flycheck version: 0.24alpha (package: 20150503.1047)
eslint version v0.20.0

I believe there is a `(flycheck-increment-error-columns errors)` missing in the error-filter of the javascript-eslint checker.

This change works for me:
[code]

Do you want me to make a pull request with that change?

[2015-05-06 12:15] hekto commented on #639
Reading #578 got me thinking... Could it be that the checkstyle format is supposed to be zero-based when it comes to columns?

I haven't found any spec for the xml format, but at least internally it looks like checkstyle is storing lines one-based and columns zero-based.

If that is the case, the proper solution would be to increment the column inside `flycheck-parse-checkstyle` instead.

[2015-05-06 12:33] hekto commented on #639
So.. change this in `flycheck-parse-checkstyle`:

[code]

[2015-05-06 12:41] lunaryorn commented on #639
I wouldn't bet on every tool using Checkstyle XML in a consistent way.  I doubt that most tools give any thought about column numbering.  Most probably just dump their internal representation into Checkstyle XML, with whatever column offset they happen to use internally—or worse, with whatever column offset the underlying parser library happens to use.

Did you check whether all other checkers tha

[2015-05-06 14:17] lunaryorn commented on #639
Closing as duplicate of #640

[2015-05-06 14:17] #639 closed

[2015-05-06 20:35] CannedYerins commented on #635
`$ python --version
Python 2.7.9`

[2015-05-09 06:03] ikirill opened #642 "haskell-hlint checker gets confused by flycheck's temporary files"
I get the following hlint warning with `flycheck-20150503.1047`:

       63   5 warning         Reduce duplication
    Found:
      locPos <- attribLocation' program "position" FloatVec2
      vertexAttribArray locPos $= Enabled
      vertexAttribPointer locPos $=
        (ToFloat, VertexArrayDescriptor 2 Float 0 nullPtr)
      bufferData' ArrayBuffer positions StaticDraw
    Why not:
      Combin

[2015-05-09 06:14] #642 closed

[2015-05-11 07:42] lunaryorn commented on #642
@ikirill I'm glad to see that the issue is solved.  Thanks for reporting nonetheless, since it may help other Flycheck users.

[2015-05-11 18:47] #635 closed

[2015-05-11 18:47] lunaryorn commented on #635
@CannedYerins Should be fixed now.  Please check with the next MELPA build.

[2015-05-11 20:22] #630 closed

[2015-05-11 20:23] lunaryorn commented on #630
@mattly I've now removed this syntax checker.  Feel free to maintain your own Flycheck extension with a limited but safe checker.  I'll help you as far as I can.

[2015-05-11 21:10] ikirill commented on #642
@lunaryorn https://github.com/ndmitchell/hlint/issues/126

[2015-05-11 21:15] lunaryorn commented on #590
Closing due to the lack of activity.  I presume the issue is solved now.

[2015-05-11 21:15] #590 closed

[2015-05-11 21:19] #625 closed

[2015-05-11 21:21] lunaryorn commented on #625
@chillum Flycheck does not check files anymore if the containing directory does not exist.  You'll get no syntax checking, but at least Flycheck doesn't signal errors.

[2015-05-11 21:22] lunaryorn commented on #607
@dholm Did you find something to solve this issue?  Probably some kind of minor mode or other indicator that makes sure that the current buffer really contains R code?

[2015-05-12 07:47] chillum commented on #625
@lunaryorn yay! just updated the flycheck and it works just as I expected it to. thanks!

[2015-05-12 12:36] lunaryorn commented on #625
@chillum You're welcome.  I'm glad that it now works for you :)

[2015-05-14 13:47] bluekeys opened #643 "package-compute-transaction: Package `let-alist-1.0.1' is unavailable"
When I try and install flycheck mode I receive this error.

package-compute-transaction: Package `let-alist-1.0.1' is unavailable

I believe the package has been removed from melpa / marmalade

[2015-05-14 17:10] lunaryorn commented on #643
@bluekeys let-alist is part of [GNU ELPA](http://elpa.gnu.org/packages/let-alist.html), the default package archive.  Please ensure that GNU ELPA is enabled in your Emacs—check the `package-archives` option—and try `M-x package-refresh-contents` before installing Flycheck.

Closing, since this is definitely an issue with your configuration.   Feel free to add further comments and questions, though

[2015-05-14 17:10] #643 closed

[2015-05-16 21:45] chillum opened #645 "Broken JSON checks"
Hi,

For several months I have Flycheck and jsonlint installed. From some recent update, Flycheck does not work with JSON files, displaying "FlyC-" and not running the checker. It used to work before. YAML checking works for me still, but the JSON got lost.

I have jsonlint:
[code]

I have `flycheck-checkers` set to the default value (I can verify it).

What else information should I report to hav

[2015-05-16 21:50] lunaryorn commented on #645
I'd like to see the output of `C-c ! C-c josn-jsonlint`.

[2015-05-16 22:18] chillum commented on #645
`user-error: Cannot use syntax checker json-jsonlint in this buffer`

I'm using json-mode and have used it before, when it worked.

[2015-05-16 22:34] lunaryorn commented on #645
The output of `C-c ! v` then, please.

[2015-05-16 22:37] lunaryorn commented on #645
@chillum I'm pretty sure that this is an issue in your configuration or system, by the way.  I don't remember any changes to the jsonlint checker in Flycheck recently, and jsonlint itself was last updated about a year ago.

[2015-05-17 08:25] chillum commented on #645
Hm, I found the problem: after update of Emacs for OS X to 24.5 something weird happens with `exec-path`.

Thanks for your help, this problem is really not related to Flycheck.

[2015-05-17 08:25] #645 closed

[2015-05-17 08:32] chillum commented on #645
As it appears now, this problem is related to the fact I updated OS X to 10.10 and launchd.conf is not anymore supported (I used it to set my PATH).

[2015-05-17 09:24] lunaryorn commented on #645
I would recommend to set `$PATH` in your shell configuration and then use the exec-path-from-shell package to copy it to your Emacs.

[2015-05-22 14:32] geraldus commented on #293
@lunaryorn can you clarify how can configure FlyCheck to look for packages database in `.cabal-sandbox/packages` folder for each haskell source file of project? I've tried to add `./.cabal-sandbox/packages` and `.cabal-sandbox/packages` but this is not works, flycheck reports following error:

[2015-05-22 15:20] lunaryorn commented on #293
@geraldus GHC wants a package *database*, not a directory of package files. But just use [flycheck-haskell](https://github.com/flycheck/flycheck-haskell), it does that for you.

[2015-05-22 15:28] geraldus commented on #293
@lunaryorn well, I have already `flycheck-haskell` installed, but `haskell-ghc` checker fails on my sandboxed project files:

[2015-05-22 15:29] lunaryorn commented on #293
Please check whether the module is actually installed, and if not, please open a separate issue on flycheck-haskell.  This is not the place to discuss this issue.

[2015-05-22 15:30] purcell commented on #293
@geraldus Check you also have:

[code]

[2015-05-22 15:33] geraldus commented on #293
@purcell I've missed this one, but adding this hook does not solve my issue :(

[2015-05-26 15:40] soonhokong opened #648 "cannot open a file when a long flycheck message is displayed"
Reproduce Steps
------------------------

1. Set up an example checker for text-mode:
[code]

2. Open a text file, turn on flycheck-mode. Place cursor on the first line, it shows the long flycheck error message.
    ![screen shot 2015-05-26 at 11 32 59 am](https://cloud.githubusercontent.com/assets/403281/7816224/fa2f365c-039a-11e5-82ee-e95703a2b256.png)

3. Open a CPP file (test.cpp) via `find-fi

[2015-05-26 16:40] lunaryorn commented on #648
@soonhokong

Please reproduce this issue in a clean Emacs session with `emacs -q`, to rule out an issues caused by other extensions and packages installed in your Emacs.  In particular, I'd like to avoid that your `lean-flycheck.el` library is loaded.

I mean no offense, because for much of what you do in it is wrong or broken or both, to a degree that if you had opened this issue with a lean file

[2015-05-26 16:46] lunaryorn commented on #648
@soonhokong Following your instructions, I failed to reproduce this issue in Emacs 24.5 and 25.1, using clean `emacs -Q` sessions.  Please verify that you are indeed able to reproduce this issue in `emacs -Q`.

[2015-05-26 17:10] soonhokong commented on #648
@lunaryorn, thanks for the suggestions for `lean-flycheck.el`. I'll work on them as soon as possible.

I can confirm that I can't reproduce the problem with `emacs -Q` either. There must be some configuration problems in my c++ mode setup.

[2015-05-26 17:40] lunaryorn commented on #648
I might be able to help with this if you could show me a backtrace for this error. You can obtain one by enabling debugging with `M-x toggle-debug-on-error`.

[2015-05-26 19:30] lunaryorn opened #649 "The old question of copyright notices"
Hello,

how do you handle copyright notices?

In Flycheck there's currently only one notice, listing myself, but this is grossly incorrect.  Significant parts of Flycheck—including most of the syntax checkers—were contributed by other people.  I'd like to fix this, but I'm unsure how.

I've taken the trouble to compile a comprehensive list of all copyright holders of Flycheck from the Git history

[2015-05-26 20:20] soonhokong commented on #648
@lunaryorn, I really appreciate your comments and suggestions. I understand your concerns and frustrations because sometimes I have similar feelings when I work on my own open-source projects.

As you may notice, I've made two commits to fix the two issues that you pointed out:

- [x] eval around flycheck-define-checker breaks byte compilation and scoping. Please use flycheck-define-command-checke

[2015-05-26 20:48] lunaryorn commented on #649
Also inviting @mickeynp: Sorry, I forgot you :)

[2015-05-26 21:11] abo-abo commented on #649
Great, problem solved.

Seriously, Github keeps track of the contributions [automatically](https://github.com/flycheck/flycheck/graphs/contributors), the link actually stands out better than if it were in a file.

And even in the distributed packages, there's always an URL back to Github. I only keep track of people who contribute without an Emacs copyright assignment, for those packages which are

[2015-05-26 21:17] dgutov commented on #649
Me too, pretty much. The two big projects (relatively speaking) I'm currently maintaining both have their copyright assigned to FSF.

[2015-05-26 21:27] bbatsov commented on #649
I generally mention only people with significant contributions to the projects (or files) in question. As you noticed, mentioning everyone who contributed to a big project will result in quite the copyright notice. I guess that's why projects like Emacs track the contributors separately.

[2015-05-27 03:55] thierryvolpiatto commented on #649
Oleh Krehel <notifications@github.com> writes:

I agree with this, and for people writing a big part of the code, just
add them to copyright.

--
Thierry
Get my Gnupg key:
gpg --keyserver pgp.mit.edu --recv-keys 59F29997

[2015-05-27 12:17] tarsius commented on #649
You omitted the @ in front of Malabarba, so I'll add that for you: @Malabarba :-)

[2015-05-27 14:43] Malabarba commented on #649
I agree with letting github take care of it. While mentioning in the code/readme people with larger  contributions. Though my experience with large contributions is very limited.

[2015-05-28 06:24] lunaryorn commented on #649
So you'd just use something like `Copyright (C) 2012-2015 Flycheck contributors, see AUTHORS`, and then add all contributors to AUTHORS?  Or even just link to https://github.com/flycheck/flycheck/graphs/contributors?

I can't deny that this seems very attractive, since it comes at no maintenance cost.  I'm unsure though if that's the “proper” way of doing things?

@tarsius Thank you :)

[2015-05-28 08:02] bbatsov commented on #649
Laws are different all around the world, so there's not a single proper way. Emacs itself is generally bound by the US copyright laws.

[2015-05-30 09:42] lunaryorn commented on #648
@soonhokong Sorry, I meant `lean-toggle-flycheck-mode`.  This command is entirely redundant with `flycheck-mode`, so you can safely remove it.

Please also remove `lean-flycheck-use`:  It's not a major mode's business to enable minor modes on behalf of some customization options.  If a user wants Flycheck they should enable Global Flycheck Mode explicitly, as per Flycheck's documentation.

And fin

[2015-05-30 13:09] lunaryorn opened #650 "Use curved quotes in all docstrings"
See https://github.com/emacs-mirror/emacs/commit/0fd5e6593af620863dcf90dff5d04631458e24cd

[2015-05-30 13:10] lunaryorn opened #651 "Use curved quotes in Flycheck Help buffers"
See https://github.com/emacs-mirror/emacs/commit/0fd5e6593af620863dcf90dff5d04631458e24cd

[2015-05-30 15:02] soonhokong commented on #648
@lunaryorn, thanks for suggestions. I'll definitely do another round of clean-up soon by following your suggestions.

[2015-05-30 15:15] soonhokong commented on #648
By the way, I found a way to reproduce the problem for which I opened this issue. I made sure that it can be reproduced with `emacs -q`. Here is the steps:

1. Open emacs with `-q` option. Save two text files, namely, `text1.txt` and `text2.txt`.
2. Copy & paste the following in a scratch buffer, and do `eval-buffer`.

[code]
3. Open `text1.txt`
![screen shot 2015-05-30 at 11 07 06 am](https://clo

[2015-05-30 15:20] tarsius commented on #649
I am pleased to see that we mostly seem to agree that it is not necessary to mention everyone's copyright explicitly in every library. Using either "Copyright MAIN AUTHOR" or "Copyright The contributors" doesn't cause anyone to complain but *changing* from an explicit list of all contributors to one of these alternative approaches does. Probably because it feels like something is being taken away

[2015-05-30 15:51] lunaryorn commented on #648
I'll take look then.  Reopening.

[2015-06-01 10:51] jonathanj commented on #590
@lunaryorn Sorry about the huge latency in replies. Manually being able to re-enable the checker is indeed an acceptable solution for me, thank you!

[2015-06-01 17:26] RyanKung commented on #618
After upgrade texinfo to 5.x, its builds fine.
And in osx, the emacs will always call makeinfo with path '/usr/bin/makeinfo', so you may need to   replace it manually.

[2015-06-01 18:05] lunaryorn commented on #590
Never mind, thanks for your feedback.  I'm happy that the issue is fixed for you!

[2015-06-03 13:36] Fuco1 opened #652 "New checker for phplint"
Hello.  I couldn't find an existing checker for the PHPLint tool (http://www.icosaedro.it/phplint/) so I created one at https://github.com/Fuco1/flycheck-phplint

Please check if I'm doing things right and if so we might transfer the repo under flycheck org (if you so desire).

Thanks :)

[2015-06-03 13:51] lunaryorn commented on #652
@Fuco1 I'd rather prefer to add the syntax checker to Flycheck itself.  If you agree, please open a pull request.  Reviewing is easier for me then.

[2015-06-03 14:00] lunaryorn commented on #652
And if you don't agree, keep the repo under your username and maintain it on your own.  I don't want separate repos for simple syntax checkers, that wouldn't scale.

[2015-06-03 14:00] lunaryorn commented on #652
Closing.

[2015-06-03 14:00] #652 closed

[2015-06-03 14:37] lunaryorn opened #653 "Move VM and provisioning code into a separate repository"
It's just too much hassle to maintain as part of Flycheck itself.

~~As part of this, we should probably rewrite the stuff in Chef, and get rid of the insane mess that is Ansible.~~

A Chef-based VM is now being maintained at https://github.com/flycheck/flycheck-vm

# Travis CI

And we should work on getting our Travis tests more stable, and only use Chef provisioning for the actual integration te

[2015-06-03 14:47] captainponky opened #654 "f90-mode fortran-gfortran: flycheck not highlighting symbols and not moving between errors"
Hi,

At least two features of flycheck, error highlighting and moving to next/previous errors, are not working for me in f90-mode for fortran code.
Several sensible errors and warnings are indeed displayed by flycheck in a minibuffer, but none of them are indicated either in the fringes or highlighted in the buffer. Also when I try to move between errors it reads "No more Flycheck errors".

Any id

[2015-06-03 14:48] lunaryorn commented on #654
@captainponky Do you see any errors in error list, i.e. `C-c ! l`?

[2015-06-03 14:52] captainponky commented on #654
No. The resulting buffer is empty.

[2015-06-03 15:01] lunaryorn commented on #654
@captainponky Then there's a bug in the definition of the Fortran syntax checker.

I can fix it, but I don't do any Fortran and have no clue of this language (the checker was contributed).  I'll need a *minimal* Fortran example (less than 10 lines if possible) from you that has an error which Flycheck doesn't show.

[2015-06-03 15:13] captainponky commented on #654
The following little program gives me all the problems I described. Flycheck displays the error in a minibuffer and any time with `C-c ! c` but nothing shows up with `C-c ! l`.
[code]

[2015-06-03 15:41] Fuco1 commented on #652
Right, I wasn't sure what the policy is when there seems to be a bunch of extra packages.  I'll turn it into a PR and get rid of the repo.

[2015-06-03 18:46] lunaryorn commented on #652
The default policy is to have all checkers in Flycheck.

Extra packages are only for checkers with special non-standard dependencies and/or much very language specific code, or for checkers that I specifically don't want to maintain as part of Flycheck because there are issues with the underlying tool.

[2015-06-04 23:03] captainponky commented on #654
I have had a look into what seems to be going on and find my error messages are output from gfortran in a different format than was the case in #414 which seems to have been the basis for the :error-patterns in flycheck now. By changing some periods to colons and getting rid of some newline characters in the :error-patterns I was able to get things working properly.

For clarity, by changing
[code

[2015-06-05 14:45] poulet-g opened #656 "Flycheck in C++11 mutex include"
Hello,
I get this code:
#include "test.hh"
#include \<mutex\>

Test::Test()
{
}

Test::~Test()
{
}

void Test::getVal() const
{
}

void Test::setVal(int val)
{
_val = val;
}

void Test::start(int val)
{
}
Then, when I include the mutex header flycheck send me an error but when I go to the mutex file in /usr/include/c++/4.6/ there is no one error.

[2015-06-05 19:06] lunaryorn commented on #656
*What* error?

[2015-06-05 22:57] poulet-g commented on #656
Indeed there is no error but the mutex include is underline in red :(

[2015-06-06 08:42] lunaryorn commented on #656
@poulet-g Please make a screenshot of the affected line, and show me the output of `C-c ! v` and `C-c ! l` from the affected buffer.

[2015-06-08 08:19] lunaryorn commented on #607
@dholm @mindbound I'm closing this issue due to the lack of activity.

[2015-06-08 10:35] #210 closed

[2015-06-08 10:35] #258 closed

[2015-06-08 10:35] #342 closed

[2015-06-08 10:35] #388 closed

[2015-06-08 10:35] #400 closed

[2015-06-08 10:39] lunaryorn commented on #615
@Ralith Closing as `wontfix`.  I'll not work on this myself.  Pull requests or patches welcome.

[2015-06-08 10:39] #615 closed

[2015-06-08 17:11] xuxiangyang opened #657 "custom setting not work(error highlight can not only with underline, can not set check automatically)"
Hi, flycheck was added to gnu eamcs-24.5. I upgraded 24.3 to 24.5, and changed flymake with flycheck.

But I was stuck with the error/warning highlight , I want to highlight with underline, I changed the flycheck-error face with emacs customize，but It not work.

And as soon as input a word, flycheck highlight some error, such as, I input left bracket, flycheck highlight    all the right words. I i

[2015-06-09 08:47] lunaryorn commented on #657
@xuxiangyang I'm sorry but I fail to understand what this issue is about.

Your face customizations *did* work apparently:  As you can see in your screenshot, the highlighting uses underlines now (whereas in the default style, it'd use wave underlines).  If you want to have only underlines and no color, you need to remove the background and foreground colors, too.

I don't understand why you chang

[2015-06-09 08:59] xuxiangyang commented on #657
sorry, I am a newer for emacs, I can not understand flycheck manual, because It does not look like emacs wiki. The manual only tell what the variable or face mean, but I can not change it with elisp，emacs wiki would tell me how to write elisp.
I try very hard to custom flycheck, but I failed.

sorry, I will close the issue, read manual again

[2015-06-09 08:59] #657 closed

[2015-06-09 11:10] lunaryorn commented on #657
@xuxiangyang I *do* expect that you are generally familiar with customizing and using Emacs.  I'm sorry, but I do not have the time to teach you Emacs.  Please walk through the Emacs tutorial and read the Emacs manual, specifically the section on [Customization](http://www.gnu.org/software/emacs/manual/html_node/emacs/Customization.html#Customization).

If you have *specific* questions about Flych

[2015-06-09 16:43] Nuk9 opened #658 "flycheck cannot step into directories"
For the following emacs init.el:

    (add-to-list 'load-path (expand-file-name "lisp" user-emacs-directory))
    (require 'init-benchmarking) ;; Flycheck gives error: Cannot open load file: init-benchmarking

The file tree looks like this:

    ~/.emacs.d/init.el
    ~/.emacs.d/lisp/init-benchmarking.el

Seems flycheck is not stepping into `lisp` directory and find `init-benchmarking.el` file. Is

[2015-06-09 17:14] lunaryorn commented on #658
@Nuk9 Yes.  Flycheck does not automatically inherit `load-path`, because that is usually not desired while developing Emacs Lisp packages.   Instead it maintains its own load path setting for Emacs Lisp, in `flycheck-emacs-lisp-load-path`.  Please read the docstring of this variable for more details.

And please do read the Flycheck manual, for this case specifically the [Emacs Lisp](http://www.fl

[2015-06-09 17:14] #658 closed

[2015-06-09 18:55] #649 closed

[2015-06-09 19:02] lunaryorn commented on #649
I've settled for the simplest solution.  The copyright notice now says `Sebastian Wiesner and Flycheck contributors`—my name is mostly just there to make `copyright-update` work.  I won't maintain a generated AUTHORS.md file—I don't think it's worth the effort.  In case anyone is interested in a list of all code contributors they just have to use `git shortlog` or look at Github.

I'll maintain `C

[2015-06-10 13:02] stsquad opened #659 "Hard to setup complex include paths for flycheck-clang projects"
I'm trying to improve my use of flycheck-clang with QEMU. The problem is the build includes multiple target binaries and multiple source directories. I've tried manually adding include paths, e.g:

    (setq flycheck-clang-include-path '("./include/" "./aarch64-softmmu/" "./target-arm/"))

However this falls down as you go into sub-directories so the pathes need to be relative to the project root.

[2015-06-10 14:42] lunaryorn commented on #659
@stsquad The paths are not relative to the project root.  That's documented, actually.  You need to use absolute paths, ideally via `.dir-locals.el`—which is how these options are intended to be used.

Alternatively add a hook to C Mode which automatically computes the absolute include paths by resolving the relative paths against the project root (which you could obtain from Projectile, for insta

[2015-06-10 14:42] #659 closed

[2015-06-10 15:19] jasonkuhrt commented on #447
This no longer works, I'm not sure why.

[2015-06-10 15:43] stsquad commented on #659
OK I'm getting there. You can build a compilation database with a tool called bear:

    ./configure <blah>
    bear make

And then check any file using clang-check:

    clang-check cputlb.c

So I've started adding another flychecker type:

    (flycheck-define-checker c/c++-clang-check
      "A C/C++ syntax checker using Clang.

    See URL `http://clang.llvm.org/'."
      :command ("clang-check

[2015-06-10 16:15] lunaryorn commented on #659
@stsquad  `source-original`.  And read the documentation, please.

[2015-06-10 16:28] stsquad commented on #659
@lunaryorn it took some finding, I figured it out from the source eventually. pull req incoming.

[2015-06-10 16:47] lunaryorn commented on #659
@stsquad It's in the docstring of `flycheck-substitute-argument`, isn't it?

[2015-06-10 16:52] stsquad commented on #659
@lunaryorn it is, but I missed it from the flycheck-define-checker info. I'll have to re-read because something has gone wrong...

[2015-06-13 07:52] spacemoose opened #662 "How to ignore a specific warning"
Just trying out flycheck, and find it awesome.  Thanks for the great work.

Regarding my issue:  Concretely, I get a warning (both gcc and clang) "#pragma once in main file" for all my header files that are included in a file providing main.  This is incorrect, and from googling around seems to be a clang/gcc issue.

I would like to disable the warning -- have flycheck ignore this warning, and pot

[2015-06-13 17:59] expez opened #663 "javascript-eslint on jsx file"
Hey

There's a bunch of tutorials about setting up eslint for React lying around, like [this one](http://codewinds.com/blog/2015-04-02-emacs-flycheck-eslint-jsx.html).

When I try I just get:

`user-error: Can't use syntax checker javascript-eslint in this buffer`.

The error message makes me think that you're gonna find this issue annoying, as you've labeled this as a user error.  Given that othe

[2015-06-14 07:31] lunaryorn commented on #663
If you have issues with instructions in a particular blog post, please ask the author of that post for help.

I'll try to improve the error message, but ultimately it's just how it says:  you're trying to enable the checker in a buffer which it doesn't support.  Why that happens is hard to say from your code snippet, as it's obviously not complete (where do you call this hook function?)

I'll need

[2015-06-14 08:57] lunaryorn commented on #662
You can't.  Flycheck does not have its own way to ignore warnings, but relies on syntax checker to be able to ignore warnings on their own.

In other words,  you'll need to find Clang's warning flag responsible for this warning, and add it to `flycheck-clang-warnings` or `flycheck-clang-args`.  It's a Clang issue really, so closing.

[2015-06-14 08:58] #662 closed

[2015-06-14 09:04] expez commented on #663
How does flycheck determine this?  As you probably know eslint is a pluggable linter so the set of linters supported isn't static.

As part of `js2-mode-hook`, but just calling `(flycheck-select-checker 'javascript-eslint)`.

This is my flycheck related config:

[code]

They're all using `web-mode`, (though that gave me the same error). I'd like to use js2-mode for React code.

[2015-06-15 07:33] lunaryorn commented on #663
@expez Flycheck looks at the major mode and other things, depending on the specific syntax checker.  For eslint, it's any of JS Mode, JS2 Mode or JS3 Mode.  The message hence tells you that you are trying to enable eslint in an unsupported major mode.

I'd like to see the output of `C-c ! v` in that buffer then.

[2015-06-15 08:40] expez commented on #663
The problem was with the path to the executable, which was located locally in `node_modules/.bin` instead of being installed globally and on path.  This was obvious after learning about `C-c ! v`.  Thanks for your help!

[2015-06-15 08:40] #663 closed

[2015-06-16 18:37] omps commented on #635
Hi Lunaryorn,

I am facing similar issue with the my emacs.

i am using
Flycheck version: 0.24snapshot (package: 20150612.235)

and python version
Python 2.7.6

[2015-06-16 18:45] lunaryorn commented on #635
@omps That's a different problem, so please open a separate issue.  But before doing so, please check that `flake8` is generally working on your system.

[2015-06-18 16:51] ac0x opened #664 "false positive "xxx.h file not found" error"
My source folder structure is as below:

CMakeLists.txt
main.cpp
foo/
   - foo.h
   - foo.cpp
bar/
   - bar.h
   - bar.cpp

and flycheck reported "foo/foo.h file not found" in the "bar/bar.h"

am I missing sth?

[2015-06-18 17:37] lunaryorn commented on #664
You have to setup the include paths correctly, obviously. Flycheck can't know that `foo.h` is supposed to be `foo/foo.h` from `bar.h`, and it doesn't read CMake build settings automatically.

Take a look at `flycheck-clang-include-path` and `flycheck-gcc-include-path` respectively.

[2015-06-18 17:37] #664 closed

[2015-06-18 17:39] lunaryorn commented on #656
@poulet-g Do you have any difficulties to execute the commands that I asked for?

[2015-06-18 18:12] poulet-g commented on #656
Sorry it seems to be are the highlighter which is buggy.

[2015-06-18 18:18] lunaryorn commented on #656
I'm sorry but I can't follow you… please provide the output of the commands I've asked for and a detailed description of the issue.   Otherwise I'll be unable to help you.

[2015-06-18 18:25] poulet-g commented on #656
it seems that it s not the flycheck plugin which is bugging I m sorry about that.

[2015-06-18 18:46] lunaryorn commented on #656
I'm closing this issue then.

[2015-06-18 18:46] #656 closed

[2015-06-19 13:10] ac0x opened #665 "How to specify dir to the search path for the include files (for c/c++)"
My source folder stucture is as below:

CMakeList.txt
foo/
    -- foo.h
    -- foo.cpp
bar/
    -- bar.h
    -- bar.cpp

In bar/bar.h, I include "foo/foo.h", but flycheck reported "foo/foo.h file not found".
It seems flycheck doesn't know from where to locate header files, so how to add the search path of header files to flycheck?

[2015-06-19 13:22] lunaryorn commented on #665
@ac0x  The [Flycheck manual](http://www.flycheck.org/manual/latest/Supported-languages.html#index-Language_002c-C_002fC_002b_002b) has a comprehensive list of customization options for C/C++ syntax checking, including those options that set the include paths for C/C++.

Please be aware that you can also comment on closed issues in case of further questions, in which case I can reopen the issue, an

[2015-06-19 13:50] Eilie opened #666 "Pop-up is messed up"
For some reason flycheck compilation error popup can't be displayed over text so it chooses to add each line of compilation error popup at the end of existing line:
![](http://i.imgur.com/ETbqtzl.png)

Maybe i've built my emacs without some important use flag for this to work properly?

[2015-06-19 14:15] lunaryorn commented on #666
@Eilie I do not know.  Flycheck has no such popup.  It's an issue in flycheck-pos-tip or flycheck-popup, whichever you're using of these.

Closing as invalid.

[2015-06-19 14:15] #666 closed

[2015-06-20 15:25] ac0x commented on #665
@lunaryorn Thanks. I just noticed that I can specify include paths relative to the file being checked.

If having at most one directory level for sources (like me), a crude but simple solution is as below:

[code]

[2015-06-20 15:39] geraldus opened #667 "Haskell GHCJS support"
Hi Sebastian!  I want Flycheck to support GHCJS.  It's a Haskell to JavaScript compiler.

It has it's own package database, there is a `ghcjs-pkg` executable which is replacement for `ghc-pkg`.   There is a `ghcjs` compiler, which can be used instead of `ghc` to compile separate files, and `cabal-install` tool have GHCJS support since version 1.22.0.0.  Can you give some instructions how to put al

[2015-06-21 11:35] lunaryorn commented on #667
@geraldus You could try to set `flycheck-haskell-ghc-executable` to `ghcjs`, presuming that it is sufficiently compatible with GHC.  If it's not you'll have to write a custom syntax checker for it.  Take a look at the Flycheck manual, and the existing syntax checkers.

[2015-06-21 11:55] geraldus commented on #667
@lunaryorn super cool! I've set `flycheck-haskell-ghc-executable` to `ghcjs` via **.dir-locals.el** file and it works like a charm so far!  Thank you.

[2015-06-21 11:55] #667 closed

[2015-06-24 08:17] #665 closed

[2015-06-24 08:24] ac0x commented on #664
This is a duplicate of issue #665

[2015-06-25 11:47] P-Seebauer opened #670 "Switch checker javascript-eslint back to reading from stdin"
Eslint has a [`--stdin-filename`](
http://eslint.org/docs/user-guide/command-line-interface#stdin-filename) option since version [0.21.0](
https://github.com/eslint/eslint/releases/tag/v0.21.0) (released on May 9th, so quite new).
Maybe it is possible to switch back to reading from stdin instead of creating a file and reading from there for the checking? With this option, the reasons for not readi

[2015-06-25 12:17] lunaryorn commented on #670
I'm not sure why you think that Flycheck used to feed eslint via standard input.  That was never the case.  Flycheck always passes files to syntax checkers, because Emacs 24.x does not support standard input for asynchronous process—I hope that this changes in Emacs 25 (see #622), but currently it's just not possible.

Hence I don't know how I'm supposed to add this option to Flycheck.

[2015-06-26 07:04] #670 closed

[2015-06-26 07:04] lunaryorn commented on #670
Closing as `wontfix`.

[2015-06-26 07:09] lunaryorn commented on #670
Flycheck can't use standard input.  Rest assured that if it could, I'd have done that, but Emacs does not easily support standard input for asynchronous processes.  It might be possible—probably via comint, I don't know—but it's convoluted and hacky and probably not worth the (serious) effort.

[2015-06-26 21:02] drvink opened #672 "User-provided verification functions are ignored by flycheck-define-command-checker"
`flycheck-define-command-checker` does not use what the user provides for `:verify` and instead always uses `flycheck-verify-command-checker`, which only checks for the executable the user provided as the `:command`.  However, the documentation for `flycheck-define-command-checker` specifically states that the user can provide a custom `:verify` function, and that they should be sure to call `flyc

[2015-06-26 21:10] P-Seebauer commented on #670
Okay, thanks for the request. I might look into it. I think with `process-send-string` it might be achievable.

[2015-06-27 16:23] lunaryorn commented on #672
@drvink Ah, thanks for reporting.  I'll fix it, but I'd like to know whether this flaw blocks you in some way.  If not, I'd tackle some other things first, which I think are more important than this one—few people actually use custom verification functions, I regularly need to point authors of generic checkers to this debugging tool.

[2015-06-28 19:41] ReneFroger commented on #448
Thanks for the future reference, it helped me a lot now.

[2015-06-28 23:24] drewwells commented on #503
This would be a terrific improvement. Another missing option is `-i` which installs dependent packages during build.

[2015-06-30 08:50] drvink commented on #672
Sorry for the delay in replying--it's not a blocker, no worries!

[2015-06-30 14:29] Ladeburger opened #675 "Problem in parsing Puppet Messages"
This the parser for puppet doesnt catch all error Statements, the Message in the Log is:
`Suspicious state from syntax checker puppet-parser: Checker puppet-parser returned non-zero exit code 1, but no errors from output: Error: Could not parse for environment jahe_dev: Syntax error at 'stage' at /tmp/flycheck19432d0B/init.pp:16:9`

The Error could be triggered by the following Statement:

    cla

[2015-06-30 17:01] lunaryorn commented on #675
I'll fix it eventually but it doesn't have high priority for.  If you'd like to have it fixed quickly, you'll have to do it yourself and open a pull request.

[2015-06-30 21:56] phst opened #676 "go-build: bug if there are multiple packages in a directory"
If a directory contains files belonging to more than one package (e.g. one file `package a` and one file `package b`), the go-build checker barfs:

[code]

[2015-06-30 22:04] phst commented on #676
Actually I think that instead of adding a new error pattern the checker command could just be replaced by

[code]

to compile only a single file.

[2015-07-01 09:47] lunaryorn commented on #676
@phst I do not know go, but I was under the impression that there is just one go package per directory.  Is it common for multiple go packages to be in the same directory?

[2015-07-02 11:28] iainbeeston opened #677 "Support for scss-lint semantic exit codes"
I have flycheck set up to lint scss files with scss_lint. Everything seems to be running correctly, however, flycheck is showing an error:

[code]

Looking at the [scss-lint documentation](https://github.com/brigade/scss-lint#exit-status-codes), it seems that it will return a status of 0 for no problems, 1 for warnings and 2 for errors. It looks like flycheck is parsing the output correctly, but b

[2015-07-02 13:24] lunaryorn commented on #677
I'm not sure.  Can you show me an example file that triggers this error, and tell me your scss-lint version?  Ideally, run `C-c ! C-c` in an affected buffer and show me the entire output.

Thanks

[2015-07-02 20:32] thelema opened #678 "rfringe integration"
Would be nice to have rfringe integration with flycheck.  I'm not experienced enough with emacs to write myself, or would be sending pull request.  Here's what it could look like (pulled from http://emacswiki.org/emacs/FixmeMode request for rfringe support): http://imgur.com/RqBj7.png

There is example integration in rfringe for flymake:
[code]

Maybe I just need help translating this for flycheck

[2015-07-03 09:37] iainbeeston commented on #677
Ok, given this file (foo.scss):

[code]

I get the following output from `C-c ! C-c`:

[code]

The output in the messages buffer is similar:

[code]

Running scss-lint in the terminal I can see that the exit code was also 1:

[code]

I'm using ruby 2.1.5, scss-lint 0.40.1, scss_lint_reporter_checkstyle 0.1.0 and flycheck 20150626.1527 (from melpa)

[2015-07-03 11:16] lunaryorn commented on #678
@thelema Based on your example, I've come up with [flycheck-rfringe.el](https://gist.github.com/lunaryorn/c5e0e0885c29d234b0f8).  I didn't test it, though, and I'll neither fix nor maintain it.

I'm sorry, but I do not want to be bothered with EmacsWiki packages with no proper code repository, no proper issue tracking, and above all no responsible maintainer.

Feel free to use it, or make your own

[2015-07-03 11:16] #678 closed

[2015-07-03 11:17] lunaryorn commented on #678
PS: If you'd like to use that library, please make a copy of it somewhere, on Github, in the EmacsWiki or in any other place you like.  I tend to clean up my Gist every once in a while, and might then delete this Gist.

[2015-07-03 20:54] #653 closed

[2015-07-03 21:27] lunaryorn commented on #677
@iainbeeston Thanks, I'll take a look.

[2015-07-03 21:31] lunaryorn commented on #654
@captainponky I'll fix it some day, but I do not use Fortran, so I'm neither in the best position to fix this issue, nor does it have a high priority for me—on the contrary.

Patches and pull requests would be very welcome.

[2015-07-03 21:37] lunaryorn opened #679 "Rework food-critic"
The food-critic syntax checker currently suffers from some issues, notably #631 and #626, and some other nuisances.

We need to find a way for food-critic to properly lint recipes and `metadata.rb`, and we need to improve the `:predicate` to strictly limit food-critic to recipes and related files.  Additionally, we should probably chain food-critic to rubocop, to have ruby-linting as well.

[2015-07-03 21:37] lunaryorn commented on #631
Closing in favour of #679

[2015-07-03 21:37] #631 closed

[2015-07-03 21:38] lunaryorn commented on #626
Closing in favour of #679

[2015-07-03 21:38] #626 closed

[2015-07-03 21:38] lunaryorn commented on #679
Ideas, feedback and above all patches and pull requests are very welcome.

[2015-07-03 21:38] #650 closed

[2015-07-03 21:39] lunaryorn commented on #650
Emacs upstream dropped this feature again…

[2015-07-04 08:45] thelema commented on #678
I understand your hesitation to be bothered by packages like rfringe, and appreciate your willingness nonetheless to try and create something to fill this gap.  I'll try it out and if I have any problems, I understand I'm not to bother you with them.

[2015-07-04 08:52] lunaryorn commented on #678
@thelema If you have any issues or questions, or need help, I'd recommend you to ask at https://emacs.stackexchange.com.

[2015-07-04 15:00] lunaryorn commented on #677
@iainbeeston I failed to reproduce this issue:

![bildschirmfoto 2015-07-04 um 16 39 14](https://cloud.githubusercontent.com/assets/224922/8508298/47a2f74a-226b-11e5-908e-14eebe0d04d3.png)

scss_lint_reporter_checkstyle is 0.1.0, as is yours.  As you can see, Flycheck correctly highlights the error in the buffer and shows it in the error list.

I must admit that I'm at a loss.  I have no idea what

[2015-07-04 20:07] phst commented on #676
It's not common, but possible. Flycheck might either choose to not support this use case (then the error pattern should be fixed to detect the situation), or support it (then the go tool requires an explicit file name argument).

[2015-07-04 20:18] phst commented on #676
However, my suggestion wouldn't work out of the box if the package consists of more than one file. Maybe just give up if a directory with multiple packages is detected? Otherwise this would require parsing all Go files in the current directory to find out to which package they belong.

[2015-07-05 11:08] #672 closed

[2015-07-05 11:11] lunaryorn commented on #672
@drvink Fixed, thank you for reporting.  I also added `:verify` functions to some built-in checkers for better debugging.

[2015-07-06 10:47] lunaryorn commented on #676
@phst I think I'm the wrong person to discuss.  I can't contribute any ideas, because I do not know Go, and I'll not fix this issue by myself, because fixing a corner case for a language that I neither know nor intent to ever use is not a priority for me.  Whatever the fix turns out to be, you or someone else has to come up with a pull request or patch.

All that I can do is to set the basic requi

[2015-07-06 14:42] vlatkoB commented on #638
Would be nice to change it so it looks for `HLint.hs` file in the project root directory, which is the standard, IIRC.
Just tested this code, and it works OK.
[code]
Or to run it from project root, so `hlint` can pick up `HLint.hs` by itself.

As per extensions, `ghc-mod` has `ghc-hlint-options` for hlint args, so maybe something similarly named.

(Also maybe change `haskell-ghc` checker to `:comm

[2015-07-06 15:33] lunaryorn commented on #638
What does `Hlint.hs` do?   If it is some kind of configuration file for Hlint, then please change your code to use the infrastructure that Flycheck provides for this purpose.  See `python-pylint` for an example.

Besides, a pull request would help.  I'm fine with `haskell-hlint` as it is now, and while I see the need for options for language extensions and will add them eventually, I do have more

[2015-07-06 15:47] lunaryorn commented on #648
@soonhokong I've tried but I failed to reproduce in Emacs 25.1, with `emacs -Q` and your [recipe](https://github.com/flycheck/flycheck/issues/648#issuecomment-107051995), using the latest Flycheck version on MELPA.

If you still see this issue, please follow my [advice from above](https://github.com/flycheck/flycheck/issues/648#issuecomment-105614768), and enable the debugger to obtain a backtrace

[2015-07-06 18:01] vlatkoB commented on #638
Yes `HLint.hs` is a configuration file for hlint, and it is placed in project root. It can be specific for each project. It is the file that you specify what to report/ignore. Small example:
[code]
I'll take a look at `python-pylint`. Thanks for the tip.

It was just a proposal for the name of var that would allow proper customization of `hlint` in `flycheck`. I think geraldus was thinking about s

[2015-07-06 20:23] geraldus commented on #638
@vlatkoB hi!  I still does not know is it possible to enable extensions per project for HLint via `HLint.hs`, maybe you know?

Yes, it is.  But tweaking a bit default `haskell-ghc` seems better solution for me (I'm still unfamiliar with most GHC's options and can't be certain about flags used in **wedens** version).  Also, in some cases Flycheck does not report error messages, but I still have no

[2015-07-06 21:49] vlatkoB commented on #638
@geraldus Think extensions can't be specified by `HLint.hs`.
I made some simple code that seems to work correctly. It allows customizing any `hlint` arg, so maybe it might be possible to specify options locally via `projectile` or `.dir-locals.el`.
[code]
This is just a draft, but you can try it by yourself.

 @lunaryorn Would something like this be acceptable?

[2015-07-06 22:54] farrellm commented on #607
Yes, ESS sets a buffer local variable ```ess-language``` that gives the language of the buffer. In particular, it is set to "S" for R buffers and "julia" for Julia buffers.

[2015-07-07 03:29] robbyoconnor opened #680 "No checker for Jade"
There does not seem to be any support for [jade](http://jade-lang.com), and I am curious why this is the case. Should I write it, or is there a rationale behind why it does not exist and not spend the energy of writing it only to have the PR rejected. I just wanted to open a dialogue.

[2015-07-07 03:40] robbyoconnor commented on #680
Going to do a PR (pending)

[2015-07-07 07:32] lunaryorn commented on #680
@robbyoconnor There's no rationale other than that none has yet bothered to write a syntax checker for it. I don't even know what Jade is.

[2015-07-07 07:34] lunaryorn commented on #607
@farrellm Thanks, but that's not needed.  I'll just re-open this one.

[2015-07-07 11:11] robbyoconnor commented on #680
[Jade](http://jade-lang.org) -- it's a templating language used in node.js web apps

[2015-07-08 07:22] dbitouze opened #681 "Symbol's function definition is void: flycheck-checker-option-vars"
Hi,

here is the context:

* `M-x flycheck-verify-setup` gives:
[code]
* `M-x flycheck-version` gives:
[code]

After updating `flycheck` yesterday, I'm facing the following error when trying to update the `emacs` packages:
[code]
I tried the procedure given in the similar issue https://github.com/flycheck/flycheck/issues/534 (recompile all my packages, with `M-x byte-recompile-directory RET ~/.ema

[2015-07-08 09:10] lunaryorn commented on #681
@dbitouze Oh.  I'm not sure what the issue is,  but can you please try to completely remove Flycheck, and then reinstall it again?

[2015-07-08 09:17] lunaryorn commented on #681
Besides, your `M-x emacs-version`?

[2015-07-08 13:29] dbitouze commented on #681
`M-x emacs-version` returns:
[code]
And, unfortunately, I can't remove `flycheck`: each time I press `d` on the corresponding line in the *Packages* buffer, the cursor goes on the next line :(

[2015-07-08 13:30] lunaryorn commented on #681
@dbitouze Remove the `flycheck-...` directory in `package-user-dir` and restart Emacs.

[2015-07-08 13:41] dbitouze commented on #681
I haven't such `package-user-dir` directory. But:

[code]
Should I remove all the `~/.emacs.d/elpa/flycheck-*` directories?

[2015-07-08 14:56] lunaryorn commented on #681
I meant the path referred to by the Emacs _variable_ `package-user-dir`, i.e. what's in `C-h v package-user-dir`.  I'm sorry for the confusion.

Yes, please remove all directories, restart Emacs, and then install Flycheck and Flycheck Ledger again.

[2015-07-08 15:05] dbitouze commented on #681
That did the trick: thanks!

[2015-07-08 15:25] lunaryorn commented on #681
You're welcome, thanks for reporting.

[2015-07-08 15:25] #681 closed

[2015-07-09 10:17] iainbeeston commented on #677
Something that does seem odd is that if I run `flycheck-verify-setup` it seems flycheck is using ruby 2.2:

[code]

If I run `shell-command ruby -v` it seems I'm using ruby 2.0 (system ruby in my case):

[code]

But if I exit emacs and run `ruby -v` in my working directory (I use emacs from the shell, not a GUI version) I get ruby 2.1.5:

[code]

The `scss_lint` and `css` executables for ruby 2.1.

[2015-07-09 11:20] lunaryorn commented on #677
I don't now.  Flycheck itself doesn't care for your Ruby version, it just picks the first `scss-lint` in `exec-path` (which is Emacs' equivalent to `$PATH`).  I don't know where this confusion about Ruby versions in your Emacs comes from.  Do you have any RVM extensions or similar things in your Emacs?

[2015-07-09 12:49] mrkkrp opened #683 "Flycheck can't find third party installed packages (Emacs Lisp)"
Maybe I just don't know how to configure it, it seems Flycheck doesn't see packages installed via standard package manager. When I write `(require 'some-package)` I get this message in the minibuffer:

First line containing `require` is underlined and I don't see information about the rest of my code. Can you please tell me how to fix this? I'm sure it's not a bug, since problems with Emacs Lisp i

[2015-07-09 12:53] mrkkrp commented on #683
Should I use Cask to let Flycheck know where the packages are? I'm not sure.

[2015-07-09 13:30] lunaryorn commented on #683
By default Flycheck checks Emacs Lisp files in a clean environment.  You can change the load path for Flycheck with the option `flycheck-emacs-lisp-load-path`, or tell Flycheck to load your installed packages with `flycheck-emacs-lisp-initialize-packages`.  Please take a look at the docstrings of these options for more information.

If you're using Cask, you can install [flycheck-cask](https://git

[2015-07-09 13:41] iainbeeston commented on #677
Ah ok - that's the clue I needed (thanks!).

I'm setting `exec-path` via [exec-path-from-shell](https://github.com/purcell/exec-path-from-shell) (via [prelude](https://github.com/bbatsov/prelude)). That was loading the default ruby version because it wasn't launching an interactive shell, and I had configured my ruby loader to start only in an interactive shell. Moving my ruby loader further up th

[2015-07-09 13:41] #677 closed

[2015-07-09 13:43] lunaryorn commented on #677
@iainbeeston Never mind, I'm glad that I was able to help you, and I'm happy to hear that you could solve the issue.

Thanks for your report and for your feedback!

[2015-07-09 14:18] mrkkrp commented on #683
Thank you very much! This solves my problem. As always, Flycheck is awesome!

[2015-07-09 14:18] #683 closed

[2015-07-09 19:38] #607 closed

[2015-07-09 19:39] lunaryorn commented on #607
@mindbound @farrellm I added a `:predicate` which checks the value of `ess-language` and only uses `r-lintr` if the language is `S`.

Thanks for reporting this issue, and for helping me out to fix it!

[2015-07-12 15:25] lunaryorn commented on #651
Emacs upstream seem to have abandoned this idea…

[2015-07-12 15:25] #651 closed

[2015-07-12 15:26] #571 closed

[2015-07-13 14:28] acr4 opened #685 "Support -I option to verilator"
Pull request here:  https://github.com/flycheck/flycheck/pull/684

This patch provides support for -I (include directories) for verilator, so that `include statements and module instantiations parse correctly

[2015-07-13 14:56] lunaryorn commented on #685
Closing as duplicate.  I'll review the Pr but there's no need to open a separate issue for it.

[2015-07-13 14:56] #685 closed

[2015-07-14 07:56] lunaryorn commented on #680
Oh, please excuse that I did not answer your edit to tie last comment.  GitHub does not send notifications for edits hence I simply missed it.  Please do not use edits to add information to your comments.  Instead, just write a new comment.

Generally I reserve the right to refuse and close pull requests and issues at my own discretion.  You open PRs at your own risk. I will look at #686 but I don

[2015-07-14 08:00] lunaryorn commented on #680
Ok let's continue this discussion here, the other issue that you opened is really redundant.

[2015-07-14 08:04] lunaryorn commented on #680
Adding to my previous comment:  I will not close a pull request only because I don't know a language.  That's never been a criterion for me and I only know probably half of the languages that Flycheck supports.

[2015-07-14 09:32] robbyoconnor commented on #680
This arose out of a need I had -- I wanted to implement it -- it seemed (to me at least) that you had no interest in implementing this (and that's not a problem) -- I wanted it, I made it happen...yay FOSS :smile:  -- What was the issue with my PR?

[2015-07-14 09:47] robbyoconnor commented on #680
Should I extract this into a separate package -- This is something I believe others would benefit from and I'd **LOVE** it to be part of the core of flycheck, but am just confused...I mean **ZERO** disrespect

[2015-07-14 12:04] lunaryorn commented on #680
Please consider all that I said above irrelevant.  I didn't realize that #686 was a pull request.  I'm really really sorry.

Closing this one, I'll review #686 and merge ASAP.  Looks really good, many thanks for your contribution!

[2015-07-14 12:04] #680 closed

[2015-07-14 23:55] acr4 commented on #589
PR #687 submitted to resolve this issue (sorry for the double post, just being thorough)

[2015-07-15 05:30] lunaryorn commented on #589
Closing this one as duplicate then.

[2015-07-15 05:30] #589 closed

[2015-07-15 10:13] drkg4b opened #688 "Flycheck hangs on errors in include files from third party"
Dear developers,

I'm facing an issue that is preventing flycheck to do his job on a c++ project I'm working on. I'm new to using it (just installed it few days ago) and after a few googling I managed to solve the first problem I had, the hanging at the first include due to "include file not found" by adding this to my init.el

[code]

I'm using [ROOT](https://root.cern.ch/drupal/) in my project a

[2015-07-15 10:13] mruegenberg opened #689 "Easier include directories for C++ code"
It would be great to have an easier way of adding C++ include directories, especially per-project.

I'm currently working on an OpenFrameworks project and had to more or less manually find 20-30 include directories and add them to `flycheck-clang-include-path`. The required information should be mostly contained within my Makefile.

Alternatively, I'd appreciate pointers on how to just ignore some

[2015-07-15 16:38] lunaryorn commented on #688
Flycheck can't guess we're your include files are.  You need to configure Flycheck accordingly.  Specifically look at `flycheck-clang-include-path`.

[2015-07-15 16:42] lunaryorn commented on #689
I'm not sure what you're after with this issue.  Do you have any concrete proposals for how this "easier way" would look like?

Besides you may want to take a look at MELPA and GitHub.  There are some extensions like Flycheck Irony that supposedly simplify and improve the user experience in C/C++ projects.

[2015-07-16 05:04] jralls opened #690 "Help with setting flycheck-clang-include-path using dir-locals-set-class-variables"
This question is as much about emacs-lisp as about flycheck, but it's flycheck that's making me crazy.
As I'm sure you know, dir-locals-set-class-variables takes a nested alist that looks something like:
((nil . ((flycheck-clang-include-path . ((list "/home/john/foo" "/home/john/bar"))))))

I've tried several variations on that theme -- I really want to defvar something with the paths so than I ca

[2015-07-16 08:34] lunaryorn commented on #690
@jralls Use `M-x add-dir-local-variable` and take a look at the result.  In particular, note that `.dir-locals.el` contains _literal_ lists, whereas your example shows that you are trying to call the `list` function, which does not work on `.dir-locals.el`.

If you have further questions about directory variables, please ask at http://emacs.stackexchange.com.

[2015-07-16 08:34] #690 closed

[2015-07-16 10:01] sandroden opened #692 "flycheck-pylint with python virtualenv"
Hi, thanks for this wonderful peace of code that worked just fine out of the box!

I can't understand if it's possible to force flycheck  to use a  specific virtualenv for pylint. I get import errors due to the fact that it doesn't seem to use my virtualenv.

I also opened a question on [stackoverflow] (http://stackoverflow.com/questions/31443527/how-can-i-make-flycheck-use-virtualenv) with some m

[2015-07-16 10:21] drkg4b commented on #688
Hi,

thanks for the reply but shouldn't this line `(setq flycheck-clang-standard-library "libc++")` be taking care of including everything from the standard library?

[2015-07-16 10:50] lunaryorn commented on #692
You can set `flycheck-python-pylint-executable` to point to a `pylint` executable inside a virtualenv.  Other than that, Flycheck provides no special support for virtualenvs.

[2015-07-16 10:50] #692 closed

[2015-07-16 10:55] lunaryorn commented on #688
@drkg4b Probably.  I do not know C++ sufficiently enough to answer this question.  In doubt, use `C-c ! C-c c/c++-clang` and look at the actual command that Flycheck uses.

You can add arbitrary flags to `flycheck-clang-args` and `flycheck-gcc-args` respectively, and with a little Emacs Lisp glue it should be easy to automatically fill these variables from your `root-config` tool.

Please _do_ rea

[2015-07-16 10:58] robbyoconnor opened #693 "Jade checker not working"
@lunaryorn -- is there anything in the Jade checker submitted and recently merged in #686 that would cause it to fail  -- I see nothing but maybe you have more insight than I do-- I want to believe that it's not broken -- and am working to fix it ASAP.  I find it **egregious** that it is broken -- not even sure it IS broken...

[2015-07-16 11:43] drkg4b commented on #688
@lunaryorn Yes I did the same just to check what's happening. I think the problem is not there though, I attach a screenshot:
![flycheck_issue](https://cloud.githubusercontent.com/assets/12746814/8721948/c29638e2-2bbf-11e5-8d48-d0ddef903611.jpg)
As you can see I purposely omitted the ";" at the end of `TH1F *h0 = 0` to show that, though flycheck can find the header it hangs there for some reason t

[2015-07-16 11:55] lunaryorn commented on #693
I do not know.  The tests still pass, and without any further information it is impossible to say anything else.  Can you provide any information other than that it's broken, i.e. an error message or at least a description of the faulty behaviour?

[2015-07-16 11:58] lunaryorn commented on #688
Are you sure that Flycheck actually uses GCC and not Clang in the left buffer?   Clang would be the default, so did you disable Clang or select GCC?

[2015-07-16 12:23] drkg4b commented on #688
Good point! After googling a bit, adding

`(setq-default flycheck-disabled-checkers '(c/c++-clang))`

seems to have solved the issue. I tried to set explicitly to use gcc, after reading the manual, like this

`(add-to-list 'flycheck-checkers 'c/c++-gcc)`

but get the error:

`Symbol's value as variable is void: flycheck-checkers`

guess I'm too stupid for emacs lisp :'(

[2015-07-16 12:35] lunaryorn commented on #688
@drkg4b That is not how you set a checker explicitly, see [Syntax checkers](http://www.flycheck.org/manual/latest/Syntax-checkers.html#Syntax-checkers).  You'd use `flycheck-select-checker`, or set `flycheck-checker` via local variables.

For instance, `M-x add-dir-local-variable RET emacs-lisp-mode RET flycheck-checker RET c/c++-gcc` in the top level directory of your project would make all futur

[2015-07-16 12:35] #688 closed

[2015-07-16 12:49] sandroden commented on #692
That's perfect, thanks. I didn't note it.

[2015-07-16 12:53] lunaryorn commented on #692
@sandroden Take a look at https://github.com/lunaryorn/.emacs.d/blob/master/lisp/flycheck-virtualenv.el.  It's a small piece of code from my Emacs configuration that sets the executable automatically if `python-shell-virtualenv-root` is set.  It should be easy to adapt this to other mechanisms, i.e. get the current Projectile project name, and take the `pylint` for a virtualenvwrapper virtualenv w

[2015-07-16 15:48] jralls commented on #690
Thanks, that showed me the right way.

[2015-07-16 16:27] drkg4b commented on #688
@lunaryorn Thanks for your kindness and reply, it was instructive and I guess I learned few more things. flycheck seems to be working correctly now, sorry for my dumbness as well :-)

[2015-07-16 19:34] mruegenberg commented on #689
Unfortunately, I don't have a concrete idea. It just seems like the process should be easier. (An example of how to do this correctly in .dir-locals.el with support for wildcards would certainly help.)
I'll take a look at Irony.

[2015-07-16 19:34] #689 closed

[2015-07-16 19:50] jralls commented on #690
Now I've found a better way, thanks to http://stackoverflow.com/questions/7334565/how-can-i-move-php-mode-settings-from-emacs-to-dir-locals-el:

(defvar include-path (list ("foo" "bar" "baz")))
(dir-locals-set-class-variables 'foo-project
        '((c-mode . ((eval . (setq flycheck-clang-include-path include-path))))))

Provided here for the benefit of future searchers.

[2015-07-16 20:05] robbyoconnor commented on #693
@lunaryorn is there a real-time avenue of support?

[2015-07-17 06:12] robbyoconnor commented on #693
Okay my tests pass -- so it's a problem with my setup -- not flycheck -- which makes me feel relieved -- I do not want the reputation of contributing code that does not work as expected...At least I got that this narrowed down.

[2015-07-17 06:12] #693 closed

[2015-07-17 08:24] lunaryorn commented on #675
@Ladeburger Closing as duplicate then.

[2015-07-17 08:24] #675 closed

[2015-07-17 17:25] lunaryorn commented on #688
You're welcome, there's absolutely no reason to be sorry.  I'm happy that I was able to help you, and I hope that you enjoy using Flycheck!

[2015-07-18 19:52] phst commented on #676
Fair enough, I can produce a pull request for this.

[2015-07-18 19:57] phst commented on #676
What I would actually prefer is to disable the Go checker in that case, e.g. by returning an empty error list. The error from go build doesn't represent an error in the source file being checked, but a limitation in the go tool itself.

[2015-07-18 20:28] lunaryorn commented on #676
@phst You can't disable a syntax checker by returning an empty error list.  Flycheck will still use the checker, and just not report any errors.  I don't think that this is a good solution, because it suggests that the buffer is free from errors when it actually might not be.  I'd rather prefer to have an error that explicitly tells the user what's going on.

[2015-07-19 08:16] phst commented on #676
OK, but I think this should not be an error, rather a warning or an info message. (I think an error should be reserved for cases where the code is really known to be broken, not just unhandleable by the tool.)

[2015-07-19 08:38] lunaryorn commented on #676
OTOH, it's a situation that _prevents_ the tool from working properly, i.e. an error condition, but I'm fine with either level.  We just should not silently fail.

[2015-07-20 00:12] robbyoconnor opened #695 "flycheck ruby rubocop not working sometimes for both rspec tests and for regular ruby scripts"
So I have a ruby project with rspec tests and am getting the following error:

[code]

Also seems to happen with files like:
[code]

And I get the following this:

[code]

[2015-07-20 01:47] robbyoconnor commented on #695
Updated the description of the bug

[2015-07-20 02:10] robbyoconnor commented on #695
This is an issue upstream and not with the checker itself, and am closing this -- I should have investigated farther but having this report is handy for others having this issue (at least I feel) :smile_cat:

[2015-07-20 02:10] #695 closed

[2015-07-20 09:00] lunaryorn commented on #689
@mruegenberg Ultimately, it's all just a matter of writing the appropriate Emacs Lisp… it shouldn't be too difficult to parse your specific Makefile and extract the include directories from it.

But it's very hard and very cumbersome to get that right in a generic way, because there are so many different build systems for C++, and so many different styles of Makefiles.

[2015-07-20 22:10] lunaryorn commented on #648
@soonhokong Closing due to inactivity.  If you can provide a traceback of this error please add a comment, and I'll reopen the issue.

[2015-07-24 13:16] phst commented on #676
Just a quick update, I haven't forgotten about this, and I've started to create a patch, but I have little time right now, so this might take a while.

[2015-07-24 17:57] cpitclaudel opened #698 "Add something similar to navigation-minimum-level for the error list"
Hi lunaryorn,

It would be cool to be able to specify a minimum error level for the error list; that would make it easier to deal with checkers that return lots of `info`-level messages.

I expect that implementing this should be a simple patch adding a `defcustom` and a level of filtering to `flycheck-error-list-entries`. If you think this would be a good feature to add, I can make a pull request

[2015-07-24 18:33] cpitclaudel opened #699 "Extend `flycheck-checker-pattern-to-error-regexp` to support custom levels"
When passed a custom error level, the pcase in `flycheck-checker-pattern-to-error-regexp` returns `nil`, causing messages at that level to be highlighted as errors. This makes it tricky to add custom levels that are not errors.

I can think of an easy fix: we could add an extra keyword arg to define-checker, maybe `compilation-error-level`, which would be any of `('error 'warning 'info)`. The we w

[2015-07-25 08:39] vlatkoB commented on #604
Warnings go away if you byte-compile flycheck

[2015-07-25 16:59] lunaryorn commented on #698
I'd definitely like such a feature, and I'll gladly accept a pull request.  I think that we can learn from Paradox here, which implements filtering for Emacs' package menu.  The error list builds on the same infrastructure—tabulated list mode, that is.

We should also go beyond just a simple defcustom, and add a key binding to filter the error list dynamically.

[2015-07-25 17:05] lunaryorn commented on #699
Well, the only place where that is used in Flycheck is `C-c ! C-c` and that's really just a debugging tool.  I'd not invest too much time into it.

I'd accept a patch that fixes compilation patterns for compile mode, but I'd prefer a different approach.  We should add an additional property to error levels, i.e. `compilation-level`, that is either 0, 1 or 2 and maps the level to the corresponding

[2015-07-25 17:06] lunaryorn commented on #676
@phst Take all the time you need, I'm in no hurry.  Please feel free to ask further question if there's anything unclear, or if you need any help with Flycheck.

Thanks for your contribution and for your support!

[2015-07-25 18:41] cpitclaudel commented on #699
Ok, that sounds pretty easy. PR coming soon!

[2015-07-25 19:42] cpitclaudel commented on #698
Ok; sounds cool. I looked at paradox's implementation, but it doesn't seem to rely on features of tabulated-mode; instead, it does the filtering by itself.

There are two features here: "hide everything below a certain level", and "show only a specific type of errors". Both seem convenient (though I'd find the former more useful). I'm not sure that they should go on the same key.

I can add a defv

[2015-07-25 20:17] cpitclaudel commented on #698
Btw, we could also require errors to match all cells, instead of one. Or we could simplify this and just allow one cell. Opinions?

[2015-07-25 20:41] lunaryorn commented on #698
@cpitclaudel I think that this is too complicated.  I think it's sufficient if we add the same filtering like for navigation: Only show errors with a certain level or higher.  To me this seems like _the_ use case for this feature:  First only list errors, fix them, then extend the list to warnings, fix them, and ultimately remove all filters and look at the rest.  I don't think that a user would w

[2015-07-25 20:46] #699 closed

[2015-07-25 20:49] cpitclaudel commented on #698
Agreed in the case of warnings. The idea of selecting a certain level came from the fact that pylint reports TODOs as warnings. One could imagine it reporting them at a custom error level TODO, and then wanting to only see those, for example.

Anyhow, I'm in favor of simplicity too. I'll remove the predicate stuff :)

[2015-07-26 03:30] purcell opened #702 "Questions regarding executables which use wrappers"
Let's say that instead of `hlint`, I would like to run `stack exec hlint`. Currently I can set `flycheck-haskell-hlint-executable` to either `nil` or a string, but `(executable-find "stack exec hlint")` naturally fails. Would it make sense to allow executables to be set to lists?

The downside of this is that a wrapper script might be executable, while the command it wraps is not, so that the wrap

[2015-07-26 11:45] lunaryorn commented on #702
@purcell I'm not sure how to deal with such wrappers.  You can use `:predicate` to add custom checks, and Flycheck does that already for some checkers (e.g. `go-vet`), but I'm not sure whether that's the best approach.

For `stack` specifically, though, you can run `stack install hlint`, which will install `hlint` globally in `~/.local/bin/`.

[2015-07-26 20:41] purcell commented on #702
If I recall correctly from working on it recently, `syntastic` always does a version check by default. I guess it trades off that extra `exec` for some assurance that the checker will actually work when needed. I think this is the best trade-off in the end.

Re. `stack`, the example of `hlint` wasn't the best one for me to give. More specifically, `stack exec -- ghc -fno-code -Wall ...` convenient

[2015-07-27 07:02] lunaryorn commented on #702
@purcell I'll add a separate syntax checker for `stack ghc` (there's a branch for it already, see `feature/stack-ghc`), because that works better for the user in my opinion.  Flycheck could automatically use `stack ghc` for projects with `stack.yml` and standard `ghc`—if installed—for project without, without any manual configuration required.

As for the version check, we'd have to add an extra c

[2015-07-27 07:52] purcell commented on #702
Great, agreed.

I agree it's a bit of work, but all the ruby-based ones (sass, rubocop, ruby, haml, sqlint) currently crash out noisily with an exit code of `127` and no recognisable errors if they are not gem-installed in the current `rbenv` (and `rvm`?) project environment or globally, but are installed in some other `rbenv` project dir. This is because the shim wrapper will have been created on

[2015-07-28 18:12] rbraunstein commented on #312
+1

[2015-07-28 20:26] #638 closed

[2015-07-28 21:19] lunaryorn commented on #698
@cpitclaudel I'll close this one as duplicate of #701 then :) Thanks for this idea, and for the PR!

[2015-07-28 21:19] #698 closed

[2015-07-29 11:18] geraldus commented on #638
Cool!

[2015-07-29 11:32] iainbeeston opened #706 "Linting jsx files"
I use web-mode to edit [jsx](https://facebook.github.io/jsx/) files. They're javascript, with embedded xml. [jscs](http://jscs.info) has support for linting them (if you tell jscs to use the [facebook fork of esprima](https://github.com/facebook/esprima) in your .jscs config file) but flycheck doesn't allow me to select jscs as the checker for jsx files.

When I use `flycheck-select-checker` to se

[2015-07-29 11:33] iainbeeston commented on #706
Incidentally, web-mode does have support for editing regular javascript and css files.

[2015-07-29 11:52] lunaryorn commented on #706
@iainbeeston You can use `flycheck-add-mode` to add Web Mode to jscs in your Emacs configuration, but I'll not add Web Mode support for Flycheck anymore, at least until Web Mode gives us a proper API to check what language it actually contains.  It's been a mess to support before I removed it, and handlebars is an exception which I'm not particularly happy about.

[2015-07-29 11:52] #706 closed

[2015-07-29 12:18] iainbeeston commented on #706
That's fair, thanks for explaining

[2015-07-30 08:25] yamafaktory opened #707 "javascript-standard checker can't be used"
Hi,
I am trying to use flycheck-select-checker with javascript-standard which returns "Can't use syntax checker javascript-standard in this buffer", and I am quite unsure about what is the issue there (standard is perfectly working in the terminal).

[code]

By the way, thanks for the awesome work!

[2015-07-30 09:27] lunaryorn commented on #707
@yamafaktory  In case you're on OS X, install and configure [exec-path-from-shell](https://github.com/purcell/exec-path-from-shell), restart Emacs and try again.  Otherwise show me a screenshot or a copy of the output of `C-c ! v` (aka `M-x flycheck-verify-checker`) in an affected buffer.

[2015-07-30 11:59] yamafaktory commented on #707
@lunaryorn many thanks for the help!

Given output is:

[code]

Then I guess it could be related to my setup (zsh with nvm), I will investigate further!

[2015-07-30 12:20] lunaryorn commented on #707
@yamafaktory I'm closing this issue then, because it's strictly not an issue in Flycheck itself, but please feel free to add further comments if you need more help on this one.  Thanks for reporting and thanks for your feedback :smile:

[2015-07-30 13:11] boothead commented on #32
@jwiegley Are you still using the some version of this? I'm struggling to get spacemacs flycheck and hlint working together

[2015-07-30 14:03] lunaryorn commented on #32
@boothead Please don't dig up old issues two years after the last change.  It'll needlessly notify users who after two years might not even be using Flycheck anymore, and might now have more important things to do than setting up other people's Emacsen.

Instead please open a new issue, ideally in the Spacemacs tracker first.

[2015-08-01 09:56] #707 closed

[2015-08-01 10:13] #612 closed

[2015-08-01 10:13] lunaryorn commented on #612
Mostly done, but we have to keep dash for when-let

[2015-08-01 10:15] lunaryorn commented on #676
@phst I'll close this issue as `wontfix` meanwhile, because I for my part will not actively work on it.  It doesn't stand against a PR, so if you open one with a fix, I'll be happy to review and merge it.

[2015-08-01 10:15] #676 closed

[2015-08-01 10:16] lunaryorn commented on #580
Closing as `wontfix`, because I'll not fix this myself.  I do not use Go, and don't know anything about it.

[2015-08-01 10:16] #580 closed

[2015-08-01 10:17] lunaryorn commented on #503
Closing as duplicate.

[2015-08-01 10:17] #503 closed

[2015-08-01 10:21] lunaryorn commented on #654
@captainponky I'm sorry to say that I've changed my mind.  I'll not try and fix this one myself, because I do not know Fortran, and the error messages from `gfortran` are a bloody mess to parse.  It'd take me a lot of time to get right, time which I think is better spent on more important features of Flycheck than individual syntax checkers.

I'm closing this issue as `wontfix`, but I'll happily r

[2015-08-01 10:21] #654 closed

[2015-08-01 10:25] lunaryorn commented on #594
Closing as `wontfix`.  I think this is too much of a corner case to spend a much time on.

[2015-08-01 12:25] mrlee23 opened #710 "I want to toggle flycheck errors window"
Hi, I'm very appreciated your project.

command `flycheck-list-erros` has not a toggle feature(delete flycheck errors window), so I want you to add command can toggling. It will be convenient for briefly check errors using flycheck errors window.

Like this:
[code]

[2015-08-01 14:27] lunaryorn commented on #710
@mrlee23 Thanks for this idea.  It's a cool feature, but I think it's better fit for your own configuration or an independent extension, the more since there are different approaches to implement this feature.

For instance, I have a `display-buffer-alist` entry for the error list which pins it to the bottom side window, combined with a custom command to close the side window.  This works more lik

[2015-08-01 14:27] #710 closed

[2015-08-01 14:38] Sarcasm commented on #710
This sounds interesting, do you think you could share this code?

[2015-08-01 14:41] lunaryorn commented on #710
@Sarcasm I wrote about it on my blog a few months ago, at <http://www.lunaryorn.com/2015/04/29/the-power-of-display-buffer-alist.html>.

Alternatively take a look at my [init file](https://github.com/lunaryorn/.emacs.d/blob/master/init.el), and watch out for the `display-buffer-alist` setting and the `lunaryorn-window` package declaration.

[2015-08-01 14:42] Sarcasm commented on #710
Thanks ;)

[2015-08-01 15:53] captainponky commented on #654
@lunaryorn Thanks anyways. Hopefully I will get around to contributing a proper fix for this someday. But it's not a priority write now for me either.

[2015-08-01 17:31] lunaryorn commented on #654
@captainponky I'm sorry that I was unable to solve this issue for, and I hope this doesn't mar Flycheck experience for you.

[2015-08-01 18:06] lunaryorn commented on #702
@purcell I tend to conveniently blame `rbenv` and it's questionable concept of shims :)  Seriously, though, from my point of view, it's a lot of effort for just a single programming language whose toolchain is arguably flawed.

I've opened #711 for a stack-based syntax checker, and I'll add it asap, because it's something I really miss myself, but I don't think that I'll add a generic version-chec

[2015-08-01 18:06] #702 closed

[2015-08-03 14:40] drkg4b opened #712 "flycheck-gcc-args is considered risky"
Dear experts,

I created a .dir-local.el which content is

[code]

I get a warning when I open a file

[code]

My understanding is that the `flycheck-gcc-args` should take a list of strings and I can't see where I'm failing at providing it. I'm really ignorant at emacs lisp and I tried to google a little bit but with no luck on this specific question, though the message is harmless, it's quite ann

[2015-08-03 15:12] lunaryorn commented on #712
@drkg4b Please do read the Emacs manual about [Directory Variables](http://www.gnu.org/software/emacs/manual/html_node/emacs/Directory-Variables.html#Directory-Variables), and specifically the subsection about [Safe File Variables](http://www.gnu.org/software/emacs/manual/html_node/emacs/Safe-File-Variables.html#Safe-File-Variables).

There's no error on your side, Flycheck simply tells you that c

[2015-08-03 15:12] #712 closed

[2015-08-03 15:52] drkg4b commented on #712
@lunaryorn thanks for the insight! I'm now using `flycheck-gcc-definitions` as you suggested and it works fine :-)

[2015-08-03 16:36] lunaryorn commented on #712
You're welcome 😀

[2015-08-03 19:27] deterok commented on #618
@RyanKung :+1:
tnx

[2015-08-03 20:52] ntc2 opened #713 "HLint does not use `flycheck-ghc-args`"
HLint does not use the `flycheck-ghc-args` setting. So, for example, custom settings of `flycheck-ghc-args` needed to define Cabal's backwards compatibility macros (`MIN_VERSION_*`) don't help the HLint flychecker, which still complains that they these macros are undefined. See https://github.com/flycheck/flycheck-haskell/issues/39#issuecomment-126771263 for more details.

[2015-08-04 13:05] mbezjak opened #715 "Add checker for groovy programming language"
It can be done by following:

 * http://www.groovy-lang.org/mailing-lists.html#nabble-td365810
 * https://github.com/groovy/groovy-core/blob/master/src/main/org/codehaus/groovy/control/ErrorCollector.java

[2015-08-04 13:17] lunaryorn commented on #715
@mbezjak I do not use Groovy, and will not write a syntax checker for it myself.  I have neither the time nor the motivation.  Please open a pull request which adds the checker to Flycheck with tests and documentation.

[2015-08-04 13:17] #715 closed

[2015-08-04 13:18] lunaryorn commented on #715
Closing as `wontfix`.

[2015-08-04 13:28] mbezjak commented on #715
I'm in the process of doing just that. I opened an issue just so I could reference it in `CHANGES.md`

[2015-08-04 14:02] lunaryorn commented on #715
@mbezjak :smile: That's nice, but not needed at all.  I'll reference the PR in CHANGES, because that's the relevant issue.

[2015-08-05 09:00] vlatkoB commented on #638
@geraldus

It would be possible now with `.dir-local.el`.
Just set `flycheck-hlint-language-extensions` to something like ` '("QuasiQuotes" "TemplateHaskell")`

[2015-08-05 09:45] sunwukung opened #717 "flycheck and javascript-eslint create temp files in source tree that cause build tools to choke"
I have been having a [similar issue as this user on stack](http://emacs.stackexchange.com/questions/13911/how-to-set-temporary-file-directory-for-flycheck-eslint-outside-of-current-dire) (which I saw you respond to)

When testing JS with mocha (often via gulp/grunt) you specify a glob to identify all the test files - mocha then watches those files, and barfs when flycheck writes (and removes) that

[2015-08-05 11:38] lunaryorn commented on #717
@sunwukung I don't know whether they need to have the same extension.  I never tried.  I never even thought of this, since hitherto I was under the impression that repeatable builds were an absolute requirement for decent software engineering, which of course includes knowing which files your build system touches and which not.  Apparently I'm wrong, the Javascript community seems to have vastly d

[2015-08-05 11:38] lunaryorn commented on #717
@sunwukung Does that answer your question?

[2015-08-05 11:51] lunaryorn commented on #713
We cannot blindly pass GHC arguments to Hlint.  We'd need a separate option for hlint, but that needs a PR from you or someone else, because I have currently no need for that myself.

[2015-08-05 13:05] sunwukung commented on #717
You could list all the files in your source tree explicitly to make sure, but that's a lot of hard work - especially in a large project. Globbing exists to avoid that problem - and thus here we are. I guess there's a (misplaced?) assumption is that the files in the source directory are ones you own, rather than ones that your editor has deposited there.

I'll take a stab at the prefix approach, se

[2015-08-05 13:05] #717 closed

[2015-08-05 14:05] lunaryorn commented on #717
@sunwukung

I don't know.  My assumption would be that there's an exact definition of what files should be build and how, so that my system doesn't build any random file that happens to appear in my source tree, for whatever reason, with arbitrary settings.  Isn't that the basic idea of repeatable builds?

But we digress, sorry for that.

Please do try to change the prefix, and if that doesn't wor

[2015-08-05 20:14] geraldus commented on #638
Great news!

[2015-08-09 22:37] captainponky commented on #654
Nah, flycheck is not marred at all. Flycheck is great.
I hope to fix this part of it one day, since I use fortran often, but not today.
Ian
Date: Sat, 1 Aug 2015 10:31:52 -0700
From: notifications@github.com
To: flycheck@noreply.github.com
CC: captain_ponky@hotmail.com
Subject: Re: [flycheck] f90-mode fortran-gfortran: flycheck not highlighting symbols and not moving between errors (#654)

@captai

[2015-08-10 05:53] hotpxl opened #719 "Flycheck error Invalid search bound"
I encountered something like this. I have `debug-on-error` turned on so you can see the stack trace. I blurred some paths. Do you have any idea what might have caused this?

![Imgur](http://i.imgur.com/BQ81vOR.jpg)

[2015-08-10 06:35] lunaryorn commented on #719
@hotpxl Where does `fringe-helper-modification-func` come from?  It's neither part of Emacs nor of Flycheck…

[2015-08-10 06:53] hotpxl commented on #719
I guess it's from git-gutter. I will have it disabled and test for a while. Thanks!

[2015-08-10 07:01] lunaryorn commented on #719
@hotpxl I'll close this issue as invalid then.  If it still breaks, please add another comment and I'll reopen it.

Meanwhile, you can report this issue to git-gitter, and try diff-hl, which is an alternative to git-gutter.

[2015-08-10 07:01] #719 closed

[2015-08-10 11:03] vigneshsarma opened #720 "Suspicious state from syntax checker python-flake8: Checker python-flake8 returned non-zero exit code 1, but no errors from output"
Stacktrace:
[code]

Versions
[code]

Running flake8 outside flycheck, in the same virtualenv causes no issue. I am also able to import `charset` in the same env without issues.

[2015-08-10 12:07] lunaryorn commented on #720
@vigneshsarma I'm sorry, but that's not a Flycheck problem.  Flycheck doesn't change the environment for syntax checker tools, and I'm using virtualenv executables in Flycheck just fine.  Whatever is causing `flake8` to fail in Emacs comes from somewhere else.a

Try to run `flake8` from `M-x shell`, and via `M-: (process-lines "flake8" "--version")`.  Check the environment variables of your Emacs

[2015-08-10 12:07] #720 closed

[2015-08-10 13:16] vigneshsarma commented on #720
Is there any way to see the exact command that is being executed?(A good place to put debugger or log?)

Everything else seems to be working fine.

[code]

[2015-08-10 13:23] lunaryorn commented on #720
@vigneshsarma `C-c ! C-c python-flake8`.

[2015-08-10 14:02] vigneshsarma commented on #720
The issue seems to be that since we have a local module `email`, while the import should be from std lib its throwing up. Check the `eshell` session at the bottom.

A reasonable solution would be for me to always run the `flake8` from the project root. Since the command is giving the full path of the file, is there a way to set the current path(`pwd`) to project root before running the command?

I

[2015-08-10 15:04] fbergroth commented on #720
@vigneshsarma don't make implicit relative imports. If you want to do relative imports, use `from .email import message_from_file`. You can turn off implicit relative imports with `from __future__ import absolute_import`, which is the default in python3.

[2015-08-10 15:27] vigneshsarma commented on #720
@fbergroth I know!!! This is not a relative import at all. Let me try to explain.

* Imagine there is a module `foo` in python standard lib. Which you use as `from foo import x`.
* Now in your project you create a new module `abcd.foo`.
* In the module `abcd.foo` you use a library `baz` which imports from `foo` in std lib.
* If you execute python at project root, everything will work correctly.
*

[2015-08-10 15:31] fbergroth commented on #720
I see, my mistake.

[2015-08-10 17:18] ngoldbaum opened #721 "flake8 checker ignores project-specific configuration"
I've been using the flake8 checker along with flycheck to lint my code on-the-fly for a while now. Recently I started a project that has some per-project flake8 configuration settings defined in a `setup.cfg` file at the root of the project repository.

When I run the `flake8` executable outside of emacs, the configuration settings in this file are respected. However, it seems flycheck's flake8 ch

[2015-08-10 18:07] lunaryorn commented on #720
@vigneshsarma That _is_ a relative import, albeit an accidental one.

You can't specify the working directory currently ( see #312), but you shouldn't allow relative imports anyway.  Use `from __future__ import absolute_imports`.  It fixes this issue and is good practice anyway, precisely because implicit relative imports, whether intentional or accidental, cause all sorts of troubles.

Marking as

[2015-08-10 18:13] lunaryorn commented on #721
Flycheck runs `flake8 from the default directory of the buffer.  Normally that's the directory the file is contained in.

I'm not sure what you mean with "flake8's built in capabilities ".  I've never used `flake8` and used to prefer pylint when I was writing large amounts of Python code, so my knowledge is very superficial here.  Off the top of my head, I don't know how Flycheck invokes flake8 ex

[2015-08-10 18:24] fbergroth commented on #721
I usually put a `.dir-locals.el` file at the project root containing:
[code]

[2015-08-10 23:27] ntc2 opened #722 "Flycheck does not show non-exhaustive pattern match warnings."
Consider for example this program:
[code]

Compiling it with no options shows a non-exhaustive pattern match warning:
[code]

But in `flycheck-mode` using `haskell-ghc` checker, no warning is shown.

The problem is that Flycheck passes `-fno-code` to GHC (https://github.com/flycheck/flycheck/blob/2d6816c6aad9a0d0cbb2d82a77dc9dfa6261a89d/flycheck.el#L6441). It is a known GHC bug that `-fno-code` di

[2015-08-11 07:17] lunaryorn commented on #722
@ntc2 See #708, we'll drop `-fno-code` at some point.  Closing.

[2015-08-11 07:17] #722 closed

[2015-08-11 12:36] lunaryorn commented on #721
@ngoldbaum Does that solve your problem?

[2015-08-11 14:26] ngoldbaum commented on #721
Yes, @fbergroth's suggestion works for me.

[2015-08-11 14:26] #721 closed

[2015-08-12 15:28] Malabarba opened #723 "What is the proper way to selectively turn off flycheck?"
There are many buffers where I would like flycheck to not run (dir-locals, scratch, and root-owned files). Is there a variable I can configure to tell `global-flycheck-mode` on which buffers it should actually activate?

Or should I just add a function to the mode-hook that turns it off in those buffers?

[2015-08-13 11:58] lunaryorn commented on #723
@Malabarba I'd argue that a hook is the proper way to selectively do things in Emacs :)  Other than that, Flycheck only offers to disable it's mode for specific major modes, as per `flycheck-global-modes`.

I think we should probably exclude `.dir-locals.el` from the `emacs-lisp` checker in Flycheck itself, but why wouldn't you want to check scratch buffers?  Besides, as far as the initial buffer

[2015-08-13 13:59] Malabarba commented on #723
That's strange, I could have sworn that non-file buffers were checked as well. I even had an advice for preventing that. But now I can't reproduce it, so maybe I'm just going nuts.

Except I sometimes use `toggle-read-only` to play around with the buffer visiting the root file, and then flycheck immediately turns on. The fact that it turns on isn't a huge deal, the problem is that it'll keep throw

[2015-08-13 17:35] rvandegrift opened #724 "Error installing on emacs 24.4"
When I try to install flycheck from melpa, emacs 24.4 replies: "Package `emacs-24.3' is unavailable".

[code]

[2015-08-13 17:43] lunaryorn commented on #724
Duplicate of #130, closing.

[2015-08-13 17:43] #724 closed

[2015-08-13 17:43] lunaryorn commented on #724
Please remove legacy copies of package.el from your `load-path`.

[2015-08-13 17:56] lunaryorn commented on #723
@Malabarba Generally Flycheck will check non-file buffers, but the `emacs-lisp` checker specifically doesn't work for such buffers, hence it won't check scratch.

Flycheck trying to write to places it can't write to is surely bug, but one that I'd close as `wontfix`.  It's so small a corner case that it's really not worth spending a lot of time on.  You're the first to hit this in two years.  As a

[2015-08-13 17:56] #723 closed

[2015-08-14 06:39] cpitclaudel opened #725 "Merging `help-echo` messages from stacked overlays"
Hi Sebastian,

At the moment, if a checker reports an info message and a warning for the same buffer location, the warning will take precedence and hide the info message: since the warning overlay has a higher priority, the underline will be that of a warning, and the margin will show a question mark. Unfortunately, that means that the mouseover tooltip (taken from the `help-echo` property of the

[2015-08-14 06:40] cpitclaudel commented on #725
To give credit where due, the idea of using a function for the help-echo comes from [this answer](http://emacs.stackexchange.com/a/14744/2429) :)

[2015-08-14 06:59] cpitclaudel commented on #725
Here's a slightly nicer implementation, which preserves the default help-echo values:

[code]

[2015-08-14 07:39] lunaryorn commented on #725
@cpitclaudel Wow, now that is what I call a great idea! :+1: :fireworks:   I didn't know that this was possible!  Emacs continues to surprise me every day :smile:

I'd be absolutely happy to merge a PR that implements this.  I think it's going to be a bit more work beyond adapting `flycheck-add-overlay`, because iirc there are a bunch of tests that check the `help-echo` of overlays, but I can do a

[2015-08-14 08:15] cpitclaudel commented on #725
Great! Thanks for the quick answer and for the suggestions. I'll send a PR soon (though it probably won't be before Monday; I'll be pretty busy until then)

[2015-08-16 10:13] Malabarba commented on #723
Precisely.

Thanks, I wasn't aware of this. Look's like it's what I need! :+1:

[2015-08-16 10:46] lunaryorn commented on #723
@Malabarba I'm closing this issue as fixed then.

[2015-08-19 08:03] cpitclaudel opened #731 "Indenting multi-line error messages"
Hi Sebastian,

At this time, multiline error messages are flushed left: `tabulated-list-mode` makes no effort to align the left sides of column values that span multiple lines. This makes multiline error messages a bit hard to read:

![multiline error](https://cloud.githubusercontent.com/assets/8181630/9351260/bfff1d4e-460c-11e5-8073-6d4f75ebd6d3.png)

Things look a lot better to me with the right

[2015-08-19 08:50] lunaryorn commented on #731
@cpitclaudel We can simply compute the (fixed) offset of the message column, and manually prepend a corresponding amount of whitespace to all but the first line of messages in `flycheck-error-list-make-entry`.   I'd prefer this approach to duplicating parts of Tabulated List Mode in Flycheck.

Ultimately, though, I think that this is an issue in Tabulated List Mode itself, and we should at least `

[2015-08-20 06:55] purcell commented on #629
Nice.

[2015-08-24 19:57] sunwukung opened #735 "flycheck-eslint doesn't honour rules in ~/.eslintrc"
I'm having trouble getting flycheck to use the .eslintrc file in the root of the current project, and I'm struggling to find any documentation that will tell me how to configure it to use the appropriate file. This setup was derived from [this blogpost](http://codewinds.com/blog/2015-04-02-emacs-flycheck-eslint-jsx.html)

    (use-package flycheck
      :ensure t
      :diminish flycheck-mode

[2015-08-25 03:05] cpitclaudel commented on #735
Hey sunwukung,

Could you try pressing <kbd>C-c ! C-c</kdb> in a javascript buffer? This will run eslint and should tell you what exact command line flycheck is using to call eslint. On my machine. after running `(setq flycheck-eslintrc "~/.eslintrc"))`. it shows something like

[code]

By the way, the `(setq flycheck-checkers '(javascript-eslint))` line in your config disables flycheck for everyt

[2015-08-25 09:23] sunwukung commented on #735
Hi,
Hmm - yup, this indeed worked as yours did - and the errors it listed were as I'd expect. However, flycheck doesn't indicate anything visually, nor does it list any of the errors if I hit C-c ! l
I've tried flycheck-verify-checker, and it states that javascript-eslint can run in the current buffer, and I've tried flycheck-select-checker in case it wasn't getting automatically cued up by enteri

[2015-08-25 15:37] cpitclaudel commented on #735
Thanks for the extra info! It looks like Flycheck is actually finding your config then. Could you post the full output of <kbd>C-c ! v</kbd>?

I don't think the orange underlines are a sign that flycheck is in fact finding errors: js-2 mode includes it's own little bit of error checking. What you are most likely seeing is js2's own errors.

Regarding your config, the following two lines shouldn't

[2015-08-25 16:55] sunwukung commented on #735
Here you go:

    Syntax checkers for buffer test.js in js2-mode:

      javascript-jshint
        - predicate:  nil
        - executable: Not found

      javascript-eslint
        - predicate:  t
        - executable: Found at /opt/boxen/nodenv/shims/eslint

      javascript-gjslint
        - predicate:  nil
        - executable: Not found

      javascript-jscs
        - predicate:  nil

[2015-08-25 17:05] cpitclaudel commented on #735
Thanks! So it seems Flycheck is properly setup and enabled. At this point @lunaryorn will probably be able to help more than myself, but hopefully the information you gave will make it easier for him. It could be useful to add two things:

* Your .eslintrc
* A javascript file for which the output of <kbd>C-c ! C-c</kbd> contains errors or warnings, but flycheck shows nothing.

Then maybe I could r

[2015-08-25 19:58] kleewho opened #736 "Flycheck for eclim"
I'd like to get your opinion about use of flycheck for eclim. I found this issue on ensime project https://github.com/ensime/ensime-emacs/issues/160 and basing on the file I found there created similar thing for eclim https://github.com/kleewho/emacs-eclim/tree/flycheck. I wonder what disadvantages it might have or what are things that I should know. I'm thinking about enabling it for users as an

[2015-08-26 06:00] exu opened #737 "Errror with php-phpcs checker"
Hi I have following error when trying to check php file with phpcs checker:

Suspicious state from syntax checker php-phpcs: Checker php-phpcs returned non-zero exit code 1, but no errors from output:

<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="2.3.3">
<file name="/tmp/flycheck1608RuU/JoinJobTest.php">
 <error line="20" column="12" severity="error" message="Missing function doc co

[2015-08-26 06:11] cpitclaudel commented on #737
Hi exu,
Do you have an example of a file showing this behaviour?

[2015-08-26 06:27] exu commented on #737
Any file :) for example

    <?php

    /**
     * @author Jacek Wysocki <jacek.wysocki@gmail.com>
     */
    class Something
    {
        public function __construct($options=array())
        {
            if (is_array($options)) {
                foreach ($options as $k => $v) {
                    $this->$k = $v;
                }
            }

        }
    }

give me

    Suspicious state

[2015-08-26 06:29] exu commented on #737
When I'm running it from shell it returns result code == 1

    ❯ phpcs ~/src/test.php

    FILE: /home/exu/src/test.php
    ----------------------------------------------------------------------
    FOUND 8 ERRORS AND 1 WARNING AFFECTING 5 LINES
    ----------------------------------------------------------------------
     3 | ERROR   | [ ] Missing short description in doc comment
     5 | WARNI

[2015-08-26 08:12] lunaryorn commented on #737
@exu Where does the blank line in the beginning of the output come from?  Do you have any special settings in `php.ini`?

[2015-08-26 08:22] lunaryorn commented on #736
@kleewho I'll be happy to review your code.  Please give me a direct link to the specific file where you use Flycheck in Eclim, for I don't want to browse the entire, rather large code base of Eclim.  No offense meant, but I simply don't have the time.

I'm not sure what you understand by “disadvantages”, and I wonder how I should be able to assess that, given that I do not know what your current

[2015-08-26 08:48] sunwukung commented on #735
Hi, thanks for your help - here's my .eslintrc

    {
        "parser": "babel-eslint",
        "rules": {
            "strict": 0,
            "indent": [
                2,
                2
            ],
            "quotes": [
                2,
                "double"
            ],
            "linebreak-style": [
                2,
                "unix"
            ],
            "semi":

[2015-08-26 08:59] sunwukung commented on #735
OK, this might be something of a red herring - I just initialised flycheck using this setup from someone over on reddit - and flycheck starts working as expected. Given my original configuration, could you shed some light on why this works (I'm a complete noob at elisp)

    (add-hook 'js2-mode-hook
          (defun my-js2-mode-setup ()
            (flycheck-mode t)
            (when (executable-f

[2015-08-26 09:06] sunwukung commented on #735
bingo! it's this line:

    (setq-default flycheck-temp-prefix ".")

this was added to my config following a previous discussion with lunaryorn to try and hide files from processes like mocha that watch files in folders. Is there something wrong with the way that I have attempted to set the prefix? Or is it perhaps preventing flycheck itself from seeing it's reports?

[2015-08-26 09:09] #735 closed

[2015-08-26 09:23] sunwukung opened #738 "changing value of flycheck-temp-prefix prevents flycheck-eslint from working"
After changing the value of flycheck-temp-prefix to "." (in an attempt to hide the files from mocha) flycheck-eslint no longer appears to work. I'm raising this as an issue against flycheck-eslint specifically as it doesn't seem to have affected flycheck from raising errors against elisp files.

[2015-08-26 12:14] exu commented on #737
no, there is no special php.ini settings

But I have also problem with go checker:

    Suspicious state from syntax checker go-build: Checker go-build returned non-zero exit code 2, but no errors from output: go: GOPATH entry cannot start with shell metacharacter '~': "~/"

    Checker definition probably flawed.

[2015-08-26 12:16] exu commented on #737
Ok go is working ok it was problem with GOPATH

[2015-08-26 17:37] walter-manger opened #739 "Add --esprima arg to JSCS"
Please add support for the --esprima arg in JSCS

More information on JSCS args here:
http://jscs.info/overview.html

`--esprima (-s)`
Attempts to parse your code with a custom Esprima version.
`jscs path[ path[...]] --esprima=esprima-fb`

[2015-08-26 20:13] sunwukung commented on #738
nope, my bad again - if the value is anything other than a "." - then flycheck-eslint can see it. Shame, it's hidden from flycheck, but not from mocha, which was the whole idea of changing the prefix in the first place

[2015-08-26 20:13] #738 closed

[2015-08-28 08:20] cpitclaudel commented on #735
For the record, I think the problem is actually with eslint. Indeed, for this file saved as `test.js`:

[code]

and this `.eslintrc`:

[code]

I get the following errors:

[code]

However, when I name the input `.test.js`, I get:

[code]

When flycheck uses "." as its prefix, it gets the same response from `eslint`. Since that message has no line number, `flycheck-relevant-error-p` filters it out.

[2015-08-28 08:23] cpitclaudel commented on #738
Hi there,

It's not actually hidden from flycheck; it's just that eslint refuses to check files that start with a dot:

[code]

(I don't have a `.eslintignore` file)

[2015-08-28 08:26] lunaryorn commented on #735
@cpitclaudel What happens if you add `--no-ignore`?

[2015-08-28 08:33] cpitclaudel commented on #735
Then it returns no errors at all. I wonder if I'm doing something wrong:

[code]

[2015-08-28 08:37] cpitclaudel commented on #735
Never mind, that's indeed an upstream bug at https://github.com/eslint/eslint/blob/3de24f103301138171094333d89be51f30839c87/lib/util/traverse.js#L44

[2015-08-28 08:39] cpitclaudel commented on #735
The place where that message is printed is https://github.com/eslint/eslint/blob/3de24f103301138171094333d89be51f30839c87/lib/cli-engine.js#L398

[2015-08-28 08:39] lunaryorn commented on #735
@cpitclaudel Seems to be an upstream issue then. Apparently eslint just refuses to check hidden files, for whatever reason.  I don't think we should go to great length to work around it, and rather just report it to eslint.  Specifically I think that eslint should not refuse to check hidden files if they are explicitly given on command line.

[2015-08-28 08:40] cpitclaudel commented on #735
Sure, I'll open an upstream issue.

[2015-08-28 08:42] lunaryorn commented on #735
@cpitclaudel Great, thank you!

[2015-08-28 08:45] cpitclaudel commented on #735
Done!

[2015-08-28 08:47] sunwukung commented on #738
ah, thanks for figuring that out for me!

[2015-08-29 19:33] AngelTerrones opened #740 "Suspicious state from checker verilog-verilator."
Hi. I got the following error, trying to lint a simple verilog module (or, any verilog file):
[code]
I checked  using `flycheck-compile`, and I didn't get any error.

My emacs:
[code]

Flycheck:
[code]

Verilator:
[code]

[2015-08-30 11:59] kbauer opened #741 "Pass checkdoc variables to subprocess"
Related to https://github.com/flycheck/flycheck/issues/53

Currently `checkdoc` as invoked by flycheck ignores customized variables. Relevant variables include all customization variables of `checkdoc` and at least `sentence-end-double-space`.

I currently solved this locally by a startup script setting `flycheck-emacs-args` to

    (list "-Q" "--batch" "--eval"
          (pp-to-string

[2015-08-31 20:28] lunaryorn commented on #740
@AngelTerrones If `M-x flycheck-compile` works it's probably because it picks a different `verilator` executable due to a different `$PATH` setting (`flycheck-compile` goes through the shell, whereas a normal syntax check does not).   Can you actually run `/usr/local/bin/verilator` from the terminal, i.e. outside Emacs?  Do you have multiple `verilator` installations?

[2015-08-31 20:32] lunaryorn commented on #741
@kbauer I don't see the need for this myself, because personally I use the default checkdoc settings, and encourage everyone else to do the same, as these settings represent the standard Emacs style for docstrings.

Closing as “wontfix” hence, because I won't implement this feature myself.

However, I'll happily merge pull requests or patches that add these variables to the checkdoc checker.  Note

[2015-08-31 20:45] #725 closed

[2015-08-31 23:53] AngelTerrones commented on #740
Hi.
[code]
Returns with exit code 0, no errors, no warnings (the file is ok). The same file inside emacs give the `suspicious...` error.
I have one installation.

[2015-09-01 07:47] lunaryorn commented on #740
What is the output of `file /usr/local/bin/verilator`?

[2015-09-01 13:32] lunaryorn commented on #616
We should actually generate it automatically, with a little Emacs script that reads `doc/api.texi.template` substitutes certain placeholders with the symbol's docstring wrapped in a `@verbatim` environment, and writes the result to `doc/api.texi` which is in turn included by `flycheck.texi`.

[2015-09-01 13:37] lunaryorn opened #743 "Replace the GIF with a annotated screenshot of Flycheck at work"
I'd like to replace the README "video" with an annotated static screenshot of Flycheck.   Take a look at the [screenshots of the Napkin App](https://itunes.apple.com/us/app/id581789185?mt=12&ign-mpt=uo%3D4) to get an idea of what I mean.

I think the video does a bad job of demonstrating what specific features Flycheck actually provides, and the "animation" very quickly tends to feel "noisy" when

[2015-09-01 14:46] tonini commented on #743
I like the idea, I had the same thought too for Alchemist's README (to remove these noisy GIF's).
But I find it kind of hard to bring all features and highlights on one image at once.

I think it's worth the effort, maybe have a look at jetbrains product presentation images, I quite like the loupe effect. https://www.jetbrains.com/webstorm/?fromMenu

[2015-09-01 20:32] AngelTerrones commented on #740
[code]

With exit code 2 (using `echo $?`).

[2015-09-01 20:44] lunaryorn commented on #740
The output of `head /usr/local/bin/verilator` then?  At a wild guess it's something like `/usr/bin/env perl`, and you don't have a `perl` executable in your Emacs' `exec-path`…

[2015-09-01 20:47] AngelTerrones commented on #740
[code]

[2015-09-01 20:50] AngelTerrones commented on #740
My emacs `exec-path` includes `/usr/bin`, and there is where perl lives.

[2015-09-01 20:52] lunaryorn commented on #740
Where's the shebang?!

[2015-09-01 20:55] AngelTerrones commented on #740
Good question /:

Let me try with the shebang.

[2015-09-01 20:56] atfornes commented on #371
Hello, I am having this issue with Flycheck for javascript: (jshint + jscs)

  @lunaryorn said:

When reading this comment, I would have liked to find which are those checkers who need it, specially if jshint or jscs are among them. I have already search in this github repo, but not found, if the checkers I am asking for need to create those temporary files at the directory.

The issue arise with

[2015-09-01 21:02] AngelTerrones commented on #740
I removed the first line, and put the shebang. It works now, so I will close this, and report to verilator repo.

Thanks for all.

[2015-09-01 21:02] #740 closed

[2015-09-01 21:31] lunaryorn commented on #371
@atfornes Search for `source-inplace` in syntax checker definitions.  Changing the extension won't work generally, though, because some tools are very peculiar about the file extension.

[2015-09-01 21:56] atfornes commented on #371
thanks @lunaryorn, jshint checker definition do have ```source-inplace```. The reason seams to be the same as for eslint: it needs the route for finding the config files https://github.com/flycheck/flycheck/issues/447.

This brings the following question: Does the fact that the source path is needed to find a config file implies that the temporary files have to be created in the directory where th

[2015-09-01 22:07] lunaryorn commented on #371
@atfornes I'm not sure whether I can follow you: jshint searches for configuration files relative to the location of the given source file.  I don't see how this could possible work if the source file is located in a temporary directory…

[2015-09-02 07:02] cpitclaudel commented on #743
I think it's a great idea. I like the gif, but I think in the case of Flycheck features could be conveyed just as clearly by a static image. And if we wanted to highlight specific features, we could add smaller screenshots further down the page.

[2015-09-02 08:40] purcell commented on #743
:+1:

[2015-09-03 18:36] atfornes commented on #371
Hi @lunaryorn,

I have done a shell script that illustrates how this can be done. it should be run from the folder where the file is and takes as parameter the file name. It creates in the $TMPDIR a temporary symbolic link to the closest jshint cofing file (.jshintsrc) and returns the path to that file.

Then, the checker should call jshint with the option --config that takes as a parameter the pa

[2015-09-03 18:47] atfornes commented on #371
the creation of the symbolic link might not be necessary if you can always call from the directory where the file to check is. If not, is a way to be able to run everything from the temporary file directory, just calling ```jshint flycheck_filename.js --config flycheck_link_filename.js```

Also, the code have to be improved, it will fail for the case of two files with the same name

[2015-09-03 19:12] cpitclaudel commented on #371
I'm not sure that relying on external batch scripts and symlinking is something that we should do. Flycheck support on Windows is very good; depending on unix tools would make it a lot harder to maintain cross-platform compatibility.

[2015-09-03 19:16] atfornes commented on #371
I aggree @cpitclaudel.

However, using the scripts is the fastest way I can both scratch my own itch and share the idea on how it can be done (previous attempt was not successful).

[2015-09-04 08:03] lunaryorn commented on #371
@atfornes It's about `.jshintignore`, not `.jshintrc`, see #703.   We already deal with `.jshintrc` in Flycheck, but `jshint` doesn't offer an option for the path to `.jshintignore`.  That is why we need `source-inplace` for `jshint`, and I consider this to be a shortcoming of jshint, and not a bug in Flycheck.

I hope to be able to avoid that with #728, but I will not add complicated code to copy

[2015-09-04 09:58] atfornes commented on #371
Fortunately, a way to specify the ```.jshintignore``` file exists in jshint: ```--exclude-path STRINGPass in a custom jshintignore file path```
I think this allows to avoid source-inplace for jshint checker (but not yet to jscs checker)

Aparently, the excludeFiles of jscs are already being resolved relatively to the config file https://github.com/jscs-dev/node-jscs/pull/234. This would solve #703

[2015-09-04 18:19] aguynamedben commented on #567
:+1: I ran into the same thing, thanks for the answer @itkach

[2015-09-05 10:27] lunaryorn commented on #371
@atfornes I've reverted #703 because it caused other issues as well.

[2015-09-05 16:20] DanPallas opened #744 "tar not found when trying to install from melpa"
When trying to install flycheck thorugh the package manager I get this error:

File error: https://melpa.org/packages/flycheck-20150831.1343.tar, Not found

[2015-09-05 16:30] cpitclaudel commented on #744
Try `package-refresh-contents`? You probably have an outdated package database.

[2015-09-05 16:39] DanPallas commented on #744
You're right. That was it. I haven't used emacs in a few years. Thank you.

On Sat, Sep 5, 2015 at 12:30 PM, Clément Pit--Claudel <
notifications@github.com> wrote:

[2015-09-05 16:39] #744 closed

[2015-09-05 16:41] cpitclaudel commented on #744
My pleasure; enjoy Flycheck!

[2015-09-05 17:07] #731 closed

[2015-09-05 17:08] lunaryorn commented on #736
@kleewho Any news on this?  Do you need further help?

[2015-09-05 17:09] lunaryorn commented on #737
@exu Can you show the output of `phpcs --report=checkstyle foo.php` where `foo.php` is a PHP file with phpcs warnings?

[2015-09-06 16:32] cpitclaudel commented on #743
Here's some code that I use before taking screenshots:

[code]

[2015-09-11 02:01] ngoldbaum opened #745 "Can't select rst checker in a sphinx project"
For some reason I'm unable to select the `rst` checker for `rst-mode`:

[code]

I'm not sure how to get more information about why `predicate` is evaluating to `nil` for the checker.

[2015-09-11 02:02] ngoldbaum commented on #745
This is on OSX and Emacs 24.5.1.

[2015-09-11 02:05] ngoldbaum commented on #745
Ah, I see this is due to: https://github.com/flycheck/flycheck/blob/master/flycheck.el#L7342

Would it be possible to override this predicate and allow me to optionally just check rst syntax errors? Running a full sphinx build on this project is very expensive and not really something you would do in a syntax checker.

[2015-09-11 02:49] cpitclaudel commented on #745
Hi @ngoldbaum,

I think the decision of not using the RST checker is based on the fact that sphinx lets you use extensions beyond basic RST syntax, which cause the simple checker to complain.

Is it very expensive to build your project even with the `-b pseudoxml` and `-q` options, and even when only passing the current file to sphinx? My understanding of the options that we use is that it shouldn

[2015-09-11 02:58] ngoldbaum commented on #745
Yes. In particular building the API docs is very expensive. I don't see any options for `sphinx-build` that would cause it to avoid doing that.

I was able to work around this earlier by exporting READTHEDOCS='True'. This is documented [here](https://read-the-docs.readthedocs.org/en/latest/faq.html) as a variable that's set on the readthedocs.org build service. We skip a bunch of expensive stuff i

[2015-09-11 03:25] cpitclaudel commented on #745
Here's a way to force Flycheck to use the regular checker:

[code]

Of course it's not as convenient as a per-file variable that you could set (though you could put it in an eval form in a .dir-locals.el file).

We already have a way of disabling specific checkers, by the way (`flycheck-disabled-checkers`). Maybe we could relax the RST checker's predicate to only deactivate it when `rst-sphinx` is

[2015-09-11 14:02] lunaryorn commented on #745
@ngoldbaum I'm sceptical whether disabling `rst-sphinx` in favour of `rst` is a good idea, even in your case.  `rst` will report many, many false positives, as every unknown role or directive is an error to `rst`.  I know what I'm talking about, for I've been there myself:  In the beginning Flycheck only had an `rst` syntax checker, and I added `rst-sphinx` when I suffered from many false positive

[2015-09-12 01:56] ngoldbaum commented on #745
So switching to the plain `rst` checker does produce more false positives, but I'm personally able to filter those out. I do understand your desire to not allow this, and the workaround you've provided should be more than enough for future google searchers. I'm going to go ahead and close this issue. Please feel free to reopen if you feel that I've closed this prematurely.

[2015-09-12 09:00] lunaryorn commented on #745
I've reopened this issue, because I think that Flycheck should always provide a reasonable way to fallback to another applicable checker, even if the other checker doesn't gives false positives.

And I think by reordering both checkers and removing the predicate from `rst` we can keep the current default behaviour, but allow to disable the Sphinx checker via the standard disabled checkers feature

[2015-09-13 12:15] #745 closed

[2015-09-13 20:04] runarberg commented on #738
I'm having similar problem with meteor recompiling my app each time flycheck runs. Is there any way to tell flycheck to run eslint with `--no-ignore`. Adding a `!**/.flycheck*.js` line to `.eslintignore` doesn't seem to do the trick.

[2015-09-15 10:17] svenkeidel commented on #629
I want to help implementing this feature. I'm also a NixOS user, so I can test this first hand. I started looking through the source where this function could fit in. I would change [these lines](https://github.com/flycheck/flycheck/blob/master/flycheck.el#L4490-L4496) and pass the results to the `flycheck-substituted-command-wrapper-function`.

A problem are calls of `executable-find`. In NixOS e

[2015-09-15 12:03] svenkeidel commented on #629
I have ignored the `executable-find` problem for now. The prototype is [here](https://github.com/flycheck/flycheck/compare/master...svenkeidel:command-wrapper-function)

[2015-09-16 07:54] exu commented on #737
Hi sorry for delay but I was on vacation. Here you are:

    ❯ phpcs  --report=checkstyle --standard=PSR2 t.php
    <?xml version="1.0" encoding="UTF-8"?>
    <checkstyle version="2.3.3">
    <file name="/home/exu/src/ioki.com.pl/ngmel-dev/t.php">
     <error line="1" column="1" severity="warning" message="A file should declare new symbols (classes, functions, constants, etc.) and cause no other s

[2015-09-16 17:57] jlargentaye opened #747 "Let c/c++-clang use compile-commands.json"
This is a wishlist item.

In a large pre-existing project, each file may be compiled with different options (defines, include paths...). It's not worth defining all the flycheck-clang-* options for each.

However, there is a way to generate a database the unambiguously lists all the compilation options for every compiled file in a project: http://clang.llvm.org/docs/JSONCompilationDatabase.html

A

[2015-09-16 18:08] jlargentaye commented on #747
After further researching, I see that this is already possible via https://github.com/kumar8600/flycheck-clangcheck.

Sorry for the noise! It may be useful to update the doc about this.

[2015-09-17 07:01] lunaryorn commented on #747
@jlargentaye Closing then.

[2015-09-17 07:01] #747 closed

[2015-09-17 22:34] ngoldbaum opened #748 "No obvious way to re-enable a checker after the error count transiently exceeds error limit"
Often when editing a python file, a buffer will transiently exceed `flycheck-checker-error-threshold`. According to the resolution of #476, `flycheck-checker-error-threshold` was added to prevent syntax checking on buffers that produce thousands of errors.

Fair enough, but sometimes I will *transiently* introduce thousands of errors by e.g. typing a function definiton. Before I've finished typing

[2015-09-17 23:21] cpitclaudel commented on #748
Indeed, we can make it easier to re-enable flycheck in these cases. Re-enabling flycheck automatically is a lot harder, as simply parsing the list of errors is a costly process if it is long. Thus we can't just keep running the checker until we get a smaller list.

@lunaryorn: maybe one thing that we could do would be to stop processing the process output if it gets too big? In effect this would p

[2015-09-19 07:55] lunaryorn commented on #748
I tend to blame `flake8`.  As far as I know it's the only syntax checker that regularly hits this limit _transiently_, and I would not like to add workarounds for the issues of just one single syntax checker.

At most, I'd try to disable syntax checkers less aggressively, i.e. by averaging the number of errors over the last three or so checks, and only disable a checker if this average is higher t

[2015-09-19 07:58] lunaryorn opened #749 "Show disabled state in verification results"
flycheck-verify-setup should include whether a checker is disabled or not, see #748.

[2015-09-19 08:38] lunaryorn commented on #629
I like the implementation, though there are some minor issues, or things that I'd like to do differently.  For instance while I understand the motivation for `cons` being the default, it's a rather strange thing from a user's perspective.  I'd rather expect `nil` or something along the lines here.  Please do feel free to open a pull request where we can discuss the details of the implementation.

[2015-09-19 11:44] lunaryorn commented on #743
@tonini @cpitclaudel @purcell I've made a first draft of an annotated screenshot.

![annoted flycheck screenshot 19 09 15 1 40 59 nachm](https://cloud.githubusercontent.com/assets/224922/9976029/109c1a42-5ed4-11e5-9a99-52d48058c8a1.png)

You can see it in action in [this preliminary branch](https://github.com/flycheck/flycheck/tree/annotated-screenshot-for-readme#readme).  If you'd like to work on

[2015-09-19 14:14] ngoldbaum commented on #748
I've in fact already increased `flycheck-checker-error-threshold` which had resolved the issue for the file I'm working on.

[2015-09-19 15:45] svenkeidel commented on #629
Ok, I will improve my implementation and open a pull request in the next few days.